<h3>Instructions:</h3>
<div class="formbox">
  <div class="desc">The site is best viewed in Firefox Version 3+ and Google Chorme</div>
  <div class="divider"></div>
  <div class="desc">The site is best viewed in screen resolution 1027X768</div>
  <div class="divider"></div>
  <div class="desc">To Download Latest Version of Firefox
    <a href="http://download.mozilla.org/?product=firefox-5.0&os=win&lang=en-US" class="link tipTip2" title="Download Firefox" target="_blank">here</a>
  </div>
  <div class="divider"></div>
  <div class="desc">To Download Latest version of Google Chrome
    <a href="http://www.google.com/chrome/index.html?platform=win&hl=en-IN" class="link tipTip2" target="_blank" title="Download Chrome">here</a>
  </div>
  <div class="divider"></div>
</div>