<%= form_for(@shortmessage) do |f| %>
  <% if @shortmessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shortmessage.errors.count, "error") %> prohibited this shortmessage from being saved:</h2>

      <ul>
      <% @shortmessage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
