<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
            <b>
            <i>per page</i>
            </b>
            <%= per_page %> | <%= page_entries_info @sms,:entry_name => 'Message' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>SNo</th>
                <!--<th>Message ID</th>-->
                <th>Mobile No</th>
                <th>Service</th>
                <th>Transaction ID</th>
                <th>Message</th>
                <!--<th>Status</th>-->
                <th>VLE ID</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <% i=1%>
        <% @sms.each do |s| %>
        <tr>
            <td><%= i%></td>
            <!--<td><%= s.msgid %></td>-->
            <td><%= highlight(s.mobile,params[:search]) %></td>
            <td><%= highlight(s.service,params[:search]) %></td>
            <td><%= highlight(s.transaction_id,params[:search]) %></td>
            <td><%= truncate(s.message, :length=>20) %></td>
            <!--<td><%= s.status %></td>-->
            <td><%= UserProfile.find_by_user_id(s.user_id).vle_code %></td>
            <td><%= s.created_at.strftime('%d-%b-%Y')%></td>
            <td><%= link_to 'View', s, :class => "tipTip2",:title => "View Message Details" %>
            </td>
        </tr>
        <% i =  i + 1%>
        <% end %>
    </table>
    <div class="flickr_pagination">
       <%= page_entries_info @sms, :entry_name => 'Message' %> <%= will_paginate @sms, :container => false %>
    </div>
</div>

