<% for sms in  @recent_sms %>
<li class="" id="recent_sms_<%= sms.id%>">
    <dt>
        <%=link_to truncate(sms.transaction_id,:length=>27),shortmessage_path(sms), :class=>"tipTip1", :title=>"View Message" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>