<style type="text/css">
    .tablesorter {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

    .tablesorter td, .tablesorter th {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }

    .tablesorter thead tr, .tablesorter thead tr, .tablesorter tfoot tr {
        border: 1px solid #fff;
        font-size: 11px;
        height: 25px;
        padding: 4px;
    }

    .tablesorter tbody td {
        height: 25px;
        padding: 4px;
        vertical-align: middle;
    }


</style>
<h3 align="center">SMS Report</h3>
<hr/>
<h4 align="left">Date: <%= Date.today.strftime("%d-%m-%Y") %></h4>
<table class="tablesorter">
  <thead align="center">
  <tr>
    <th>
      Mobile
    </th>
    <th>
      Service
    </th>
    <th>
      Transaction ID
    </th>
    <th>
      VLE ID
    </th>

    <th>
      VLE Name
    </th>
    <th>
      Date
    </th>
  </tr>
  </thead>
  <tbody>
  <% @shortmessages.each do |sms| %>
      <tr>
        <td><%= sms.mobile %>        </td>
        <td><%= sms.service %>        </td>
        <td><%= sms.transaction_id %>         </td>
        <td><%= UserProfile.find_by_user_id(sms.user_id).vle_code %>        </td>
        <td><%= User.find_by_id(sms.user_id).name %>         </td>
        <td> <%= sms.created_at.strftime("%d-%m-%Y") %>        </td>
      </tr>
  <% end %>
  </tbody>
</table>