<h3>SMS | View Message Details</h3>
<div class="formbox">
  <div class="desc">Mobile Number : <%= @shortmessage.mobile %></div>
  <div class="divider"></div>
  <div class="desc">Transaction ID : <%= @shortmessage.transaction_id %></div>
  <div class="divider"></div>
  <div class="desc">Service : <%= @shortmessage.service %></div>
  <div class="divider"></div>
  <div class="desc">Message : <%= @shortmessage.message %> </div>
  <div class="divider"></div>
  <div class="desc">VLE Code : <%= UserProfile.find_by_user_id(@shortmessage.user_id).vle_code %> </div>
  <div class="divider"></div>
  <div class="desc">VLE Name : <%= User.find(@shortmessage.user_id).name %> </div>
  <div class="divider"></div>
  <div class="desc">Created At : <%= @shortmessage.created_at.strftime('%d-%m-%Y') %> </div>
  <div class="divider"></div>
</div>
<!--
<div class="bottom_links">
  <%= link_to 'Back to Messages', shortmessages_path, :class=>"more tipTip1", :title => "Back to Messages" %>
</div>-->
