<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @deducations, :entry_name => 'Application' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th class="header">
        <%= sortable 'transaction_id' %>
      </th>
      <th>
        Name
      </th>
      <th>
        Course
      </th>
      <th>
        Fee
      </th>
      <% if has_role? (:vle) %>
      <% else %>
          <th>
            VLE ID
          </th>
          <th>
            VLE Name
          </th>
      <% end %>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @deducations.each do |deducation| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if deducation.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>
          <td>
            <%= highlight(deducation.transaction_id, params[:search]) %>
          </td>
          <td>
            <%= deducation.name %>
          </td>
          <td>
            <%= deducation.course.name %>
          </td>

          <td align="right">
            &#x20B9;.<%= deducation.course.fee %>
          </td>
          <% if has_role? (:vle) %>
          <% else %>
              <td>
                <%= UserProfile.find_by_user_id(deducation.user_id).vle_code %>
              </td>
              <td align="left">
                <%= User.find_by_id(deducation.user_id).name %>
              </td>
          <% end %>

          <td>
            <%= link_to 'View', deducation, :class=>"tipTip2", :title => "View Application Details" %>
            <% if has_role?(:vle) %>
                <%= link_to '| Print', {:action=>'print', :id=>deducation} %>

            <% end %>
            <% if has_role?(:manager) %>
                |
                <%= link_to(deducation.status? ? 'Block' : 'Approve', {:action=>'update_status', :id=>deducation}, :class=>"tipTip2", :title => "Approve (or) Block Transaction") %>
            <% end %>

          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination">
    <%= page_entries_info @deducations, :entry_name => 'Application' %><%= will_paginate @deducations, :container => false %>
  </div>
</div>
