<div class="form-container">
<%= form_for(@deducation) do |f| %>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>) <br/>
      <strong>Note:</strong>
      आवश्यक क्षेत्र (<em>*</em>) के साथ चिह्नित हैं <br/>
    </p>
    <fieldset>
    <%= f.error_messages %>
    <br>

    <div>
      <label for="state">
        Transaction Date//पंजीकरण की तारीख:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :transaction_date, :value=>Time.now.strftime('%d-%b-%Y'), :readonly=>"readonly", :class => "tipTip", :title=>"Transaction Date", :size=>20 %>
    </div>
    <div>
      <label for="state">
        University Name/विश्वविद्यालय के नाम:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:deducation, :university_id, University.all, :id, :name, {:prompt=>'Select University Name'}) %>
      <script type="text/javascript">
          var deducation_university_id = new LiveValidation('deducation_university_id');
          deducation_university_id.add(Validate.Presence, {
              failureMessage: "Select University Name"
          })
      </script>
      <script type="text/javascript">
          $(document).ready(function() {
              $('#coursesblock').hide();

              $('#deducation_university_id').change(function() {
                  var data = $('#deducation_university_id').val();
                  $.ajax({
                      type: "POST",
                      url: "load_courses/" + data,
                      data: data
                  });

              });
          });
      </script>
    </div>
    <div id="coursesblock">
      <label for="state">
        Course Name/पाठ्यक्रम का नाम:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:deducation, :course_id, Course.all, :id, :name, {:prompt=>'Select Course Name'}) %>
      <script type="text/javascript">
          var deducation_course_id = new LiveValidation('deducation_course_id');
          deducation_course_id.add(Validate.Presence, {
              failureMessage: "Select Course Name"
          })
      </script>
    </div>
    <div>
      <label for="application_number">
        Application Number/आवेदन संख्या:
      </label>
      &nbsp;&nbsp;<%= f.text_field :application_number, :id=>"appnumber", :class => "tipTip", :title=>"Enter Application Number", :size=>20 %>
    </div>
    <div>
      <label for="application_number">
        Name of the Student/छात्र का नाम:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :name, :id=>"pholder", :class => "tipTip", :title=>"Enter Name of the Student.<br/>Ex: Prakash", :size=>20 %>
      <script type="text/javascript">
          var pholder = new LiveValidation('pholder');
          pholder.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        Father Name/पिता का नाम:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :father_name, :id=>"iholder", :class => "tipTip", :title=>"Enter Name of the Insured Holder <br/>Ex: Chopra", :size=>20 %>
      <script type="text/javascript">
          var iholder = new LiveValidation('iholder');
          iholder.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        Gender/लिंग:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :gender, 'Male', :checked => true %>Male(पुरुष)<%= f.radio_button :gender, 'Female' %>
      Female(महिला)
    </div>
    <div>
      <label for="application_number">
        Marital Status/वैवाहिक स्थिति:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :marital_status, 'Unmarried', :checked => true %>Un
      Married(अविवाहित)<%= f.radio_button :marital_status, 'Married' %>
      Married(विवाहित)
    </div>
    <div>
      <label for="application_number">
        Physical Handicap/शारीरिक विकलांगता?:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :ph_status, 0, :checked => true %>No(नहीं)<%= f.radio_button :ph_status, 1 %>
      Yes(हां)
    </div>
    <div>
      <label for="application_number">
        BPL/गरीबी रेखा से नीचे:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :bpl, 0, :checked => true %>No(नहीं)<%= f.radio_button :bpl, 1 %>
      Yes(हां)
    </div>
    <div>
      <div>
        <label for="application_number">
          Religion/धर्म:
        </label>
        &nbsp;&nbsp;<%= f.text_field :religion, :id=>"eholder", :class => "tipTip", :title=>"Enter Religion. Ex: Hindu", :size=>20 %>
      </div>

      <label for="address1">
        DOB/जन्म तिथि:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1940, :order => [:day, :month, :year] %>
    </div>
    <div>
      <label for="application_number">
        Address/पता:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :address1, :id=>"address", :class => "tipTip", :title=>"Enter Address", :size=>20 %>
      <script type="text/javascript">
          var address = new LiveValidation('address');
          address.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        Address2:
      </label>
      &nbsp;&nbsp;<%= f.text_field :address2, :id=>"address", :class => "tipTip", :title=>"Enter Address", :size=>20 %>
    </div>
    <div>
      <label for="application_number">
        Village/Town Name/जगह का नाम:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :place, :id=>"place", :class => "tipTip", :title=>"Enter Name of the Village/Town/City", :size=>20 %>
      <script type="text/javascript">
          var place = new LiveValidation('place');
          place.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        PIN/पिन:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :pin, :id=>"pin", :class => "tipTip", :title=>"Enter PIN. Must 6 Digits. Ex:800001", :size=>20 %>
      <script type="text/javascript">
          var pin = new LiveValidation('pin');
          pin.add(Validate.Presence);
          pin.add(Validate.Numericality);
          pin.add(Validate.Length, {
              is: 6
          });
      </script>
    </div>
    <div>
      <label for="application_number">
        Email/ईमेल:
      </label>
      &nbsp;&nbsp;<%= f.text_field :email, :id=>"eholder", :class => "tipTip", :title=>"Enter Email. Ex: abc@abc.com", :size=>20 %>
    </div>

    <div>
      <label for="application_number">
        Mobile/मोबाइल नंबर:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :mobile, :id=>"mobile", :class => "tipTip", :title=>"Enter Mobile Number. Must 10 Digits. Ex:9885976490", :size=>20 %>
      <script type="text/javascript">
          var mobile = new LiveValidation('mobile');
          mobile.add(Validate.Presence);
          mobile.add(Validate.Numericality);
          mobile.add(Validate.Length, {
              is: 10
          });
      </script>
    </div>
    <div>
      <label for="state">
        State/राज्य:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:deducation, :state_id, State.all, :id, :name, {:prompt=>'Select State'}) %>
      <script type="text/javascript">
          var deducation_state_id = new LiveValidation('deducation_state_id');
          deducation_state_id.add(Validate.Presence, {
              failureMessage: "Select State"
          })
      </script>
    </div>
    <div>
      <label for="state">
        District/जनपद:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:deducation, :district_id, District.all, :id, :name, {:prompt=>'Select District'}) %>
      <script type="text/javascript">
          var deducation_district_id = new LiveValidation('deducation_district_id');
          deducation_district_id.add(Validate.Presence, {
              failureMessage: "Select District"
          })
      </script>
    </div>
    <div>
      <label for="application_number">
        Qualifications/योग्यता:<em>*</em>
      </label>

      <table style="border: 0">
        <thead>
        <tr>
          <th>Examination(परीक्षा)</th>
          <th>Board(मंडल)</th>
          <th>Year(वर्ष)</th>
          <th>%</th>
        </tr>

        </thead>
        <tr>
          <td>
            <%= f.text_field :qualification1, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>15, :value=>"Madhyamik(माध्यमिक)" %>
          </td>
          <td>
            <%= f.text_field :board1, :id=>"quali1", :class => "tipTip", :title=>"Enter Board", :size=>15 %>
          </td>
          <td>
            <%= f.text_field :year1, :id=>"quali1", :class => "tipTip", :title=>"Enter Board", :size=>4 %>
          </td>
          <td>
            <%= f.text_field :percentage1, :id=>"quali1", :class => "tipTip", :title=>"Enter Board", :size=>3 %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.text_field :qualification2, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>15, :value=>"Higher Secondary(उच्चतर माध्यमिक)" %>
          </td>
          <td>
            <%= f.text_field :board2, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>15 %>
          </td>
          <td>
            <%= f.text_field :year2, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>4 %>
          </td>
          <td>
            <%= f.text_field :percentage2, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>3 %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.text_field :qualification3, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>15, :value=>"Graduation(स्नातक)" %>
          </td>
          <td>
            <%= f.text_field :board3, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>15 %>
          </td>
          <td>
            <%= f.text_field :year3, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>4 %>
          </td>
          <td>
            <%= f.text_field :percentage3, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>3 %>
          </td>

        </tr>
        <tr>
          <td>
            <%= f.text_field :qualification4, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>15, :value=>"Post Graduation" %>
          </td>
          <td>
            <%= f.text_field :board4, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>15 %>
          </td>
          <td>
            <%= f.text_field :year4, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>4 %>
          </td>
          <td>
            <%= f.text_field :percentage4, :id=>"quali1", :class => "tipTip", :title=>"Enter Qualification", :size=>3 %>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <label for="application_number">
        Amount/रकम:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :amount, :class => "tipTip", :title=>"Enter Fee Amount", :size=>20, :readonly=>"readonly" %>

    </div>
    <div>
      <label for="state">
        Payment Mode/अदायगी का तरीका:<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :payment_mode, 'Cash', :checked => true, :onclick=>'updateForm(this.value);' %>
      Cash(नकद)
      <%= f.radio_button :payment_mode, 'DD', :onclick=>'updateForm(this.value);' %>DD(माँग ड्रॉफ्ट)
      <%= f.radio_button :payment_mode, 'Cheque', :onclick=>'updateForm(this.value);' %>Cheque(चेक)
    </div>
    <div id="transaction_fields"></div>
    <div>
      <label for="application_number">
        Remarks/टिप्पणियाँ:
      </label>
      &nbsp;&nbsp;<%= f.text_area :remarks, :cols=>28, :rows=>5, :class => "tipTip", :title=>"Enter Remarks" %>
    </div>
    <div class="actions">
      <%= f.submit "Save Application/आवेदन प्रपत्र सहेजें", :class=>'btnEdit', :onClick=>"return confirmSubmit()" %>
    </div>
    </fieldset>
<% end %>
</div>
<script language="JavaScript">
    function confirmSubmit() {
        var agree = confirm("Are you sure to Save Application (क्या आप आवेदन प्रपत्र सहेजना चाहते हैं)?");
        if (agree) {
            return true;
        }
        else {
            return false;
        }
    }
    function updateForm(name) {
        var html = $.ajax({
            url: "/deducations/payment_mode?name=" + name,
            async: false
        }).responseText;

    }
    $('#deducation_course_id').change(function() {
        var course_id = $('#deducation_course_id').val();
        $.get("/deducations/get_amount", {id: course_id},
                function(data) {

                });
        return false
    });

</script>
