<div>
  <label for="name">
    Bank Name <em>*</em>
  </label>
  &nbsp;&nbsp;<%= text_field_tag 'deducation[bank_name]', '', :id=>"bankname", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Name of the Bank. Ex: State Bank of India", :size=>20 %>
  <script type="text/javascript">
      var bankname = new LiveValidation('bankname', {
          onlyOnSubmit: true
      });
      bankname.add(Validate.Presence)
  </script>
</div>

<div>
  <label for="name">
    Branch <em>*</em>
  </label>
  &nbsp;&nbsp;<%= text_field_tag 'deducation[branch]', '', :id=>"bbranch", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Name of the Branch. Ex:Patna", :size=>20 %>
  <script type="text/javascript">
      var bbranch = new LiveValidation('bbranch', {
          onlyOnSubmit: true
      });
      bbranch.add(Validate.Presence)
  </script>
</div>
<div>
  <label for="name">
    DD/Cheque Number<em>*</em>
  </label>
  &nbsp;&nbsp;<%= text_field_tag 'deducation[instrument_number]', '', :id=>"inumber", :class => "tipTip", :title=>"Cheque/DD Number. Ex:123456", :size=>20 %>
  <script type="text/javascript">
      var inumber = new LiveValidation('inumber');
      inumber.add(Validate.Presence);
      inumber.add(Validate.Numericality, {
          onlyInteger: true
      });
  </script>
</div>
<div>
  <label for="name">
    Date<em>*</em>
  </label>
  &nbsp;&nbsp;<%= text_field_tag 'deducation[instrument_date]', '', :id=>"idate", :size=>20 %>

</div>
<script>
    $(function() {
        $("#idate").datepicker({dateFormat:'dd-mm-yy', maxDate:'+1m',changeMonth: true,changeYear: true,minDate:'-1m' });
    });
</script>