<% for deducation in  @recent_deducations %>
<li class="" id="recent_course_<%= deducation.id%>">
    <dt>
        <%=link_to truncate(deducation.transaction_id,:length=>27),deducation_path(deducation),:class=>"tipTip1",:title => "View Application Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>