$('#coursesblock').show();
$('#deducation_course_id').empty();
<% for load_course in @load_courses %>
    $('#deducation_course_id').append($("<option></option>").attr("value", '<%= load_course.id %>').text('<%= load_course.name %>'));
<% end %>