<h3>Distance Education | New Application</h3>
<%= render :partial=>'common/funds' %>
<br/><br/>
<div class="list">
  <div class="help_text">
    * Fill the below form for Distance Application (दूरस्थ शिक्षा के आवेदन के लिए फार्म भरें).<br/>
    * Please check all entries before Save (सहेजें से पहले सभी प्रविष्टियों की जाँच करें).
    <br/>* No further modification will not possible after submitting the form (फार्म जमा करने के बाद आगे कोई संशोधन संभव नहीं होगा).
  </div>
<%= render 'form' %>
<%= link_to 'Back to Applications', deducations_path, :class=>"more tipTip1",:title => "Back to All Applications" %>
</div>