<style type="text/css">
  .tclass
  {
      border: 1px solid #000000;
      font-family: Tahoma,verdana,helvetica,sans-serif;
      font-size: 13px;


  }  .tclass1
  {
      /*border: 1px solid #000000;*/
      font-family: Tahoma,verdana,helvetica,sans-serif;
      font-size: 13px;

  }
</style>

<table width="800"  cellspacing="1" cellpadding="4" class="tclass">
  <tr >
    <td width="200">Application Number: <%= @deducation.application_number %></td>
    <td colspan="2"><h4 align="center">Student Application Form</h4></td>
    <td width="176"><%= image_tag("#{RAILS_ROOT}/public/images/ptima1.png") %></td>
  </tr>
  <tr>
    <td>Batch Number</td>
    <td width="16">:</td>
    <td width="452">__________________ (Filled by Center)</td>
    <td rowspan="5" align="center" valign="middle">
      <table width="144" cellspacing="2" cellpadding="1" class="tclass">
      <tr>
        <td width="150" align="center">Affix Recent Photograph</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>Date of Admission</td>
    <td>:</td>
    <td>______________________</td>
  </tr>
  <tr>
    <td>Branch Name</td>
    <td>:</td>
    <td><%= UserProfile.find_by_user_id(@deducation.user_id).district.name %></td>
  </tr>
  <tr>
    <td>Franchisee Name</td>
    <td>:</td>
    <td><%= User.find_by_id(@deducation.user_id).name %></td>
  </tr>
  <tr>
    <td>Course Name</td>
    <td>:</td>
    <td><%= @deducation.course.name %></td>
  </tr>
  <tr>
    <td>Student Name</td>
    <td>:</td>
    <td><%= @deducation.name.titleize %></td>
  </tr>
  <tr>
    <td>Father Name</td>
    <td>:</td>
    <td><%= @deducation.father_name.titleize %></td>
    <td rowspan="12">&nbsp;</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>:</td>
    <td><%= @deducation.gender %></td>
  </tr>
  <tr>
    <td>Marital Status</td>
    <td>:</td>
    <td><%= @deducation.marital_status %></td>
  </tr>
  <tr>
    <td>Physical Handicap</td>
    <td>:</td>
    <td><%= @deducation.ph_status? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <td>BPL</td>
    <td>:</td>
    <td><%= @deducation.bpl? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <td>Religion</td>
    <td>:</td>
    <td> <%= @deducation.religion %></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td>:</td>
    <td><%= @deducation.dob.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td>:</td>
    <td><%= @deducation.address1.titleize %>, <%= @deducation.address2 %>, <%= @deducation.address3 %></td>
  </tr>
  <tr>
    <td>PIN</td>
    <td>:</td>
    <td><%= @deducation.pin %></td>
  </tr>
  <tr>
    <td>District</td>
    <td>:</td>
    <td><%= @deducation.district.name %></td>
  </tr>
  <tr>
    <td>State</td>
    <td>:</td>
    <td> <%= @deducation.state.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td>:</td>
    <td><%= @deducation.email%></td>
  </tr>
  <tr>
    <td>Qualifications</td>
    <td>:</td>
    <td colspan="2">
      <table width="500" align="left" cellpadding="1" cellspacing="2" class="tclass">
      <tr class="tclass">
        <td width="120" align="left" valign="middle" class="tclass">Examination</td>
        <td width="320" align="left" valign="middle" class="tclass">Board</td>
        <td width="53" align="left" valign="middle" class="tclass">Year</td>
        <td width="34" align="left" valign="middle" class="tclass"> %</td>
        </tr>
      <tr>
        <td align="left"><%=  @deducation.qualification1%></td>
        <td align="left"><%= @deducation.board1 %></td>
        <td align="left"><%= @deducation.year1 %></td>
        <td align="left"><%= @deducation.percentage1 %></td>
        </tr>
      <tr>
        <td><%=  @deducation.qualification2%></td>
        <td><%= @deducation.board2 %></td>
        <td><%= @deducation.year2 %></td>
        <td><%= @deducation.percentage2 %></td>
        </tr>
      <tr>
        <td><%=  @deducation.qualification3%></td>
        <td><%= @deducation.board3 %></td>
        <td><%= @deducation.year3%></td>
        <td><%= @deducation.percentage3 %></td>
        </tr>
      <tr>
        <td><%=  @deducation.qualification4%></td>
        <td><%= @deducation.board4 %></td>
        <td><%= @deducation.year4 %></td>
        <td><%= @deducation.percentage4 %></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="4">
      <p align="justify">I do here by declare that information furnished by me in respect of all the above items are true to the best of my knowledge. In case any of the
   above information is found delete incorrect or false at any stage my admission will automatically stand cancel.</p></td>
  </tr>
  <tr>
    <td colspan="4">
      <br/><br/><br/><br/>
      <table width="800"  cellspacing="3" cellpadding="1" class="tclass1">
      <tr>
        <td width="394"><p>Signature of the Center Incharge</P></td>
        <td width="393" align="right"><p>Signature of the Student<br/>(<%= @deducation.name.titleize %>)</p></td>
      </tr>
    </table></td>
  </tr>
</table>


