<h3>Distance Education | View Application Details</h3>
<% unless has_role? (:vle) %>
<% else %>
    <%= render :partial=>'common/funds' %>
<% end %>
<div class="formbox">
  <div class="desc">Transaction ID : <%= @deducation.transaction_id %></div>
  <div class="divider"></div>
  <div class="desc">Transaction Date
    : <%= @deducation.transaction_date %></div>
  <div class="divider"></div>
  <div class="desc">Application Number : <%= @deducation.application_number %></div>
  <div class="divider"></div>
  <div class="desc">Course : <%= @deducation.course.name %></div>
  <div class="divider"></div>
    <div class="desc">University : <%= @deducation.course.university.name %></div>
  <div class="divider"></div>
  <div class="desc">Name : <%= @deducation.name.titleize %></div>
  <div class="divider"></div>
  <div class="desc">Father Name : <%= @deducation.father_name.titleize %></div>
  <div class="divider"></div>
  <div class="desc">Gender : <%= @deducation.gender %></div>
  <div class="divider"></div>
  <div class="desc">Address : <%= @deducation.address1 %>,<%= @deducation.address2 %>
    ,<%= @deducation.address3 %></div>
  <div class="divider"></div>
  <div class="desc">PIN : <%= @deducation.pin %></div>
  <div class="divider"></div>
  <div class="desc">Village/Town Name : <%= @deducation.place.titleize %></div>
  <div class="divider"></div>
  <div class="desc">Mobile : <%= @deducation.mobile %></div>
  <div class="divider"></div>
  <div class="desc">District : <%= @deducation.district.name %></div>
  <div class="divider"></div>
  <div class="desc">State : <%= @deducation.state.name %></div>
  <div class="divider"></div>
  <div class="desc">Amount : <span class="WebRupee">Rs</span>.  <%= number_with_precision(@deducation.amount, :precision => 2) %></div>
  <div class="divider"></div>
  <div class="desc">Payment Mode : <%= @deducation.payment_mode %></div>
  <div class="divider"></div>
  <% if @deducation.payment_mode == 'Cash' %>
  <% else %>
      <div class="desc">DD/Cheque : <%= @deducation.instrument_number %></div>
      <div class="divider"></div>
      <div class="desc">Bank : <%= @deducation.bank_name %></div>
      <div class="divider"></div>
      <div class="desc">Branch : <%= @deducation.branch %></div>
      <div class="divider"></div>
      <div class="desc">Date : <%= @deducation.instrument_date.strftime('%d-%b-%Y') %></div>
      <div class="divider"></div>
  <% end %>
  <div class="desc">VLE ID
    :  <%= UserProfile.find_by_user_id(@deducation.user_id).vle_code %> </div>
  <div class="divider"></div>
  <div class="desc">VLE Name
    :  <%= User.find_by_id(@deducation.user_id).name %> </div>
  <div class="divider"></div>
</div>

<div class="bottom_links">
  <%= link_to 'Back to Applications', deducations_path, :class=>'more tipTip1', :title => "Back to Applications" %>
</div>