<div class="form-container">
<%= form_for(@pancard, :html => {:multipart => true}) do |f| %>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>) <br/>
      <strong>टिप्पण:</strong>
      आवश्यक क्षेत्र (<em>*</em>) के साथ चिह्नित हैं <br/>
    </p>
    <fieldset>
    <%= f.error_messages %>
    <div>
      <label for="name">
        Transaction Date (पंजीकरण की तारीख):<em>*</em>
       </label>
      &nbsp;&nbsp;<%= f.text_field :transaction_date, :id=>"tdate", :value=>Time.now.strftime('%d-%b-%Y'), :readonly=>"readonly", :class => "tipTip", :title=>"Transaction Date", :size=>20 %>
    </div>

    <div>
      <label for="name">
        First Name (प्रथम नाम): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :first_name, :id=>"firstname", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter First Name of the Applicant <br/>आवेदक का प्रथम नाम दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var firstname = new LiveValidation('firstname', {
              onlyOnSubmit: true
          });
          firstname.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="name">
        Middle Name (मध्य नाम):
      </label>
      &nbsp;&nbsp;<%= f.text_field :middle_name, :id=>"middlename", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter Middle Name of Applicant<br/>आवेदक का मध्य नाम दर्ज करें", :size=>20 %>
    </div>
    <div>
      <label for="name">
        Last Name (Surname)(कुलनाम): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :last_name, :id=>"lastname", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter Last/SurName of the Applicant<br/>आवेदक के उपनाम दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var lastname = new LiveValidation('lastname', {
              onlyOnSubmit: true
          });
          lastname.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="name">
        Father Name (पिता का नाम) <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :father_name, :id=>"fathername", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter Father Name <br/>आवेदक के पिता का नाम दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var fathername = new LiveValidation('fathername', {
              onlyOnSubmit: true
          });
          fathername.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="name">
        DoB (जन्म तिथि): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= text_field_tag 'dob', '', :class => "formTextBox", :id=>'dob' %>
      <script type="text/javascript">
          var dob = new LiveValidation('dob', {
              onlyOnSubmit: true
          });
          dob.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="state">
        Gender (लिंग):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :gender, 'Male', :checked => true %>Male (पुस्र्ष)
      <%= f.radio_button :gender, 'Female' %>Female (महिला)
    </div>

    <div>
      <label for="name">
        Address (पता) <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :address1, :id=>"address1", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter Address<br/>आवेदक का पता दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var address1 = new LiveValidation('address1', {
              onlyOnSubmit: true
          });
          address1.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="name">
        Address1
      </label>
      &nbsp;&nbsp;<%= f.text_field :address2, :id=>"address1", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter Address", :size=>20 %>
    </div>
    <div>
      <label for="name">
        Address2
      </label>
      &nbsp;&nbsp;<%= f.text_field :address3, :id=>"address3", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter Address", :size=>20 %>
    </div>
    <div>
      <label for="name">
        Village/Town Name (गांव का नाम): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :place, :id=>"place", :onChange=>"capitalizeMe(this)", :class => "tipTip", :title=>"Enter Village/Town/City Name<br/>गांव का नाम दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var place = new LiveValidation('place', {
              onlyOnSubmit: true
          });
          place.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="name">
        PIN (पिन):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :pincode, :id=>"pincode", :class => "tipTip", :title=>"Enter PIN. Must 6 Digits. Ex:800001", :size=>20 %>
      <script type="text/javascript">
          var pincode = new LiveValidation('pincode');
          pincode.add(Validate.Presence);
          pincode.add(Validate.Numericality);
          pincode.add(Validate.Length, {
              is: 6
          });
      </script>
    </div>
    <div>
      <div>
        <label for="name">
          State (राज्य): <em>*</em>
        </label>
        &nbsp;&nbsp;<%= collection_select(:pancard, :state_id, State.all, :id, :name, {:prompt=>'Select State'}) %>
        <script type="text/javascript">
            var pancard_state_id = new LiveValidation('pancard_state_id', {
                onlyOnSubmit: true
            });
            pancard_state_id.add(Validate.Presence)
        </script>
      </div>
      <label for="name">
        District (ज़िला): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:pancard, :district_id, District.all, :id, :name, {:prompt=>'Select District'}) %>
      <script type="text/javascript">
          var pancard_district_id = new LiveValidation('pancard_district_id', {
              onlyOnSubmit: true
          });
          pancard_district_id.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="name">
        Mobile (मोबाइल): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :mobile, :id=>"mobile", :class => "tipTip", :title=>"Enter Mobile Number. Must be 10 Digits. Ex:9885976490<br/>मोबाइल दर्ज करें.उदाहरण: 9885976490.<br/>एक एसएमएस मोबाइल नंबर के लिए भेजा जाएगा.", :size=>20 %>
      <script type="text/javascript">
          var mobile = new LiveValidation('mobile');
          mobile.add(Validate.Presence);
          mobile.add(Validate.Numericality);
          mobile.add(Validate.Length, {
              is: 10
          });
      </script>
    </div>
    <div>
      <label for="name">
        Telephone(टेलीफोन):
      </label>
      &nbsp;&nbsp;<%= f.text_field :telephone, :id=>"lastname", :class => "tipTip", :title=>"Enter Telephone Number. Ex:04023232323", :size=>20 %>
    </div>
    <div>
      <label for="application_number">
        Amount (रकम):<em>*</em>
      </label>
      <%= image_tag "rs.gif" %><%= f.text_field :amount, :id=>"colpre", :class => "tipTip", :title=>"Enter Amount Collected. Ex:120 <br/>एकत्र नकदी दर्ज करें.", :size=>20 %>
      <script type="text/javascript">
          var colpre = new LiveValidation('colpre');
          colpre.add(Validate.Presence);
          colpre.add(Validate.Numericality, {
              onlyInteger: true
          });
      </script>
    </div>
    <div>
      <label for="state">
        Payment Mode (भुगतान मोड):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :payment_mode, 'Cash', :checked => true, :onclick=>'updateForm(this.value);' %>
      Cash (नकद)
      <%= f.radio_button :payment_mode, 'DD', :onclick=>'updateForm(this.value);' %>DD (डीडी)
      <%= f.radio_button :payment_mode, 'Cheque', :onclick=>'updateForm(this.value);' %>Cheque (चेक)
    </div>
    <div id="transaction_fields"></div>

    <div>
      <label for="pin">
        Identity Proof (पहचान प्रमाण अपलोड करें): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.file_field :idproof, :id=>"idproof" %> <%= image_tag 'icot.gif', :class => "tipTip1", :title=>"Upload ID Proof - Any one of the Following:<br/>1.Driving License<br/>2.Ration Card<br/>3.Voter ID<br/>4.Bank Pass Book<br/>5.Passport<br/>6.SSC Marks List<br/>7.Any Photo Identity Card issued by Government " %>
      <script type="text/javascript">
          var idproof = new LiveValidation('idproof');
          idproof.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="pin">
        Address Proof (पता प्रमाण अपलोड करें): <em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.file_field :addressproof, :id=>"addressproof" %> <%= image_tag 'icot.gif', :class => "tipTip1", :title=>"Upload Address Proof - Any one of the Following:<br/>1.Driving License<br/>2.Ration Card<br/>3.Voter ID<br/>4.Bank Pass Book with latest 6 months statement<br/>5.Electricity Bill<br/>6.Postal Pass Book with 6 months statement<br/>7.Telephone Bill" %>
      <script type="text/javascript">
          var addressproof = new LiveValidation('addressproof');
          addressproof.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="pin">
        DoB Proof (जन्म प्रमाण अपलोड करें):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.file_field :dobproof, :id=>"agreement" %> <%= image_tag 'icot.gif', :class => "tipTip1", :title=>"Upload DoB Proof - Any one of the Following:<br/>1.Driving License<br/>2.Ration Card<br/>3.Voter ID<br/>4.Bank Pass Book with latest 6 months statement<br/>5.Electricity Bill<br/>6.Postal Pass Book with 6 months statement<br/>7.Telephone Bill" %>
      <script type="text/javascript">
          var agreement = new LiveValidation('agreement');
          agreement.add(Validate.Presence)
      </script>
    </div>

    <div>
      <label for="name">
        Remarks (टिप्पणियाँ):
      </label>
      &nbsp;&nbsp;<%= f.text_area :remarks, :cols=>28, :rows=>5,:class=>"tipTip1",:title=>"Enter Remarks" %>
    </div>
    <div class="actions">
      <%= f.submit "Save Application", :class=>"btnEdit", :onClick=>"return confirmSubmit()" %>
    </div>
    </fieldset>
<% end %>
</div>
<script language="JavaScript">
    function confirmSubmit() {
        var agree = confirm("Are you sure to save PAN  Application.?");
        if (agree)
            return true;
        else
            return false;
    }
    function updateForm(name) {
        var html = $.ajax({
            url: "/pancards/payment_mode?name=" + name,
            async: false
        }).responseText;

    }

</script>
<script>
    $(function() {
        $("#dob").datepicker({dateFormat:'dd-mm-yy', maxDate:0,changeMonth: true,changeYear: true,yearRange: '-100' });
    });
</script>