        <div>
            <label for="name">
               Bank Name (बैंक का नाम):<em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[bank_name]','', :id=>"bankname", :onChange=>"capitalizeMe(this)",:class => "tipTip", :title=>"Name of the Bank. Ex: State Bank of India <br/>बैंक का नाम दर्ज करें.उदाहरण: एसबीआई", :size=>20 %>
           <script type="text/javascript">
                var bankname = new LiveValidation('bankname', {
                    onlyOnSubmit: true
                });
                bankname.add(Validate.Presence)
            </script>
        </div>

        <div>
            <label for="name">
              Branch (शाखा): <em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[branch]','', :id=>"bbranch", :onChange=>"capitalizeMe(this)",:class => "tipTip", :title=>"Name of the Branch. Ex:Patna <br/>शाखा का नाम दर्ज करें. उदाहरण: पटना", :size=>20 %>
			          <script type="text/javascript">
                var bbranch = new LiveValidation('bbranch', {
                    onlyOnSubmit: true
                });
                bbranch.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="name">
                DD/Cheque Number (डीडी / चेक संख्या):<em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[instrument_number]','', :id=>"inumber", :class => "tipTip",  :title=>"Cheque/DD Number. Ex:123456<br/>चैक / डीडी संख्या.उदाहरण: 123456", :size=>20%>
          <script type="text/javascript">
                var inumber = new LiveValidation('inumber');
                inumber.add(Validate.Presence);
                inumber.add(Validate.Numericality, {
                    onlyInteger: true
                });
            </script>
        </div>
<div>
  <label for="name">
    Date (तारीख):<em>*</em>
  </label>
  &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[instrument_date]', Time.now.strftime('%d-%m-%Y'), :id=>"idate", :class => "formTextBox" %>

</div>

     <script>
	          $(function() {
		          $( "#idate" ).datepicker({dateFormat:'dd-mm-yy', maxDate:'+1m',changeMonth: true,changeYear: true,minDate:'-1m',currentText: 'Now' });
	          });
      	</script>