<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b>
          <i>per page</i>
        </b>
        <%= per_page %> | <%= page_entries_info @pancards, :entry_name => 'Application' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>SNo</th>
      <th>Status</th>
      <th class="header"><%= sortable 'application number' %></th>
      <th>Transaction Date</th>
      <th>Name</th>
      <th>Amount</th>
      <% if has_role? (:vle) %>
      <% else %>
          <th>VLE ID</th>
          <th>VLE Name</th>
      <% end %>
      <th>Actions</th>
    </tr>
    </thead>
    <% i=1 %>
    <% @pancards.each do |pancard| %>
        <tr>
          <td><%= i %></td>
          <td>
            <% if pancard.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>
          <td><%= highlight(pancard.panapplication_number, params[:search]) %></td>
          <td><%= pancard.transaction_date.strftime("%d-%m-%Y") %></td>
          <td align="left"><%= pancard.first_name %> <%= pancard.middle_name %> <%= pancard.last_name %></td>
          <td align="right">&#x20B9; <%= pancard.amount.to_f %></td>
          <% if has_role? (:vle) %>
          <% else %>
              <td>
                <%= UserProfile.find_by_user_id(pancard.user_id).vle_code %>
              </td>
              <td align="left">
                <%= User.find_by_id(pancard.user_id).name %>
              </td>
          <% end %>
          <td><%= link_to 'View', pancard, :class=>"tipTip2", :title => "View Transaction" %>

            <% if has_role? (:vle) %>
                <%= link_to '| Receipt', {:action=>"print", :id=>pancard}, :class=>"tipTip2", :title => "Print Receipt" %>
            <% end %>
            <% if has_role?(:manager) %>
                |
                <%= link_to(pancard.status? ? 'Block' : 'Approve', {:action=>'update_status', :id=>pancard}, :class=>"tipTip2", :title => "Approve (or) Block Transaction") %>
            <% end %>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  <div class="flickr_pagination">
  <%= page_entries_info @pancards, :entry_name => 'PAN Application' %>  <%= will_paginate @pancards, :container => false %>
  </div>
</div>
