<% for pancard in @recent_pancards %>
    <li class="" id="recent_pancard_<%= pancard.id %>">
      <dt>
        <%= link_to truncate(pancard.panapplication_number, :length=>27), pancard_path(pancard), :class=>"tipTip1", :title=>"View Transaction" %>
      </dt>
      <tt>
        <br/>
      </tt>
    </li>
<% end %>