<h3>PAN | New PAN Application (पैन |नई पैन आवेदन )</h3>
<%= render :partial=>'common/funds' %>
<br/><br/>
<div class="list">
  <div class="help_text">
    * Fill the below form for PAN Application.(पैन आवेदन के लिए नीचे दिए फॉर्म भरें)<br/>
    * Please check all entries before Save.(सहेजें से पहले सभी प्रविष्टियों की जँच करें)
    <br/>*<font color="blue"> FURTHER MODIFICATION WILL NOT POSSIBLE AFTER SUBMITTING THE FORM (फार्म जमा करने के बाद
    आगे कोई संशोधन संभव नहीं होगा).</font>
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to PAN Applications', pancards_path, :class=>'more tipTip1', :title => "Back to PAN Applications" %>
</div>