<p align="right">Customer Copy</p>
<table align="center" class="onetable">
  <tr>
    <td>
      <img src=" https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=<%= @qrcode %>">
    </td>
    <td>
      <h3 align="center">Vedavaag Systems Limited.<br/>Common Services Center - BIHAR<br/>Payment Acknowledgement -
        PAN Application.
      </h3>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<table align="center">
  <tr>
    <td>
      Application Number:
    </td>
    <td>
      <%= @pancard.panapplication_number %>
    </td>
    <td>
      Collection Agent:
    </td>
    <td>
      Vedavaag Systems Limited
    </td>
  </tr>
  <tr>
    <td>
      Transaction ID:
    </td>
    <td>
      <%= @pancard.panapplication_number %>
    </td>
    <td>
      Panchayat/District:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@pancard.user_id).panchayat %> /
      <%= UserProfile.find_by_user_id(@pancard.user_id).district.name %>
    </td>
  </tr>
  <tr>
    <td>
      Date:
    </td>
    <td>
      <%= @pancard.created_at.strftime('%d-%m-%Y') %>
    </td>
    <td>
      VLE ID:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@pancard.user_id).vle_code %>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p align="justify">
  Received with thanks <%= image_tag("#{RAILS_ROOT}/public/images/rs.png") %>&nbsp;<%= @pancard.amount %> (
  Rupees <%= @pancard.amount.to_english.capitalize %> only) through Vedavaag Systems Limited from
  Mr./Ms. <%= @pancard.first_name + @pancard.last_name %> towards PAN application.
</p>
<br/>
<br/>
<p align="right">
  Signature of the VLE
</p>
<p>&nbsp;</p>
-----------------------------------------------------------------------------------------------------------------------------------
<p align="right">VLE Copy</p>
<table align="center" class="onetable">
  <tr>
    <td>
      <img src=" https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=<%= @qrcode %>">
    </td>
    <td>
      <h3 align="center">Vedavaag Systems Limited.<br/>Common Services Center - BIHAR<br/>Payment Acknowledgement -
        PAN Application
      </h3>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<table align="center">
  <tr>
    <td>
      Application Number:
    </td>
    <td>
      <%= @pancard.panapplication_number %>
    </td>
    <td>
      Collection Agent:
    </td>
    <td>
      SARK Systems India Limited
    </td>
  </tr>
  <tr>
    <td>
      Transaction ID:
    </td>
    <td>
      <%= @pancard.panapplication_number %>
    </td>
    <td>
      Panchayat/District:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@pancard.user_id).panchayat %> /
      <%= UserProfile.find_by_user_id(@pancard.user_id).district.name %>
    </td>
  </tr>
  <tr>
    <td>
      Date:
    </td>
    <td>
      <%= @pancard.created_at.strftime('%d-%m-%Y') %>
    </td>
    <td>
      VLE ID:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@pancard.user_id).vle_code %>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p align="justify">
  Received with thanks <%= image_tag("#{RAILS_ROOT}/public/images/rs.png") %>&nbsp;<%= @pancard.amount %> (
  Rupees <%= @pancard.amount.to_english.capitalize %> only) through Vedavaag Systems Limited from
  Mr./Ms. <%= @pancard.first_name + @pancard.last_name %> towards PAN application.
</p>
<br/>
<br/>

<p align="right">
  Signature of the VLE
</p>