<h3>PAN | View PAN Application Details</h3>

<% unless has_role? (:vle) %>
<% else %>
    <div class="list">
    <%= render :partial=>'common/funds' %>
    </div>
<% end %>
<div class="formbox">
  <div class="desc">PAN Application No : <%= @pancard.panapplication_number %></div>
  <div class="divider"></div>
  <div class="desc">Nameof the Applicant
    : <%= @pancard.first_name %>&nbsp;<%= @pancard.middle_name %>&nbsp;<%= @pancard.last_name %></div>
  <div class="divider"></div>
  <div class="desc">Father Name : <%= @pancard.father_name %></div>
  <div class="divider"></div>
  <div class="desc">DOB : <%= @pancard.dob.strftime('%d-%b-%Y') %></div>
  <div class="divider"></div>
  <div class="desc">Gender : <%= @pancard.gender %></div>
  <div class="divider"></div>
  <div class="desc">Address : <%= @pancard.address1 %>,<%= @pancard.address2 %>
    ,<%= @pancard.address2 %></div>
  <div class="divider"></div>
  <div class="desc">PIN : <%= @pancard.pincode %></div>
  <div class="divider"></div>
  <div class="desc">Village/Town Name : <%= @pancard.place %></div>
  <div class="divider"></div>
  <div class="desc">Mobile : <%= @pancard.mobile %></div>
  <div class="divider"></div>
  <div class="desc">Telephone : <%= @pancard.telephone %></div>
  <div class="divider"></div>
  <div class="desc">District : <%= @pancard.district.name %></div>
  <div class="divider"></div>
  <div class="desc">State : <%= @pancard.state.name %></div>
  <div class="divider"></div>
  <div class="desc">Amount : &#x20B9;. <%= @pancard.amount %></div>
  <div class="divider"></div>
  <div class="desc">Payment Mode : <%= @pancard.payment_mode %></div>
  <div class="divider"></div>
  <% if @pancard.payment_mode == 'Cash' %>
  <% else %>
      <div class="desc">DD/Cheque : <%= @pancard.instrument_number %></div>
      <div class="divider"></div>
      <div class="desc">Bank : <%= @pancard.bank_name %></div>
      <div class="divider"></div>
      <div class="desc">Branch : <%= @pancard.branch %></div>
      <div class="divider"></div>
      <div class="desc">Date : <%= @pancard.instrument_date.strftime('%d-%b-%Y') %></div>
      <div class="divider"></div>
  <% end %>
  <div class="desc">Documents :
    <table class="tablesorter" cellspacing="1">
      <thead>
      <tr>
        <th>
          ID Proof
        </th>
        <th>
          Address Proof
        </th>
        <th>
          DOB Proof
        </th>
      </tr>
      </thead>
      <tr>
        <td>
          <% if @pancard.idproof.file? %>
              <a href="<%= @pancard.idproof.url %>" rel="facebox"><%= image_tag @pancard.idproof.url(:small) %></a>
          <% else %>
              <%= image_tag "nophoto.jpg" %>
          <% end %>
        </td>
        <td>
          <% if @pancard.addressproof.file? %>
              <a href="<%= @pancard.addressproof.url %>" rel="facebox"><%= image_tag @pancard.addressproof.url(:small) %></a>
          <% else %>
              <%= image_tag "nophoto.jpg" %>
          <% end %>
        </td>
        <td>
          <% if @pancard.dobproof.file? %>
              <a href="<%= @pancard.dobproof.url %>" rel="facebox"><%= image_tag @pancard.dobproof.url(:small) %></a>
          <% else %>
              <%= image_tag "nophoto.jpg" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="divider"></div>
  <div class="desc">VLE ID
    :  <%= UserProfile.find_by_user_id(@pancard.user_id).vle_code %> </div>
  <div class="divider"></div>
  <div class="desc">VLE Name
    :  <%= User.find_by_id(@pancard.user_id).name %> </div>
  <div class="divider"></div>
</div>
<!-- <%= link_to 'Edit', edit_pancard_path(@pancard) %> | -->
  <div class="bottom_links">
    <%= link_to 'Back to PAN Applications', pancards_path, :class=>'more tipTip1', :title => "Back to PAN Applications" %>
  </div>