<h3>PAN | Manage PAN Applications (Suspense)</h3>
<div class="help_text">
  * List of All PAN Applications.<br/>
  * <b>Status</b>: <font color="red"><b>P</b></font> - Transaction is not
  yet approved by Manager and
  <font color="green"><b>A</b></font>-Approved by the Manager.
</div>

<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b>
          <i>per page</i>
        </b>
        <%= per_page %> | <%= page_entries_info @pancards, :entry_name => 'Application' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>SNo</th>
      <th>Status</th>
      <th class="header"><%= sortable 'application number' %></th>
      <th>Transaction Date</th>
      <th>Name</th>
      <th>Amount (<span class="WebRupee">Rs</span>)</th>
      <% if has_role? (:vle) %>
      <% else %>
          <th>VLE ID</th>
          <th>VLE Name</th>
      <% end %>
      <th>Actions</th>
    </tr>
    </thead>
    <% i=1 %>
    <% @pancards.each do |pancard| %>
        <tr>
          <td><%= i %></td>
          <td>
            <% if pancard.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>
          <td><%= highlight(pancard.panapplication_number, params[:search]) %></td>
          <td><%= pancard.transaction_date.strftime("%d-%m-%Y") %></td>
          <td align="left"><%= pancard.first_name.titleize %> <%= pancard.middle_name.titleize %> <%= pancard.last_name.titleize %></td>
          <td align="right"><%= number_with_precision(pancard.amount, :precision=>2) %></td>
          <% if has_role? (:vle) %>
          <% else %>
              <td>
                <%= UserProfile.find_by_user_id(pancard.user_id).vle_code %>
              </td>
              <td align="left">
                <%= User.find_by_id(pancard.user_id).name %>
              </td>
          <% end %>
          <td><%= link_to 'View', pancard, :class=>"tipTip2", :title => "View Transaction" %>

            <% if has_role?(:manager) %>
                |
                <%= link_to(pancard.status? ? 'Block' : 'Approve', {:action=>'update_status', :id=>pancard}, :class=>"tipTip2", :title => "Approve (or) Block Transaction") %>
                | <%= link_to(pancard.suspense_status? ? 'Revert' : 'Suspense', {:action=>'suspense', :id=>pancard}, :class=>"tipTip2", :title => "Revert Transaction",:confirm => "Do want to Revert the Transaction") %>

            <% end %>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  <div class="flickr_pagination">
  <%= page_entries_info @pancards, :entry_name => 'PAN Application' %>  <%= will_paginate @pancards, :container => false %>
  </div>
</div>



