<div class="form-container">
  <%= form_for(@download, :html => {:multipart => true}) do |f| %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
      </p>
      <fieldset>
        <%= f.error_messages %>
        <div>
          <label for="name">
            Name <em>*</em>
          </label>
         <%= f.text_field :name, :class => "tipTip", :title=>"Enter form Name", :size=>20 %>
        </div>
        <div>
          <label for="name">
            Description
          </label>
          <%= f.text_area :description, :cols=>28, :rows=>5,:class=>"tipTip",:title=>"Enter Description of form" %>
        </div>
        <div>
          <label for="pin">
            Upload File <em>*</em>
          </label>
          <%= f.file_field :upload,:class=>"tipTip2",:title=>"Upload a file from the System" %>
        </div>
        <div class="actions">
          <%= f.submit "Save", :class=>"btnEdit" %>
        </div>
      </fieldset>
  <% end %>
</div>