<h3>Downloads | Manage Downloads</h3>
<% if has_role?(:admin) %>
    <%= link_to 'New', new_download_path, :class=>"more tipTip1", :title => "Add new form for Download" %>
<% end %>
<br/>
<br/>
<div class="help_text">
  * List of All General Forms for download.<br/>
</div>

<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @downloads,:entry_name => 'Form' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th class="header">
                    <%= sortable 'name' %>
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @downloads.each do |download| %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <%= download.name %>

                </td>
                <td>
                    <%= download.description %>
                </td>
                <td>
                    <%= link_to 'Download', download.upload.url, :target =>"_blank",:class=>"tipTip1",:title => "Download Form"%>
                  </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="flickr_pagination">
        <%= page_entries_info @downloads, :entry_name => 'Download' %><%= will_paginate @downloads, :container => false %>
    </div>
</div>