<h3>Downloads | New</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for form Download.<br/>* Please check all entries before Save.
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to Downloads', downloads_path,:class=>"more tipTip1",:title => "Back to Downloads Home" %>
</div>