<h3>Downloads | View Download Details</h3>
<div class="formbox">
<div class="desc">Name : <%= @download.name %></div>
<div class="divider"></div>
<div class="desc">Description : <%= @download.description %> </div>
<div class="divider"></div>
<div class="desc">File : <%= link_to @download.upload_file_name,@download.upload.url,:target=>"_blank" ,:class=>"link"%> </div>
<div class="divider"></div>
<div class="desc">Created By : <%= User.find(@download.created_by).name %> </div>
<div class="divider"></div>
</div>
<br />
<%= link_to 'Back to Downloads', downloads_path,:class=>'more' %>
