<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %> | <%= page_entries_info @policynames %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th><%= t('SNo') %></th>
      <th class="header"><%= sortable 'name' %></th>
      <th><%= t('Description') %></th>
      <th><%= t('Created by') %></th>
      <th>Created On</th>
      <th><%= t('Actions') %></th>
    </tr>
    </thead>
    <% i=1 %>
    <% @policynames.each do |policyname| %>
        <tr>
          <td><%= i %></td>
          <td><%= highlight(policyname.name, params[:search]) %></td>
          <td><%= policyname.description %></td>
          <td><%= @created_name %></td>
          <td><%= policyname.created_at.strftime('%d-%b-%Y') %></td>
          <td><%= link_to t('View'), policyname, :class=>"tipTip2", :title => "View Policy" %>
            <!--<%= link_to t('Edit'), edit_policyname_path(policyname), :class=>"tipTip1", :title => "Edit Policy" %>-->
            <!--<%= link_to 'Delete', policyname, :confirm => 'Do you want really want to delete this policy?', :method => :delete %>--></td>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>

  <div class="flickr_pagination">
   <%= page_entries_info @policynames, :entry_name => 'Policy Name' %> <%= will_paginate @policynames, :container => false %>
  </div>
</div>
