<% for policyname in @recent_policynames %>
    <li class="" id="recent_policyname_<%= policyname.id %>">
      <dt>
        <%= link_to truncate(policyname.name, :length=>25), policyname_path(policyname), :class=>"tipTip1", :title => "View Policy Registration" %>
      </dt>
      <tt>
        <br/>
      </tt>
    </li>
<% end %>