<h3>Policy Names | New Policy Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for New Policy Registration.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Back to Policy Registrations', policynames_path, :class=>'more tipTip1',:title => "Back to Policy Registrations" %>
</div>