<h3>Policy Names | View Policy Details</h3>
<div class="formbox">
<div class="desc">Name : <%= @policyname.name %></div>
<div class="divider"></div>
<div class="desc">Description : <%= @policyname.description %> </div>
<div class="divider"></div>
<div class="desc">Created By : <%= User.find(@policyname.created_by).name %> </div>
<div class="divider"></div>
<div class="desc">Created At : <%= @policyname.created_at.strftime('%d-%b-%Y') %> </div>
<div class="divider"></div>
</div>

<br />
<%= link_to 'Edit', edit_policyname_path(@policyname),:class=>"more" %> &nbsp;
<%= link_to 'Back', policynames_path,:class=>"more" %>
