<div style="left: 378px; right: auto; bottom: auto; top: 230px;">
  <table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td valign="top" rowspan="2">
        <%= %>
      </td>
      <td valign="top">
        <div style="padding-left: 10px;">
          <%= link_to @user.name , '#', :style=>'color:#4b0082;' %>
        </div>
      </td>
    </tr>
    <tr valign="bottom">
      <td>
        <div style="padding-left: 10px;">
          Mobile Number: <%= @user.mobile_number %> <br/>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>