<div class="form-container">
<%= form_for(@insurance) do |f| %>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>) <br/>
      <strong>टिप्पण:</strong>
      आवश्यक क्षेत्र (<em>*</em>) के साथ चिह्नित हैं <br/>

    </p>
    <fieldset>
    <%= f.error_messages %>
    <br>

    <div>
      <label for="state">
        Transaction Date (पंजीकरण की तारीख):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :transaction_date, :value=>Time.now.strftime('%d-%b-%Y'), :readonly=>"readonly", :class => "tipTip", :title=>"Transaction Date<br>पंजीकरण की तारीख", :size=>20 %>
    </div>
    <div>
      <label for="state">
        Policy Name (बीमा के नाम):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:insurance, :policyname_id, Policyname.all, :id, :name, {:prompt=>'Select Policy Name(बीमा पॉलिसी के नाम)'}) %>
      <script type="text/javascript">
          var insurance_policyname_id = new LiveValidation('insurance_policyname_id');
          insurance_policyname_id.add(Validate.Presence, {
              failureMessage: "Select Policy Name (बीमा पॉलिसी के नाम का चयन करें)"
          })
      </script>
    </div>
    <%= f.hidden_field :policy_type, :value=>'New' %>
    <div>
      <label for="application_number">
        Application Number (बीमा अनुप्रयोग संख्या):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :application_number, :id=>"appnumber", :class => "tipTip", :title=>"Enter Application Number<br>बीमा आवेदन संख्या दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var appnumber = new LiveValidation('appnumber');
          appnumber.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        Sum Insured (बीमित राशि):<em>*</em>
      </label>
      <%= image_tag "rs.gif" %><%= f.text_field :sum_assured, :id=>"sumassured", :class => "tipTip", :title=>"Enter Insured Amount. Ex: 100000 <br>बीमित राशि दर्ज करें.उदाहरण: रुपये.100000", :size=>20 %>
      <script type="text/javascript">
          var sumassured = new LiveValidation('sumassured');
          sumassured.add(Validate.Presence);
          sumassured.add(Validate.Numericality, {
              onlyInteger: true
          });
      </script>
    </div>
    <div>
      <label for="application_number">
        Annual Premium (वार्षिक प्रीमियम):<em>*</em>
      </label>
      <%= image_tag "rs.gif" %><%= f.text_field :annual_premium, :id=>"annpre", :class => "tipTip", :title=>"Enter Annual Premium. Ex: 10000<br>वार्षिक प्रीमियम दर्ज करें.उदाहरण: रुपये.10000", :size=>20 %>
      <script type="text/javascript">
          var annpre = new LiveValidation('annpre');
          annpre.add(Validate.Presence);
          annpre.add(Validate.Numericality, {
              onlyInteger: true
          });
      </script>
    </div>
    <div>
      <label for="application_number">
        Modal Premium (मोडल प्रीमियम):<em>*</em>
      </label>
      <%= image_tag "rs.gif" %><%= f.text_field :modal_premium, :id=>"modpre", :class => "tipTip", :title=>"Enter Model Premium <br>मोडल प्रीमियम", :size=>20 %>
      <script type="text/javascript">
          var modpre = new LiveValidation('modpre');
          modpre.add(Validate.Presence);
          modpre.add(Validate.Numericality, {
              onlyInteger: true
          });
      </script>
    </div>
    <div>
      <label for="state">
        Payment Frequency (आवृत्ति):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.select :payment_frequency, Insurance::PAYMENT_FREQUENY, :prompt=>'Select Payment Frequency (भुगतान की आवृत्ति)' %>
      <script type="text/javascript">
          var insurance_payment_frequency = new LiveValidation('insurance_payment_frequency');
          insurance_payment_frequency.add(Validate.Presence, {
              failureMessage: "Select Payment Frequency"
          })
      </script>
    </div>
    <div>
      <label for="application_number">
        Collected Premium (संगृहीत प्रीमिय):<em>*</em>
      </label>
      <%= image_tag "rs.gif" %><%= f.text_field :collected_premium, :id=>"colpre", :class => "tipTip", :title=>"Premium collected from the Customer. Ex: 10000 <br/> संगृहीत प्रीमिय.उदाहरण:10000", :size=>20 %>
      <script type="text/javascript">
          var colpre = new LiveValidation('colpre');
          colpre.add(Validate.Presence);
          colpre.add(Validate.Numericality, {
              onlyInteger: true
          });
      </script>
    </div>
    <div>
      <label for="state">
        Payment Mode (अदायगी का तरीका):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :payment_mode, 'Cash', :checked => true, :onclick=>'updateForm(this.value);' %>Cash (नकद)
      <%= f.radio_button :payment_mode, 'DD', :onclick=>'updateForm(this.value);' %>DD (डीडी)
      <%= f.radio_button :payment_mode, 'Cheque', :onclick=>'updateForm(this.value);' %>Cheque (चेक)
    </div>
    <div id="transaction_fields"></div>
    <div>
      <label for="application_number">
        Age (उम्र):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :age, :id=>"age", :class => "tipTip", :title=>"Enter Age of Insured Customer. Ex:25 <br/>बीमित व्यक्ति की आयु दर्ज करें.उदाहरण: 25", :size=>20 %>
      <script type="text/javascript">
          var age = new LiveValidation('age');
          age.add(Validate.Presence);
          age.add(Validate.Numericality, {
              onlyInteger: true
          });
      </script>
    </div>
    <div>
      <label for="application_number">
        Policy Term (अवधि):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :term, :id=>"term", :class => "tipTip", :title=>"Enter Policy Term(in Years). Ex:10 <br>पॉलिसी की अवधि (वर्षों में).उदाहरण: 10", :size=>20 %>
      <script type="text/javascript">
          var term = new LiveValidation('term');
          term.add(Validate.Presence);
          term.add(Validate.Numericality, {
              onlyInteger: true
          });
      </script>
    </div>
    <div>
      <label for="state">
        State (राज्य):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:insurance, :state_id, State.all, :id, :name, {:prompt=>'Select State (राज्य)'}) %>
      <script type="text/javascript">
          var insurance_state_id = new LiveValidation('insurance_state_id');
          insurance_state_id.add(Validate.Presence, {
              failureMessage: "Select State"
          })
      </script>
    </div>
    <div>
      <label for="state">
        District (ज़िला):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= collection_select(:insurance, :district_id, District.all, :id, :name, {:prompt=>'Select District (जिला)'}) %>
      <script type="text/javascript">
          var insurance_district_id = new LiveValidation('insurance_district_id');
          insurance_district_id.add(Validate.Presence, {
              failureMessage: "Select District"
          })
      </script>
    </div>
    <div>
      <label for="application_number">
        Policy Holder Name (पॉलिसीधारक के नाम):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :policy_holder, :id=>"pholder", :class => "tipTip", :title=>"Enter Name of the Policy Holder.Ex: Prakash", :size=>20 %>
      <script type="text/javascript">
          var pholder = new LiveValidation('pholder');
          pholder.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        Insured Person Name (बीमाकृत व्यक्ति का नाम) :<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :insured_holder, :id=>"iholder", :class => "tipTip", :title=>"Enter Name of the Insured Holder.Ex: Chopra <br/>बीमित व्यक्ति का पूरा नाम दर्ज करें.", :size=>20 %>
      <script type="text/javascript">
          var iholder = new LiveValidation('iholder');
          iholder.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        Gender (लिंग):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.radio_button :gender, 'Male', :checked => true %>Male (पुरुष)<%= f.radio_button :gender, 'Female' %>
      Female (महिला)
    </div>
    <div>
      <label for="address1">
        DOB (जन्म तिथि):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1940, :order => [:day, :month, :year] %>
    </div>
    <div>
      <label for="application_number">
        Address(पता):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :address1, :id=>"address", :class => "tipTip", :title=>"Enter Address<br/>पता दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var address = new LiveValidation('address');
          address.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        Address2:
      </label>
      &nbsp;&nbsp;<%= f.text_field :address2, :id=>"address", :class => "tipTip", :title=>"Enter Address", :size=>20 %>
    </div>
    <div>
      <label for="application_number">
        Village/Town Name (जगह का नाम):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :place, :id=>"place", :class => "tipTip", :title=>"Enter Name of the Village/Town/City <br>जगह का नाम दर्ज करें", :size=>20 %>
      <script type="text/javascript">
          var place = new LiveValidation('place');
          place.add(Validate.Presence)
      </script>
    </div>
    <div>
      <label for="application_number">
        PIN (पिन):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :pin, :id=>"pin", :class => "tipTip", :title=>"Enter PIN. Must 6 Digits. Ex:800001<br>डाक सूचकांक संख्या दर्ज करें.पोस्टल इंडेक्स नंबर 6 अंक होना चाहिए.उदाहरण: 800001", :size=>20 %>
      <script type="text/javascript">
          var pin = new LiveValidation('pin');
          pin.add(Validate.Presence);
          pin.add(Validate.Numericality);
          pin.add(Validate.Length, {
              is: 6
          });
      </script>
    </div>
    <div>
      <label for="application_number">
        Mobile (मोबाइल नंबर):<em>*</em>
      </label>
      &nbsp;&nbsp;<%= f.text_field :mobile, :id=>"mobile", :class => "tipTip", :title=>"Enter Mobile Number. Must 10 Digits. Ex:9885976490 <br/>ग्राहक के मोबाइल नंबर दर्ज करें.मोबाइल नंबर 10 अंकों का होना चाहिए.उदाहरण: 1234567890.<br>एक एसएमएस ग्राहक मोबाइल नंबर के लिए भेजा जाएगा.", :size=>20 %>
      <script type="text/javascript">
          var mobile = new LiveValidation('mobile');
          mobile.add(Validate.Presence);
          mobile.add(Validate.Numericality);
          mobile.add(Validate.Length, {
              is: 10
          });
      </script>
    </div>
    <div>
      <label for="application_number">
        Telephone (टेलीफोन नंबर):
      </label>
      &nbsp;&nbsp;<%= f.text_field :telephone, :id=>"telephone", :class => "tipTip", :title=>"Enter Telephone Number.Ex:01112345678 <br/>टेलीफोन नंबर दर्ज करें.उदाहरण: 01112345678", :size=>20 %>
    </div>
    <div>
      <label for="application_number">
        Remarks (टिप्पणियाँ):
      </label>
      &nbsp;&nbsp;<%= f.text_area :remarks, :cols=>28, :rows=>5,:class => "tipTip", :title=>"Enter Remarks<br/>टिप्पणियां दर्ज करें, यदि कोई हो"%>
    </div>
    <div class="actions">
      <%= f.submit "Save Application/ आवेदन प्रपत्र सहेजें", :class=>'btnEdit', :onClick=>"return confirmSubmit()" %>
    </div>
    </fieldset>
<% end %>
</div>
<script language="JavaScript">
    function confirmSubmit() {
        var agree = confirm("Are you sure to save New Policy Application? No further modification will not possible after submitting the form. (क्या आप नई अनुप्रयोग बचाने के लिए सुनिश्चित है? फार्म जमा करने के बाद आगे कोई संशोधन संभव नहीं होगा)");
        if (agree) {
            return true;}
        else
        {return false;}
    }
    function updateForm(name) {
        var html = $.ajax({
            url: "/insurances/payment_mode?name=" + name,
            async: false
        }).responseText;

    }
</script>
