<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @insurances,:entry_name => 'Policy' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th class="header">
        <%= sortable 'transaction_id', "Transaction No" %>
      </th>
      <th class="header">
        <%= sortable 'transaction_date',"Date" %>
      </th>
      <th>
        <%= sortable 'policy_type','Type' %>
      </th>
      <th>
        Policy Name
      </th>
      <th>
        Policy Holder
      </th>
      <th>
        Sum Assured
      </th>
      <th>
        Premium
      </th>
      <% if has_role? (:vle) %>
      <% else %>
          <th>
            VLE ID
          </th>
          <th>
            VLE Name
          </th>
      <% end %>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @insurances.each do |insurance| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if insurance.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>

          <td>
            <%= highlight(insurance.transaction_id, params[:search]) %>
          </td>
          <td>
            <%= insurance.transaction_date.strftime('%d-%m-%Y') %>
          </td>
          <td>
            <% if insurance.policy_type == "New" %>
                <font color="green"><b>N</b></font>
            <% else %>
                <font color="#8a2be2"><b>R</b></font>
            <% end %>
          </td>
          <td align="left">
            <%= truncate(insurance.policyname.name, :length=>10) %>
          </td>
          <td align="left">
            <%= truncate(insurance.insured_holder, :length=>10) %>
          </td>
          <td align="right">
            <%= insurance.sum_assured %>
          </td>
          <td align="right">
           &#x20B9; <%= insurance.collected_premium.to_f %>
          </td>
          <% if has_role? (:vle) %>
          <% else %>
              <td>
                <%= UserProfile.find_by_user_id(insurance.user_id).vle_code %>
              </td>
              <td align="left">
                <%= User.find_by_id(insurance.user_id).name %>
              </td>
          <% end %>
          <td>
            <%= link_to 'View', insurance,:class => "tipTip2",:title => "View Transaction" %>
            <% if has_role?(:manager) %>
                |
                <%= link_to(insurance.status? ? 'Block' : 'Approve', {:action=>'update_status', :id=>insurance},:class=>"tipTip2",:title => "Approve (or) Block Transaction") %>
            <% end %>

            <% if has_role?(:vle) %>
                <%= link_to '| Courier', {:action=>'courier', :id=>insurance.id},:class=>"tipTip2",:title => "Enter Courier Details" %>
            <% if insurance.status? %>
                    <%= link_to '| Print Verified Receipt', {:action=>'print', :id=>insurance.id},:class=>"tipTip2",:title => "Print Verified Transaction" %>
                <% else %>
                    <%= link_to '| Receipt', {:action=>'receipt', :id=>insurance.id},:class => "tipTip2",:title => "Print Receipt" %>
                <% end %>
            <% end %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination">
   <%= page_entries_info @insurances, :entry_name => 'Policy' %> <%= will_paginate @insurances, :container => false %>
  </div>
</div>