<% for insurance in  @recent_insurances %>
<li class="" id="recent_insurance_<%= insurance.id%>">
    <dt>
        <%=link_to truncate(insurance.transaction_id,:length=>27),insurance_path(insurance), :class=>"tipTip1", :title=>"View Transaction" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>