<h3>Insurances | Update Insurance Courier Details</h3>
<%= render :partial=>'common/funds' %>
<br/><br/>
<div class="list">
  <div class="help_text">
    * Fill the below form for Courier Entry.<br/>* Please check all entries before Save.
  </div>
<div class="form-container">
  <%= form_for(:insurance,@insurance,:url=>{:action=>'courier_update',:id=>@insurance.id}) do |f| %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (
        <em>*</em>)
      </p>
      <fieldset>
        <%= f.error_messages %>
        <div>
          <label for="application_number">
            AWB (Air Way Bill) Number:
            <em>*</em>
          </label>
          <%= f.text_field :awb_number,:id=>"awbnumber",:class => "tipTip", :title=>"Air Way Bill Number. Ex:2585896", :size=>20  %>
          <script type="text/javascript">var awbnumber = new LiveValidation('awbnumber');
          awbnumber.add(Validate.Presence)</script>
        </div>
        <div>
          <label for="address1">
            Date of Dispatch:<em>*</em>
          </label>
          <%= text_field_tag 'insurance[physical_date]', '', :class => "formTextBox", :id=>'physical_date' %>
          <script type="text/javascript">var physical_date = new LiveValidation('physical_date');
          physical_date.add(Validate.Presence)</script>
        </div>
        <div>
          <label for="application_number">
            Courier Name: <em>*</em>
          </label>
          <%= f.text_field :courier,:id=>"courier", :class => "tipTip", :title=>"Courier Name. Ex:BlueDart", :size=>20 %>
          <script type="text/javascript">var courier = new LiveValidation('courier');
          courier.add(Validate.Presence)</script>
        </div>
        <div class="actions">
          <%= f.submit "Save Courier Details",:class=>'btnEdit' %>
        </div>
      </fieldset>
  <% end %>
</div>
<script>
    $(function() {
        $("#physical_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0,changeMonth: true,changeYear: true,currentText: 'Now' });
    });
</script>
<%= link_to 'Back to Insurance', insurances_path, :class=>"more tipTip1",:title => "Back to Insurance" %>
</div>