<h3>Insurances | Date Range Report</h3>
<% if has_role?(:vle)%>
<%= link_to 'New Insurance', new_insurance_path, :class=>"more" %>&nbsp;<%= link_to 'Renew Insurance', {:action=>'renewpolicy'}, :class=>"more" %>&nbsp;
<br/>
<div class="inline">
<div align="right" style="float: right;" class="inline">Available Balance:</div>
</div>
<%end%>
<% if has_role?(:admin)%>
<%= link_to 'Export Date Report', {:action=>'daterangeexport', :start_date=> @start_date? @start_date:'', :end_date => @end_date? @end_date:'' } , :class=>"more" %>
<%= link_to 'EOD Report', {:action=>'eodreport'},:class=>'more'%>
<%= link_to 'Report Home', insurances_path,:class=>'more'%>
<%end%>
<br/>
<br/>

        <%= form_tag  do -%>
          Start Date : <%= text_field_tag 'start_date',  @start_date? @start_date:'' %>
          End Date : <%= text_field_tag 'end_date', @end_date? @end_date:'' %>
          <%= submit_tag 'Get' %>
        <% end -%>
<div class="list">
	<% if @insurances.blank? %>
	Please select valide date range
	<% else %>
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @insurances %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
				<th>
                    Status
                </th>
                <th class="header">
                    <%= sortable 'transaction_id',"Transaction No" %>
                </th>
                <th>
                    Transaction Date
                </th>
                <th>
                    Type
                </th>
                <th>
                    Policy Name
                </th>
                <th>
                    Insured Name
                </th>
                <th>
                    Sum Assured
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @insurances.each do |insurance| %>
            <tr>
                <td>
                    <%= i %>
                </td>
               <td>
                    <% if insurance.status == false %>
						<font color='red'><b>P</b></font>
					<%else%>
						<font color='green'><b>A</b></font>
					<%end%>
                </td>

                <td>
                    <%= highlight(insurance.transaction_id,params[:search]) %>
                </td>
                <td>
                    <%= insurance.transaction_date.strftime('%d-%m-%Y') %>
                </td>
                <td>
                    <%= insurance.policy_type %>
                </td>
                <td>
                    <%= insurance.policyname.name %>
                </td>
                <td>
                    <%= insurance.insured_holder %>
                </td>
                <td>
                    <%= insurance.sum_assured %>
                </td>
                <td>
                    <%= insurance.created_at.strftime('%d-%m-%Y') %>
                </td>
                <td>
                    <%= link_to 'View', insurance %> 
					<% if has_role?(:vle)%>
					| 
					<%= link_to 'Courier Entry', {:action=>'courier', :id=>insurance.id} %> | 
					<!-- <%= link_to 'Print Receipt', {:action=>'print',:id=>insurance.id} %> -->
					<%= link_to 'Receipt', {:action=>'receipt', :id=>insurance.id} %>
					<%end%>
                </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="flickr_pagination">
        <%= will_paginate @insurances, :container => false %>
    </div>
	<% end %>
</div>
       <script>
	          $(function() {
		          $( "#start_date" ).datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
		          $( "#end_date" ).datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
	          });
      	</script>