<h3>Insurances | Manage Insurances (बीमा पॉलिसियों प्रबंधित)</h3>
<% if has_role?(:vle) or has_role?(:dlf_agent) %>
    <%= link_to 'New Policy (नई बीमा)', new_insurance_path, :class=>"more tipTip2", :title => "New Insurance Policy" %>&nbsp;
    <%= link_to 'Renew Policy (नवीनीकृत)', {:action=>'renewpolicy'}, :class=>"more tipTip2", :title => "Renew Insurance Policy" %>
    <%= render :partial=>'common/funds' %>     <br/><br/>
<% end %>
<div class="help_text">
  * List of All Insurance Transactions (सभी बीमा आपके द्वारा बनाई गई नीतियों की सूची).<br/>
  * <b>Type</b>: <font color="green"><b>N</b></font> - New Policy,
  <font color="#8a2be2"><b>R</b></font>-Renew Policy<br/>
  * <b>Status</b>: <font color="red"><b>P</b></font> - Transaction is not
  yet approved by Manager and
  <font color="green"><b>A</b></font>-Approved by the Manager.
</div>

<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %> | <%= page_entries_info @insurances,:entry_name => 'Policy' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th class="header">
        <%= sortable 'transaction_id', "Transaction No" %>
      </th>
      <th class="header">
        <%= sortable 'transaction_date',"Date" %>
      </th>
      <th>
        <%= sortable 'policy_type','Type' %>
      </th>
      <th>
        Policy Name
      </th>
      <th>
        Policy Holder
      </th>
      <th>
        Sum Assured (<span class="WebRupee">Rs</span>)
      </th>
      <th>
        Premium (<span class="WebRupee">Rs</span>)
      </th>
      <% if has_role? (:vle) %>
      <% else %>
          <th>
            VLE ID
          </th>
          <th>
            VLE Name
          </th>
      <% end %>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @insurances.each do |insurance| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if insurance.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>

          <td>
            <%= highlight(insurance.transaction_id, params[:search]) %>
          </td>
          <td>
            <%= insurance.transaction_date.strftime('%d-%m-%Y') %>
          </td>
          <td>
            <% if insurance.policy_type == "New" %>
                <font color="green"><b>N</b></font>
            <% else %>
                <font color="#8a2be2"><b>R</b></font>
            <% end %>
          </td>
          <td align="left">
            <%= truncate(insurance.policyname.name, :length=>10) %>
          </td>
          <td align="left">
            <% if insurance.insured_holder == "" || insurance.insured_holder == nil %>
              ---
            <% else %>
            <%= truncate(insurance.insured_holder.titleize, :length=>10) %>
            <% end %>
          </td>
          <td align="right">

             <%= number_with_precision(insurance.sum_assured, :precision=>2) %>
          </td>
          <td align="right">

             <%= number_with_precision(insurance.collected_premium, :precision=>2) %>
          </td>
          <% if has_role? (:vle) %>
          <% else %>
              <td>
                <%= UserProfile.find_by_user_id(insurance.user_id).vle_code %>
              </td>
              <td align="left">
                <%= truncate( User.find_by_id(insurance.user_id).name,:length=>10) %>
              </td>
          <% end %>
          <td>
            <%= link_to 'View', insurance,:class => "tipTip2",:title => "View Transaction" %>
            <% if has_role?(:manager) %>
                |
                <%= link_to(insurance.status? ? 'Block' : 'Approve', {:action=>'update_status', :id=>insurance},:class=>"tipTip2",:title => "Approve (or) Block Transaction") %>
                | <%= link_to "Suspend", {:action => :suspense, :id=>insurance},:class=>'tipTip2',:title => "Move Transaction to Suspense Account" ,:confirm=>"Do You want to move Transaction to Suspense Account"%>
            <% end %>

            <% if has_role?(:vle) %>
                <%= link_to '| Courier', {:action=>'courier', :id=>insurance.id},:class=>"tipTip2",:title => "Enter Courier Details" %>
            <% if insurance.status? %>
                    <%= link_to '| Print Verified Receipt', {:action=>'print', :id=>insurance.id},:class=>"tipTip2",:title => "Print Verified Transaction" %>
                <% else %>
                    <%= link_to '| Receipt', {:action=>'receipt', :id=>insurance.id},:class => "tipTip2",:title => "Print Receipt" %>
                <% end %>
            <% end %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination">
   <%= page_entries_info @insurances, :entry_name => 'Policy' %> <%= will_paginate @insurances, :container => false %>
  </div>
</div>
