<h3>Insurances | New Insurance Policy Registration (नई बीमा पॉलिसी पंजीकरण)</h3>
<%= render :partial=>'common/funds' %>
<br/><br/>
<div class="list">
  <div class="help_text">
    * Fill the below form for New Insurance Policy.(नई बीमा पॉलिसी के लिए नीचे दिए गए फार्म भरें)<br/>
    * Please check all entries before Save (सहेजें से पहले सभी प्रविष्टियों की जाँच करें).
    <br/>*<font color="blue"> FURTHER MODIFICATION WILL NOT POSSIBLE AFTER SUBMITTING THE FORM (फार्म जमा करने के बाद आगे कोई संशोधन संभव नहीं होगा).</font>
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to Insurance', insurances_path, :class=>"more tipTip1", :title => "Back to Insurance" %>
</div>