<p align="right">Customer Copy</p>
<table align="center" class="onetable">
  <tr>
    <td>
      <%= image_tag("#{RAILS_ROOT}/public/images/dlf-logo.png") %>
    </td>
    <td>
      <h3 align="center">DLF Pramerica Life Insurance Company Ltd. (DPLI)<br/>4th Floor, Building No.9B,<br/>Cybercity,
        DLF Phase III, Gurgaon - 122022</h3>
    </td>
    <td>
      <img src=" https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=<%= @qrcode %>">
    </td>
  </tr>
</table>
<h3 align="center">Payment Acknowledgement</h3>
<table align="center">
  <tr>
    <td>
      <% if @insurance.policy_type == "New" %>
          Application Number:
      <% else %>
          Policy Number:
      <% end %>:
    </td>
    <td>
      <% if @insurance.policy_type == "New" %>
          <%= @insurance.application_number.upcase %>
      <% else %>
          <%= @insurance.policy_number.upcase %>
      <% end %>
    </td>
    <td>
      Collection Agent:
    </td>
    <td>
      Vedavaag Systems Limited
    </td>
  </tr>
  <tr>
    <td>
      Transaction ID:
    </td>
    <td>
      <%= @insurance.transaction_id %>
    </td>
    <td>
      Panchayat/District:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).panchayat %> /
      <%= UserProfile.find_by_user_id(@insurance.user_id).district.name %>
    </td>
  </tr>
  <tr>
    <td>
      Date:
    </td>
    <td>
      <%= @insurance.created_at.strftime('%d-%m-%Y') %>
    </td>
    <td>
      VLE ID:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).vle_code %>
    </td>
  </tr>
</table>
<br/>
<p align="justify">
  Received with thanks <%= image_tag("#{RAILS_ROOT}/public/images/rs.png") %>.<%= @insurance.collected_premium %> (
  Rupees <%= @insurance.collected_premium.to_english.titleize %> only) through Vedavaag System Limited from
  <% if @insurance.policy_type == 'New' %>
      Mr./Ms. <%= @insurance.policy_holder.titleize %>
  <% else %>
      Policy Number <%= @insurance.policy_number %>
  <% end %>
  towards initial Premium deposit for the application/ policy. This
  acknowledgement is subject to acceptance by DLF Pramerica Life Insurance Company Limited of the above application
</p>
<br/>
<br/>
<br/>
<br/>
<p align="right">
  Signature
  <br/>
  On behalf of DLF Pramerica Life Insurance Company Ltd
</p>
<br/><br/><br/><br/>
<p align="left">
  1. This is merely an acknowledgement and a final receipt shall be issued by DPLI only upon acceptance of risk under
  the application form
  <br/>
  2. Until such time deposit of initial premium does not create any obligation on DPLI to underwrite the risk 
  <br/>
  3. Risk under the policy will commence after written acceptance of the application form by DPLI.
  <br/>
  4. In the event that the application form is not accepted by DPLI, any realized initial premium amount will be
  refunded to you.
</p>

-----------------------------------------------------------------------------------------------------------------------------------
<p align="right">VLE Copy</p>
<table align="center" class="onetable">
  <tr>
    <td>
      <%= image_tag("#{RAILS_ROOT}/public/images/dlf-logo.png") %>
    </td>
    <td>
      <h3 align="center">DLF Pramerica Life Insurance Company Ltd. (DPLI)<br/>4th Floor, Building No.9B,<br/>Cybercity,
        DLF Phase III, Gurgaon - 122022</h3>
    </td>
    <td>

      <img src=" https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=<%= @qrcode %>">
    </td>
  </tr>
</table>
<h3 align="center">Payment Acknowledgement</h3>
<table align="center">
  <tr>
    <td>
      <% if @insurance.policy_type == "New" %>
          Application Number:
      <% else %>
          Policy Number:
      <% end %>:
    </td>
    <td>
      <% if @insurance.policy_type == "New" %>
          <%= @insurance.application_number.upcase %>
      <% else %>
          <%= @insurance.policy_number.upcase %>
      <% end %>
    </td>
    <td>
      Collection Agent:
    </td>
    <td>
      Vedavaaag Systems Limited
    </td>
  </tr>
  <tr>
    <td>
      Transaction ID:
    </td>
    <td>
      <%= @insurance.transaction_id %>
    </td>
    <td>
      Panchayat/District
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).panchayat %> /
      <%= UserProfile.find_by_user_id(@insurance.user_id).district.name %>
    </td>
  </tr>
  <tr>
    <td>
      Date:
    </td>
    <td>
      <%= @insurance.created_at.strftime('%d-%m-%Y') %>
    </td>
    <td>
      VLE ID:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).vle_code %>
    </td>
  </tr>
</table>
<br/>
<p align="justify">
  Received with thanks <%= image_tag("#{RAILS_ROOT}/public/images/rs.png") %>
  .<%= @insurance.collected_premium %> ( Rupees <%= @insurance.collected_premium.to_english.titleize %> only) through
  Vedavaag Systems Limited from
  <% if @insurance.policy_type == 'New' %>
      Mr./Ms. <%= @insurance.policy_holder.titleize %>
  <% else %>
      Policy Number <%= @insurance.policy_number %>
  <% end %>
  towards initial Premium deposit for the application/ policy.
  This acknowledgement is subject to acceptance by DLF Pramerica Life Insurance Company Limited of the above application
</p>
<br/>
<p align="right">
  Signature
  <br/>
  On behalf of DLF Pramerica Life Insurance Company Ltd
</p>
