<p align="right">Customer Copy</p>

<table align="center" class="onetable">
  <tr>
    <td>
      <img src=" https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=<%= @qrcode %>">
    </td>
    <td>
      <h3 align="center">Vedavaag Systems Limited.<br/>Common Services Center - BIHAR<br/>Payment Acknowledgement -
        Insurance -
        <% if @insurance.policy_type == "New" %>
            New Policy
        <% else %>
            Renew Policy
        <% end %>
      </h3>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<table align="center">
  <tr>
    <td>
      <% if @insurance.policy_type == "New" %>
          Application Number:
      <% else %>
          Policy Number:
      <% end %>:
    </td>
    <td>
      <% if @insurance.policy_type == "New" %>
          <%= @insurance.application_number.upcase %>
      <% else %>
          <%= @insurance.policy_number.upcase %>
      <% end %>
    </td>
    <td>
      Collection Agent:
    </td>
    <td>
      Vedavaag Systems Limited
    </td>
  </tr>
  <tr>
    <td>
      Transaction ID:
    </td>
    <td>
      <%= @insurance.transaction_id %>
    </td>
    <td>
      Panchayat/District:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).panchayat %> /
      <%= UserProfile.find_by_user_id(@insurance.user_id).district.name %>
    </td>
  </tr>
  <tr>
    <td>
      Date:
    </td>
    <td>
      <%= @insurance.created_at.strftime('%d-%m-%Y') %>
    </td>
    <td>
      VLE ID:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).vle_code %>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p align="justify">
  Received with thanks <%= image_tag("#{RAILS_ROOT}/public/images/rs.png") %>&nbsp;<%= @insurance.collected_premium %> (
  Rupees <%= @insurance.collected_premium.to_english.titleize %> only) through Vedavaag Systems Limited.
  <% if @insurance.policy_type == 'New' %>
  Mr./Ms. <%= @insurance.policy_holder.titleize %>
  <% else %>
  Policy Number <%= @insurance.policy_number%>
  <% end %>
  towards Premium deposit for the application/ policy. This acknowledgement is subject to acceptance by DLF
  Pramerica Life Insurance Company Limited of the above application
</p>
<br/>
<br/>
<p align="right">
  Signature of the VLE
</p>
<p>&nbsp;</p>
-----------------------------------------------------------------------------------------------------------------------------------
<p align="right">VLE Copy</p>
<table align="center" class="onetable">
  <tr>
    <td>
      <img src=" https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=<%= @qrcode %>">
    </td>
    <td>
      <h3 align="center">Vedavaag Systems Limited.<br/>Common Services Center - BIHAR<br/>Payment Acknowledgement -
        Insurance -
        <% if @insurance.policy_type == "New" %>
            New Policy
        <% else %>
            Renew Policy
        <% end %>
      </h3>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<table align="center">
  <tr>
    <td>
      <% if @insurance.policy_type == "New" %>
          Application Number:
      <% else %>
          Policy Number:
      <% end %>:
    </td>
    <td>
      <% if @insurance.policy_type == "New" %>
          <%= @insurance.application_number.upcase %>
      <% else %>
          <%= @insurance.policy_number.upcase %>
      <% end %>
    </td>
    <td>
      Collection Agent:
    </td>
    <td>
      Vedavaag Systems Limited
    </td>
  </tr>
  <tr>
    <td>
      Transaction ID:
    </td>
    <td>
      <%= @insurance.transaction_id %>
    </td>
    <td>
      Panchayat/District:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).panchayat %> /
      <%= UserProfile.find_by_user_id(@insurance.user_id).district.name %>
    </td>
  </tr>
  <tr>
    <td>
      Date:
    </td>
    <td>
      <%= @insurance.created_at.strftime('%d-%m-%Y') %>
    </td>
    <td>
      VLE ID:
    </td>
    <td>
      <%= UserProfile.find_by_user_id(@insurance.user_id).vle_code %>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p align="justify">
  Received with
  thanks <%= image_tag("#{RAILS_ROOT}/public/images/rs.png") %>&nbsp;<%= @insurance.collected_premium %>
  ( Rupees <%= @insurance.collected_premium.to_english.titleize %> only) through SARK Group
  <% if @insurance.policy_type == 'New' %>
  Mr./Ms. <%= @insurance.policy_holder.titleize %>
  <% else %>
  Policy Number <%= @insurance.policy_number%>
  <% end %>
  towards Premium deposit for the application/ policy. This acknowledgement is
  subject to acceptance by DLF Pramerica Life Insurance Company Limited of the above application
</p>
<br/>
<br/>
<p align="right">
  Signature of VLE
</p>
