<h3>Insurances | Renew Insurance Policy (बीमा पॉलिसी नवीनीकृत)</h3>
<%= render :partial=>'common/funds' %>
<br/><br/>
<div class="list">
  <div class="help_text">
    * This form is for Renewal of the Existing Insurance Policy.(यह फार्म बीमा पॉलिसी के नवीकरण के लिए है)<br/>* Please check the entries before Save.(बचाने से पहले सभी प्रविष्टियों की जाँच करें)
    <br/>*<font color="blue"> FURTHER MODIFICATION WILL NOT POSSIBLE AFTER SUBMITTING THE FORM (फार्म जमा करने के बाद आगे कोई संशोधन संभव नहीं होगा).</font>
  </div>
  <div class="form-container">
    <%= form_for @insurance, :url=>{:action=>'createrenew'} do |f| %>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>) <br/>
      <strong>टिप्पण:</strong>
      आवश्यक क्षेत्र (<em>*</em>) के साथ चिह्नित हैं <br/>

    </p>
        <fieldset>
          <%= f.error_messages %>
          <div>
            <label for="state">
              Transaction Date (पंजीकरण की तारीख):<em>*</em>
            </label>
            &nbsp;&nbsp;<%= f.text_field :transaction_date, :value=>Time.now.strftime('%d-%b-%Y'), :readonly=>"readonly", :class => "tipTip", :title=>"Transaction Date", :size=>20 %>
          </div>
          <div>
            <label for="state">
              Policy Name (बीमा के नाम):<em>*</em>
            </label>
            &nbsp;&nbsp;<%= collection_select(:insurance, :policyname_id, Policyname.all, :id, :name, {:prompt=>'Select Policy Name'}) %>
            <script type="text/javascript">
                var insurance_policyname_id = new LiveValidation('insurance_policyname_id');
                insurance_policyname_id.add(Validate.Presence, {
                    failureMessage: "Select Policy Name"
                })
            </script>
          </div>
          <%= f.hidden_field :policy_type, :value=>'Renew' %>
          <div>
            <label for="application_number">
              Policy Number (बीमा पॉलिसी संख्या):<em>*</em>
            </label>
            &nbsp;&nbsp;<%= f.text_field :policy_number, :id=>"appnumber", :class => "tipTip", :title=>"Enter Policy Number. Ex:589568585", :size=>20 %>

            <script type="text/javascript">
                var appnumber = new LiveValidation('appnumber');
                appnumber.add(Validate.Presence)
            </script>
          </div>
          <div>
            <label for="application_number">
              Collected Premium (संगृहीत प्रीमिय):<em>*</em>
            </label>
            <%= image_tag "rs.gif" %><%= f.text_field :collected_premium, :id=>"colpre", :class => "tipTip", :title=>"Enter Premium Amount. Ex: 2000", :size=>20 %>
            <script type="text/javascript">
                var colpre = new LiveValidation('colpre');
                colpre.add(Validate.Presence);
                colpre.add(Validate.Numericality, {
                    onlyInteger: true
                });
            </script>
          </div>
          <div>
            <label for="application_number">
              Mobile (मोबाइल नंबर):<em>*</em>
            </label>
            &nbsp;&nbsp;<%= f.text_field :mobile, :id=>"mobile", :class => "tipTip", :title=>"Enter Mobile Number. Ex: 9885976490", :size=>20 %>
            <script type="text/javascript">
                var mobile = new LiveValidation('mobile');
                mobile.add(Validate.Presence);
                mobile.add(Validate.Numericality);
                mobile.add(Validate.Length, {
                    is: 10
                });
            </script>
          </div>
          <div>
            <label for="state">
              Payment Mode (अदायगी का तरीका):<em>*</em>
            </label>
            &nbsp;&nbsp;
            <%= f.radio_button :payment_mode, 'Cash', :checked => true, :onclick=>'updateForm(this.value);' %>Cash (नकद)
            <%= f.radio_button :payment_mode, 'DD', :onclick=>'updateForm(this.value);' %>DD (डीडी)
            <%= f.radio_button :payment_mode, 'Cheque', :onclick=>'updateForm(this.value);' %>Cheque (चेक)
          </div>
          <div id="transaction_fields"></div>
          <div>
            <label for="application_number">
              Remarks (टिप्पणियाँ):
            </label>
            &nbsp;&nbsp;<%= f.text_area :remarks, :id=>"remarks", :cols=>28, :rows=>5, :class => "tipTip", :title=>"Enter Remarks" %>
          </div>
          <div class="actions">
            <%= f.submit "Save Policy", :class=>'btnEdit', :onClick=>"return confirmSubmit()" %>
          </div>
        </fieldset>
    <% end %>
  </div>
  <%= link_to 'Back to Insurance', insurances_path, :class=>"more tipTip1", :title => "Back to Insurance" %>
</div>
<script language="JavaScript">
    function confirmSubmit() {
        var agree = confirm("Are you sure to save Policy Renewal transaction?");
        if (agree)
            return true;
        else
            return false;
    }
    function updateForm(name) {
        var html = $.ajax({
            url: "/insurances/payment_mode?name=" + name,
            async: false
        }).responseText;

    }
</script>
