<h3>Insurances | View Insurance Details</h3>
<% unless has_role? (:vle) %>
<% else %>
    <%= render :partial=>'common/funds' %>
<% end %>
<div class="formbox">
  <div class="desc">Transaction ID : <%= @insurance.transaction_id %></div>
  <div class="divider"></div>
  <div class="desc">Transaction Date : <%= @insurance.transaction_date.strftime('%d-%m-%Y') %></div>
  <div class="divider"></div>
  <div class="desc">Insurance Type : <%= @insurance.policy_type %></div>
  <div class="divider"></div>
  <div class="desc">Policy Name : <%= @insurance.policyname.name %></div>
  <div class="divider"></div>
  <div class="desc">Payment Mode : <%= @insurance.payment_mode %></div>
  <div class="divider"></div>
  <div class="desc">Premium Collected : <span class="WebRupee">Rs</span>. <%= @insurance.collected_premium %></div>
  <div class="divider"></div>
  <% if @insurance.payment_mode == 'Cash' %>
  <% else %>
      <div class="desc">DD/Cheque Number: <%= @insurance.instrument_number %></div>
      <div class="divider"></div>
      <div class="desc">Bank : <%= @insurance.bank_name %></div>
      <div class="divider"></div>
      <div class="desc">Branch : <%= @insurance.branch_name %></div>
      <div class="divider"></div>
  <% end %>
  <% if @insurance.policy_type == 'New' %>
      <div class="desc">Application Number : <%= @insurance.application_number.upcase %></div>
      <div class="divider"></div>
      <div class="desc">Sum Assured :<span class="WebRupee">Rs</span>. <%= @insurance.sum_assured %></div>
      <div class="divider"></div>
      <div class="desc">Annual Premium :<span class="WebRupee">Rs</span>. <%= @insurance.annual_premium %></div>
      <div class="divider"></div>
      <div class="desc">Modal Premium : <%= @insurance.modal_premium %></div>
      <div class="divider"></div>
      <div class="desc">Payment Frequency : <%= @insurance.payment_frequency %></div>
      <div class="divider"></div>
      <div class="desc">Premium Collected : <span class="WebRupee">Rs</span>. <%= @insurance.collected_premium %></div>
      <div class="divider"></div>
      <div class="desc">Payment Mode : <%= @insurance.payment_mode %></div>
      <div class="divider"></div>
      <% if @insurance.payment_mode= 'Cash' %>
      <% else %>
          <div class="desc">DD/Cheque Number : <%= @insurance.instrument_number %></div>
          <div class="divider"></div>
          <div class="desc">Bank : <%= @insurance.bank_name %></div>
          <div class="divider"></div>
          <div class="desc">Branch : <%= @insurance.branch_name %></div>
          <div class="divider"></div>
      <% end %>
      <div class="desc">Age : <%= @insurance.age %></div>
      <div class="divider"></div>
      <div class="desc">Term : <%= @insurance.term %></div>
      <div class="divider"></div>
      <div class="desc">Policy Holder :
        <% if @insurance.policy_holder == "" || @insurance.policy_holder== nil%>
         ----
        <% else %>
        <%= @insurance.policy_holder.titleize %>
        <% end %>
      </div>
      <div class="divider"></div>
      <div class="desc">Insurance Holder :
        <% if @insurance.insured_holder== "" || @insurance.insured_holder== nil %>
            ---
        <% else %>
        <%= @insurance.insured_holder.titleize %>
         <% end %>
      </div>
      <div class="divider"></div>
      <div class="desc">Gender : <%= @insurance.gender %></div>
      <div class="divider"></div>
      <div class="desc">DOB : <%= @insurance.dob.strftime('%d-%m-%Y') %></div>
      <div class="divider"></div>
      <div class="desc">Address : <%= @insurance.address1 %></div>
      <div class="divider"></div>
      <div class="desc">Place : <%= @insurance.place %></div>
      <div class="divider"></div>
      <div class="desc">District : <%= @insurance.district.name %></div>
      <div class="divider"></div>
      <div class="desc">State : <%= @insurance.state.name %></div>
      <div class="divider"></div>
      <div class="desc">Mobile : <%= @insurance.mobile %></div>
      <div class="divider"></div>
      <div class="desc">Telephone : <%= @insurance.telephone %></div>
      <div class="divider"></div>
      <div class="desc">Remarks : <%= @insurance.remarks %></div>
      <div class="divider"></div>
      <% if @insurance.physical_date? %>
          <div class="desc">Date of Dispatch : <%= @insurance.physical_date.strftime('%d-%m-%Y') %></div>
          <div class="divider"></div>
      <% else %>
          <div class="desc">Date of Dispatch : <%= @insurance.physical_date %></div>
          <div class="divider"></div>
      <% end %>
      <div class="desc">AWB Number : <%= @insurance.awb_number %></div>
      <div class="divider"></div>
      <div class="desc">Courier Name : <%= @insurance.courier %></div>
      <div class="divider"></div>
  <% end %>
  <div class="desc">VLE ID
    :  <%= UserProfile.find_by_user_id(@insurance.user_id).vle_code%> </div>
  <div class="divider"></div>
  <div class="desc">VLE Name
    : <%= User.find_by_id(@insurance.user_id).name %> </div>
  <div class="divider"></div>
</div>

<div class="bottom_links">
  <%= link_to 'Back to Insurance', insurances_path, :class=>"more tipTip1",:title => "Back to Insurances" %>
</div>

<!--<% if has_role?(:vle) %>
    <%= link_to 'Print Receipt', {:action=>'receipt', :id=>params[:id]}, :class=>"more" %>
<% end %>  -->
