<h3>Insurances | Manage Insurances</h3>
<%= link_to 'New Insurance', new_insurance_path, :class=>"more" %>
<br/>
<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @insurances %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
				<th>
                    Status
                </th>
                <th class="header">
                    <%= sortable 'transaction_id' %>
                </th>
                <th>
                    Transaction Date
                </th>
                <th>
                    Type
                </th>
                <th>
                    Policy Name
                </th>
                <th>
                    Insured Name
                </th>
                <th>
                    Sum Assured
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @insurances.each do |insurance| %>
            <tr>
                <td>
                    <%= i %>
                </td>
               <td>
                    <% if insurance.status == false %>
						<font color='red'><b>P</b></font>
					<%else%>
						<font color='green'><b>A</b></font>
					<%end%>
                </td>

                <td>
                    <%= highlight(insurance.transaction_id,params[:search]) %>
                </td>
                <td>
                    <%= insurance.transaction_date.strftime('%d-%m-%Y') %>
                </td>
                <td>
                    <%= insurance.policy_type %>
                </td>
                <td>
                    <%= insurance.policyname.name %>
                </td>
                <td>
                    <%= insurance.insured_holder %>
                </td>
                <td>
                    <%= insurance.sum_assured %>
                </td>
                <td>
                    <%= insurance.created_at.strftime('%d-%m-%Y') %>
                </td>
                <td>
                    <%= link_to 'View', insurance %> | 
					<%= link_to 'Print Receipt', {:action=>'print',:id=>insurance.id} %>
                </td >
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="flickr_pagination">
        <%= will_paginate @insurances, :container => false %>
    </div>
</div>
