body,h1,h2,h3,h4,h5,h6,p,th,td { margin:0; padding:0; }

table { border-collapse:collapse; border-spacing:0; }
th{
font-family: Georgia, "MS Trebuchet",sans-serif;
font-style:normal;
font-weight:normal; }


h1,h2,h3,h4,h5,h6 { font-size:100%; }
p,table {font-size: 75%}

table{
	border: 1px solid #CCC;
	padding: 2px;
}

td{
	border: 1px solid #CCC;
	padding: 5px;
	
}


.onetable{
	border: 0px solid #CCC;
}
.onetable td{
	border: 0px;

}

