<div class="form-container">

  <% form_for([@user], :html => {:multipart => true,:autocomplete=>"off"}) do |f| %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
      </p>
      <fieldset>
        <%= f.error_messages %>
        <div>
          <label for="name">
            Name<em>*</em>
          </label>
          <%= f.text_field :name, :id=>"firstname", :class => "tipTip", :title=>"Enter Full Name of the User", :size=>30 %>
          <script type="text/javascript">
              var firstname = new LiveValidation('firstname');
              firstname.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="email">
            Email<em>*</em>
          </label>
          <%= f.text_field :email, :id=>"email", :class => "tipTip", :title=>"Enter Valid Email Id. Ex:vle@sarkcsc.in", :size=>30 %>
          <script type="text/javascript">
              var email = new LiveValidation('email');
              email.add(Validate.Presence);
              email.add(Validate.Email)
          </script>
        </div>
          <%= f.hidden_field :password,:value=>'123456' %>
          <%= f.hidden_field :password_confirmation,:value=>'123456' %>
        <div>
          <label for="address1">
            Date of Birth<em>*</em>
          </label>
          <%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1940, :order => [:day, :month, :year] %>
          <!--        <%= text_field_tag 'dob', '', :class => "tipTip", :title=>"Transaction Date", :size=>30 %>      -->
          <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Select User Birthday" %>
        </div>
        <div>
          <label for="application_number">
            Gender:<em>*</em>
          </label>
          &nbsp;&nbsp;&nbsp;<%= f.radio_button :gender, 'Male', :checked => true %>
          Male<%= f.radio_button :gender, 'Female' %>Female
          <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Select User Gender" %>
        </div>
        <div>
          <label for="name">
            Father/Husband Name<em>*</em>
          </label>
          <%= f.text_field :father_name, :id=>"fn", :class => "tipTip", :title=>"Enter Father/Husband Name.", :size=>30 %>
          <script type="text/javascript">
              var fn = new LiveValidation('fn');
              fn.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="address1">
            Address<em>*</em>
          </label>
          <%= f.text_field :address1, :id=>"address1", :class => "tipTip", :title=>"Enter Address", :size=>30 %>
          <script type="text/javascript">
              var address1 = new LiveValidation('address1');
              address1.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="address2">
            Address1
          </label>
          <%= f.text_field :address2, :class => "tipTip", :title=>"Enter Address", :size=>30%>
        </div>
        <div>
          <label for="address2">
            Address2
          </label>
          <%= f.text_field :address3, :class => "tipTip", :title=>"Enter Address", :size=>30 %>
        </div>
        <div>
          <label for="place">
            Name of the Village/Town<em>*</em>
          </label>
          <%= f.text_field :place, :id=>"place", :class => "tipTip", :title=>"Enter Name of the Village or Town", :size=>30 %>
          <script type="text/javascript">
              var place = new LiveValidation('place');
              place.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="pin">
            PIN<em>*</em>
          </label>
          <%= f.text_field :pin, :id=>"pin", :class => "tipTip", :title=>"Enter PIN. Must Contain 6 Digits. Ex:800001", :size=>30 %>
          <script type="text/javascript">
              var pin = new LiveValidation('pin');
              pin.add(Validate.Presence);
              pin.add(Validate.Numericality, {
                  minimum: 800001,
                  maximum: 899999
              });
          </script>
        </div>
        <div>
          <label for="phone">
            Mobile<em>*</em>
          </label>
          <%= f.text_field :mobile_number, :id=>"mn", :class => "tipTip", :title=>"Enter Mobile Number. Must Contain 10 Digits. Ex:9885976490", :size=>30 %>
          <script type="text/javascript">
              var mn = new LiveValidation('mn');
              mn.add(Validate.Presence);
              mn.add(Validate.Numericality);
              mn.add(Validate.Length, {
                  is: 10
              });
          </script>
        </div>
        <div>
          <label for="pin">
            Telephone:
          </label>
          <%= f.text_field :phone_number, :class => "tipTip", :title=>"Enter Telephone Number", :size=>30 %>
        </div>
        <div>
          <label for="pin">
            Photo:
          </label>
          <%= f.file_field :avatar,:size=>30 %> <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Upload User Photograph" %>
        </div>
        <div>
          <label for="roles">
            Roles<em>*</em>
          </label>
          <% for role in @roles %>
              <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %><%= role.name.titleize %>
          <% end %>

          <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Select User Role.<br/>1.VLE<br/>2. DLF Agent <br/>3. District Manager<br/>4. District Engineer" %>
        </div>
        <%= render(:partial=>'user_profile_form', :locals=>{:f=>f}) if has_role?(:admin) %>
        <div class="buttonrow">
          <%= f.submit "Create User", :class=>"btnEdit" %>
        </div>
      </fieldset>
  <% end %>
</div>
<script>
    $(function() {
        $("#dob").datepicker({dateFormat:'dd-mm-yy', maxDate:0,changeMonth: true,changeYear: true,yearRange: '-100' });
    });
</script>