        <div>
            <label for="name">
                Bank Name <em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[bank_name]','', :id=>"bankname", :onChange=>"capitalizeMe(this)",:class => "formTextBox" %>
           <script type="text/javascript">
                var bankname = new LiveValidation('bankname', {
                    onlyOnSubmit: true
                });
                bankname.add(Validate.Presence)
            </script>
        </div>

        <div>
            <label for="name">
                Branch <em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[branch]','', :id=>"bbranch", :onChange=>"capitalizeMe(this)",:class => "formTextBox"%>
			          <script type="text/javascript">
                var bbranch = new LiveValidation('bbranch', {
                    onlyOnSubmit: true
                });
                bbranch.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="name">
                DD/Cheque Number<em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[instrument_number]','', :id=>"inumber", :class => "formTextBox" %>
          <script type="text/javascript">
                var inumber = new LiveValidation('inumber');
                inumber.add(Validate.Presence);
                inumber.add(Validate.Numericality, {
                    onlyInteger: true
                });
            </script>
        </div>
<div>
  <label for="name">
    Date<em>*</em>
  </label>
  &nbsp;&nbsp;&nbsp;<%= text_field_tag 'pancard[instrument_date]', Time.now.strftime('%d-%m-%Y'), :id=>"idate", :class => "formTextBox" %>

</div>

     <script>
	          $(function() {
		          $( "#idate" ).datepicker({dateFormat:'dd-mm-yy', maxDate:'+1m',changeMonth: true,changeYear: true,minDate:'-1m',currentText: 'Now' });
	          });
      	</script>