<% unless has_role?(:vle) or current_user.email == "dlf@sarkcsc.in"%>
<% for user in  @recent_users %>
<li class="" id="recent_user_<%= user.id%>">
    <dt>
        <%=link_to truncate(user.name,:length=>27),user_path(user),:class=>"tipTip1",:title => "View User Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>
<%end%>