<%= f.fields_for :user_profile do |profile| %>
<hr>
<div>
	<label for ="state_id">
		State<em>*</em>
	</label>
	<%= profile.collection_select :state_id, State.order('name'), :id, :name ,{:prompt=>'Select State'} %>
  <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Select State of User" %>
             <script type="text/javascript">
                var user_user_profile_attributes_state_id = new LiveValidation('user_user_profile_attributes_state_id');
                user_user_profile_attributes_state_id.add(Validate.Presence)
            </script>
</div>
<div>
	<label for="bidding_zone_id">
		Division
		<em>*</em>
	</label>
	<%= profile.collection_select :division_id,Division.order("name ASC"), :id, :name,{:prompt =>'Select Division'} %>
  <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Select Division of User from the List" %>
             <script type="text/javascript">
                var user_user_profile_attributes_division_id = new LiveValidation('user_user_profile_attributes_division_id');
                user_user_profile_attributes_division_id.add(Validate.Presence)
            </script>
</div>
<div>
	<label for="district_id">
		District
		<em>*</em>
	</label>
	<%= profile.collection_select :district_id, District.order("name ASC"),:id, :name,{:prompt =>'Select District'} %>
  <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Select District of User from the List" %>
             <script type="text/javascript">
                var user_user_profile_attributes_district_id = new LiveValidation('user_user_profile_attributes_district_id');
                user_user_profile_attributes_district_id.add(Validate.Presence)
            </script>
</div>
<div>
	<label for="csc_block_id">
		Block
	</label>
	<%= profile.collection_select :block_id, Block.order("name ASC"),:id, :name,{:prompt =>'Select Block'} %>
  <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Select Block of User from the List" %>
</div>
<div>
	<label for="csc_panchyath ">
		Panchayat
	</label>
	<%= profile.text_field :panchayat,:class => "tipTip", :title=>"Enter Name of the Panchayat.", :size=>30 %>
</div>
<div>
	<label for="csc_panchyath ">
		CSC/CSP Code
	</label>
	<%= profile.text_field :csc_code,:class => "tipTip", :title=>"Enter CSC or CSP Code provided by Government.", :size=>30 %>
</div>
<hr>
<div>
	<label for="csc_panchyath ">
		Caution Deposit<em>*</em>
	</label>
	<%= profile.text_field :available_funds,:class => "tipTip", :title=>"Enter Caution Deposit Amount.", :size=>30,:value=>0 %>
             <script type="text/javascript">
                var user_user_profile_attributes_available_funds = new LiveValidation('user_user_profile_attributes_available_funds');
                user_user_profile_attributes_available_funds.add(Validate.Presence);
                user_user_profile_attributes_available_funds.add(Validate.Numericality, {
                    onlyInteger: true
                });
            </script>
</div>
       <div>
            <label for="state">
                Payment Mode<em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= profile.radio_button :payment_mode, 'Cash', :checked => true,:onclick=>'updateForm(this.value);' %>Cash
			<%= profile.radio_button :payment_mode, 'DD',:onclick=>'updateForm(this.value);' %>DD
			<%= profile.radio_button :payment_mode, 'Cheque',:onclick=>'updateForm(this.value);' %>Cheque
        </div>
 <div id="transaction_fields"></div>
<% end %>

<script language="JavaScript">
  	function updateForm(name){
      var html = $.ajax({
        url: "/users/payment_mode?name="+name,
        async: false
    }).responseText;

	}
</script>