<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @users %>
      </td>
    </tr>
  </table>
  <table class="tablesorter">
    <thead>
    <tr>
      <th>
        S#
      </th>
      <th>
        Status
      </th>

      <th>
        Balance
      </th>
      <th>
        Name
      </th>
      <th class="header">
        <%= sortable 'email' %>
      </th>
      <th>
        Mobile
      </th>
      <th>
        Division
      </th>
      <th>
        District
      </th>
      <th>
        Block
      </th>
      <th>
        Panchayat
      </th>
      <!--<th>-->
      <!--CSC Code-->
      <!--</th>-->
      <th>
        VLE ID
      </th>
      <th>
        Role
      </th>
      <%- if has_role?(:admin) or has_role?(:manager) %>
          <th>
            Actions
          </th>
      <% end %>
    </tr>
    </thead>
    <% i = 1 %>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= model_status user %>
          </td>
          <td>
<!--
            <% if user.avatar.file? %>
                <%= image_tag user.avatar.url(:small) %>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
-->
            <%= user.user_profile.available_funds%>

          </td>
          <td>
            <%= link_to highlight(user.name, params[:search]), user, :class=>"tipTip1 link", :title => "View User Details" %>
          </td>
          <td>
            <%= highlight(user.email, params[:search]) %>
          </td>
          <td>
            <%= highlight(user.mobile_number, params[:search]) %>
          </td>
          <% unless user.user_profile.nil? %>
              <td>
                <%= highlight(user.user_profile.division.name, params[:search]) %>
              </td>
              <td>
                <%= highlight(user.user_profile.district.name, params[:search]) %>
              </td>
              <td>
                <% if user.user_profile.block_id? %>
                    <%= user.user_profile.block.name %>
                <% else %>
                    -
                <% end %>
              </td>
              <td>
                <% if user.user_profile.panchayat? %>
                    <%= user.user_profile.panchayat %>
                <% else %>
                    -
                <% end %>
              </td>
              <!--<td>-->
              <!--<%= user.user_profile.csc_code %>-->
              <!--</td>-->
              <td>
                <%= highlight(user.user_profile.vle_code, params[:search]) %>
              </td>
          <% else %>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
          <% end %>
          <td>
            <% user.roles.each do |role| %>
                <% if role.name == 'district_manager' %>
                    <font color="#ff4500"><b>DM</b></font>
                <% elsif role.name == 'district_engineer' %>
                    <font color="#ff4500"><b>DE</b></font>
                <% elsif role.name == "vle" %>
                    <font color="#dc143c"><b>VLE</b></font>
                <% elsif role.name == "csp" %>
                    <font color="#a52a2a"><b>CSP</b></font>
                <% elsif role.name == "admin" %>
                    <font color="#a52a2a"><b>Admin</b></font>
                <% elsif role.name == "super_admin" %>
                    <font color="#a52a2a"><b>SA</b></font>
                <% elsif role.name == "manager" %>
                    <font color="#a52a2a"><b>Manager</b></font>
                <% elsif role.name == "state_engineer" %>
                    <font color="#a52a2a"><b>SE</b></font>
                <% end %>
            <% end %>
          </td>

          <!--<%= link_to 'View', user, :class => "tipTip2 link", :title=>"View Full Details of the User" %>-->
          <% if has_role?(:admin) %>
              <td>
                <!--<%= link_to 'Edit', edit_user_path(user), :class => "tipTip2 link", :title=>"Edit Details of the User" %>-->
                <%= link_to 'Upload Docs', {:action=>'document', :id=>user.id}, :class => "tipTip2 link", :title=>"Upload Documents:<br/>ID Proof<br/>Address Proof<br/>Agreement" %>
                | <%= link_to 'Reset', {:action=>'resetpass', :id=>user}, :confirm => 'Do you want to Reset Password?', :class => "tipTip2 link", :title=>"Reset User Password" %>
                | <%= link_to 'Activity', {:action=>'activity', :id=>user}, :rel=>'facebox', :class => "tipTip2 link", :title=>"Check User status:<br/>Login Count,Last login, etc." %>
                | <%= link_to 'Add Funds', {:controller => "deposits", :action => "upload", :id=>user}, :class=>"tipTip2 link", :title => "Add Funds to User Account" %>
                <!-- <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %> -->
              </td>
          <% elsif has_role?(:manager) %>
              <td>
                <%= link_to(user.approved? ? 'Block' : 'Approve', {:action=>'update_status', :id=>user}, :title => "Approve (or) Block User", :class=>"tipTip2") %>
              </td>
          <% end %>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  <div class="flickr_pagination">
      <%= page_entries_info @users, :entry_name => 'User' %> <%= will_paginate @users, :container => false %>
  </div>
</div>
