<h3>Users | User Activity</h3>
<div class="formbox">
<div class="showregionnamedesc">
  Name : <%= @user.name %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Email : <%= @user.email %>
</div>
<div class="divider">
</div>
  <div class="showregionnamedesc">
  Login Count :
    <% if @user.login_count == 0 %>
    <font color="red"><b>0</b></font>
    <% else %>
    <font color="green"><b><%= @user.login_count %></b></font>
    <% end %>
</div>
<% if @user.login_count >0 %>
<div class="divider">
</div>
  <div class="showregionnamedesc">
  Last Login at :
    <%if @user.last_login_at?%>
    <%= @user.last_login_at.strftime("%d-%m-%Y, at %H:%M") %>
    <%else%>
    <%end%>
</div>
<div class="divider">
</div>
  <div class="showregionnamedesc">
  Last Login IP : <%= @user.last_login_ip %>
</div>
<div class="divider">
</div>
</div>
<% end %>