<h3>Users | Change Password</h3>
<div class="help_text">
  * Please use this form for Change the password.<br/>
  * Fill the form to change the password
</div>

<div class="form-container">
    <%= form_tag '/users/updatepassword',:remote=>true do %>
    <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
	
    <fieldset>
        <div>
            <label for="password">
                Present Password<em>*</em>
            </label>
           	<%= password_field_tag 'old_password',@old_password, :class=>'formTextBox tipTip',:title=>"Enter Old Password" %>
            <script type="text/javascript">
                var old_password = new LiveValidation('old_password');
                old_password.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="password">
                New Password<em>*</em>
            </label>
           	<%= password_field_tag 'password','', :class=>'formTextBox tipTip',:title=>"Enter New Password.<br/>For more secure use combination of Characters and Numbers" %>
            <script type="text/javascript">
                var password = new LiveValidation('password');
                password.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="password_confirmation">
               New Password Confirmation<em>*</em>
            </label>
            
			<%= password_field_tag 'password_confirmation', '', :class=>'formTextBox tipTip',:title=>"Confirm New Password." %>
            <script type="text/javascript">
                var password_confirmation = new LiveValidation('password_confirmation');
                password_confirmation.add(Validate.Presence);
                password_confirmation.add(Validate.Confirmation, {
                    match: 'password'
                })
            </script>
        </div>
        <div class="buttonrow">
            <%= submit_tag 'Change Password', :class=>"btnEdit" %>
        </div>
    </fieldset>
    <% end %>
</div>
<div class="bottom_links">
  <%= link_to 'profile', :class=>'more tipTip2',:title=>"Show Profile" do %>
      Show Profile
  <% end %> &nbsp;&nbsp;
  <%= link_to 'editprofile', :class=>'more tipTip1',:title=>"Edit Profile" do %>
      Edit Profile
  <% end %>
</div>
