<h3>Users | Upload Documents for User</h3>
<div class="help_text">
Form for Upload the Documents - ID Proof, Address Proof and Agreement Copy (Max 8 Pages).<br/>
After Uploading the Scanned Copies Press the Update button to save the Documents.
</div>
<div class="form-container">
    <% form_for(@user_profile,:url=>{:action=>'upload_document',:id=>@user_profile.id},:html => { :multipart => true }) do |f| %>
    <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
        <%= f.error_messages %>
        <div>
            <label for="pin">
                Identity Proof<em>*</em>
            </label>
            <%= f.file_field :idproof, :id=>"idproof" %>
			<script type="text/javascript">
                var idproof = new LiveValidation('idproof');
                idproof.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="pin">
                Address Proof<em>*</em>
            </label>
            <%= f.file_field :addressproof, :id=>"addressproof" %>
			<script type="text/javascript">
                var addressproof = new LiveValidation('addressproof');
                addressproof.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="pin">
                Agreement Page-1<em>*</em>
            </label>
            <%= f.file_field :agreement1,:id=>"agreement" %>
			<script type="text/javascript">
                var agreement = new LiveValidation('agreement');
                agreement.add(Validate.Presence)
            </script>
        </div>
		        <div>
            <label for="pin">
                Agreement Page-2<em>*</em>
            </label>
            <%= f.file_field :agreement2,:id=>"agreement1" %>
			<script type="text/javascript">
                var agreement1 = new LiveValidation('agreement1');
                agreement1.add(Validate.Presence)
            </script>
        </div>
		        <div>
            <label for="pin">
                Aggrement Page-3
            </label>
            <%= f.file_field :agreement3 %>
        </div>
		        <div>
            <label for="pin">
                Aggrement Page-4
            </label>
            <%= f.file_field :agreement4 %>
        </div>
		        <div>
            <label for="pin">
                Agreement Page-5
            </label>
            <%= f.file_field :agreement5 %>
        </div>
		        <div>
            <label for="pin">
                Agreement Page-6
            </label>
            <%= f.file_field :agreement6 %>
        </div>
		        <div>
            <label for="pin">
                Agreement Page-7
            </label>
            <%= f.file_field :agreement7 %>
        </div>
		        <div>
            <label for="pin">
                Agreement Page-8
            </label>
            <%= f.file_field :agreement8 %>
        </div>
		      <div class="buttonrow">
            <%= f.submit :class=>"btnEdit" %>
        </div>
    </fieldset>
    <% end %>
</div>
