<h3>Users | Update Profile</h3>
<div class="help_text">
  * Please use this form for Change the Profile.<br/>
  * Fill the form to change the Profile<br/>
  * User can change the Name, Address, etc,.
</div>
<div class="form-container">
  <% form_for(@user, :url=>{:action=>'updateprofile', :id=>@user.id}, :html => {:multipart => true}) do |f| %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
      </p>
      <fieldset>
        <%= f.error_messages %>
        <div>
          <label for="name">
            Name<em>*</em>
          </label>
          <%= f.text_field :name, :id=>"firstname", :class => "formTextBox tipTip", :title=>"Full Name of the User" %>
          <script type="text/javascript">
              var firstname = new LiveValidation('firstname');
              firstname.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="email">
            Email<em>*</em>
          </label>
          <%= f.text_field :email, :id=>"email", :class => "formTextBox", :disabled => 'true' %>
          <script type="text/javascript">
              var email = new LiveValidation('email');
              email.add(Validate.Presence);
              email.add(Validate.Email)
          </script>
        </div>

        <div>
          <label for="address1">
            DOB
          </label>
          <%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1940, :order => [:day, :month, :year] %>
        </div>
        <div>
          <label for="application_number">
            Gender:<em>*</em>
          </label>
          &nbsp;&nbsp;&nbsp;<%= f.radio_button :gender, 'Male', :checked => true %>
          Male<%= f.radio_button :gender, 'Female' %>Female
        </div>
        <div>
          <label for="name">
            Father/Husband Name<em>*</em>
          </label>
          <%= f.text_field :father_name, :id=>"fn", :class => "formTextBox tipTip", :title=>"Father/Husband Name" %>
          <script type="text/javascript">
              var fn = new LiveValidation('fn');
              fn.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="address1">
            Address<em>*</em>
          </label>
          <%= f.text_field :address1, :id=>"address1", :class => "formTextBox tipTip", :title=>"Enter Address" %>
          <script type="text/javascript">
              var address1 = new LiveValidation('address1');
              address1.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="address2">
            Address1
          </label>
          <%= f.text_field :address2, :class => "formTextBox tipTip", :title=>"Enter Address" %>
        </div>
        <div>
          <label for="address2">
            Address2
          </label>
          <%= f.text_field :address3, :class => "formTextBox tipTip", :title=>"Enter Address" %>
        </div>
        <div>
          <label for="place">
            Town/Village Name<em>*</em>
          </label>
          <%= f.text_field :place, :id=>"place", :class => "formTextBox tipTip", :title=>"Enter Place Name" %>
          <script type="text/javascript">
              var place = new LiveValidation('place');
              place.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="pin">
            PIN<em>*</em>
          </label>
          <%= f.text_field :pin, :id=>"pin", :class => "formTextBox tipTip", :title=>"Enter PIN. Must Contain 6 Digits.<br/>Ex: 800001" %>
          <script type="text/javascript">
              var pin = new LiveValidation('pin');
              pin.add(Validate.Presence);
              pin.add(Validate.Numericality, {
                  minimum: 800001,
                  maximum: 899999
              });
          </script>
        </div>
        <div>
          <label for="phone">
            Mobile<em>*</em>
          </label>
          <%= f.text_field :mobile_number, :id=>"mn", :class => "formTextBox tipTip", :title=>"Enter Mobile Number<br/>Must Contain 10 Digits.<br/>Ex: 9885976490" %>
          <script type="text/javascript">
              var mn = new LiveValidation('mn');
              mn.add(Validate.Presence);
              mn.add(Validate.Numericality);
              mn.add(Validate.Length, {
                  is: 10
              });
          </script>
        </div>
        <div>
          <label for="pin">
            Phone:
          </label>
          <%= f.text_field :phone_number, :class => "formTextBox tipTip", :title=>"Enter Land Phone Number" %>
        </div>
        <div>
          <label for="pin">
            Photo:
          </label>
          <%= f.file_field :avatar, :class => "tipTip", :title=>"Upload User Photograph" %>
        </div>
        <div class="buttonrow">
          <%= f.submit "Update Profile", :class=>"btnEdit" %>
        </div>
      </fieldset>
  <% end %>
</div>
<div class="bottom_links">
  <%= link_to 'profile', :class=>'more tipTip2',:title=>"Show Profile" do %>
      Show Profile
  <% end %> &nbsp;&nbsp;
  <%= link_to 'changepassword', :class=>'more tipTip1',:title=>"Change Password" do %>
      Change Password
  <% end %>
</div>