<h3>Users | New User Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill below form to create a new VLE, CSP, District Manager or District Engineer.<br/>
    * Check details before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Back to Users', users_path, :class=>'more tipTip1',:title => "Back to Users Home" %>
</div>