<h3>Users | User Profile</h3>
<div class="formbox">
<div class="showregionnamedesc" align="center">
  <% if @user.avatar.file? %>
      <%= image_tag @user.avatar.url(:medium) %>
  <% else %>
      <%= image_tag "missing.png" %>
  <% end %>
</div>
<div class="divider">
</div>
<% unless @user.user_profile.nil? %>
    <div class="showregionnamedesc">
      CSC/CSP Code : <%= @user.user_profile.csc_code %>
    </div>
    <div class="divider">
    </div>
<% end %>
<div class="showregionnamedesc">
  Name : <%= @user.name %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Email : <%= @user.email %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Father/Husband Name : <%= @user.father_name %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  DOB : <%= @user.dob %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Gender : <%= @user.gender %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Address : <%= @user.address1 %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Pincode : <%= @user.pin %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Mobile : <%= @user.mobile_number %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Telephone : <%= @user.phone_number %>
</div>
<div class="divider">
</div>
<% unless @user.user_profile.nil? %>
    <div class="showregionnamedesc">
      State : <%= @user.user_profile.state.name %>
    </div>
    <div class="divider">
    </div>
    <div class="showregionnamedesc">
      Division : <%= @user.user_profile.division.name %>
    </div>
    <div class="divider">
    </div>
    <div class="showregionnamedesc">
      District : <%= @user.user_profile.district.name %>
    </div>
    <div class="divider">
    </div>
    <div class="showregionnamedesc">
      Block : <%= @user.user_profile.block.name %>
    </div>
    <div class="divider">
    </div>
    <div class="showregionnamedesc">
      Panchayat : <%= @user.user_profile.panchayat %>
    </div>
    <div class="divider">
    </div>
    <div class="showregionnamedesc">
      Documents :
      <table class="tablesorter" cellspacing="1">
        <thead>
        <tr>
          <th>
            ID Proof
          </th>
          <th>
            Address Proof
          </th>
          <th>
            Agreement P-1
          </th>
          <th>
            Agreement P-2
          </th>
          <th>
            Agreement P-3
          </th>
          <th>
            Agreement P-4
          </th>
          <th>
            Agreement P-5
          </th>
          <th>
            Agreement P-6
          </th>
          <th>
            Agreement P-7
          </th>
          <th>
            Agreement P-8
          </th>
        </tr>
        </thead>
        <tr>
          <td>
            <% if @user.user_profile.idproof.file? %>
                <a href="<%= @user.user_profile.idproof.url %>" rel="facebox"><%= image_tag @user.user_profile.idproof.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.addressproof.file? %>
                <a href="<%= @user.user_profile.addressproof.url %>" rel="facebox"><%= image_tag @user.user_profile.addressproof.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.agreement1.file? %>
                <a href="<%= @user.user_profile.agreement1.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement1.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.agreement2.file? %>
                <a href="<%= @user.user_profile.agreement2.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement2.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.agreement3.file? %>
                <a href="<%= @user.user_profile.agreement3.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement3.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.agreement4.file? %>
                <a href="<%= @user.user_profile.agreement4.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement4.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>

          </td>
          <td>
            <% if @user.user_profile.agreement5.file? %>
                <a href="<%= @user.user_profile.agreement5.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement5.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.agreement6.file? %>
                <a href="<%= @user.user_profile.agreement6.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement6.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.agreement7.file? %>
                <a href="<%= @user.user_profile.agreement7.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement7.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <% if @user.user_profile.agreement8.file? %>
                <a href="<%= @user.user_profile.agreement8.url %>" rel="facebox"><%= image_tag @user.user_profile.agreement8.url(:small) %></a>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
        </tr>
      </table>

    </div>
    <div class="divider">
    </div>
<% end %>
<div class="showregionnamedesc">
  Created By : <%= User.find(@user.created_by).name %>
</div>
<div class="divider">
</div>
<div class="showregionnamedesc">
  Created At : <%= @user.created_at.strftime('%d-%m-%Y') %>
</div>
<div class="divider">
</div>
</div>
<div class="bottom_links">
  <%= link_to 'editprofile', :class=>'more tipTip2',:title=>"Edit Profile" do %>
      Edit Profile
  <% end %> &nbsp;&nbsp;
  <%= link_to 'changepassword', :class=>'more tipTip1',:title=>"Change Password" do %>
      Change Password
  <% end %>
</div>
