<h3>Users | Import Users</h3>
<div class="help_text">
  * To import Users, Please upload CSV file.<br/>
  * Download CSV format click here.
</div>

<% form_for :upload, :url=>{:controller=>"users",:action=>"csv_import"},:html => { :multipart => true } do |f| -%>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
      <%= f.error_messages %>
      <div>
        <label for="file">
          Select CSV File for Import<em>*</em>
        </label>
        <%= f.file_field :file,:size=>30,:id=>"ufile" %> <%= image_tag 'icot.gif',:class=>"tipTip1",:title => "Upload CSV File to Import Users " %>
        <script type="text/javascript">
             var ufile = new LiveValidation('ufile');
             ufile.add(Validate.Presence)
         </script>

      </div>
       <div class="buttonrow">
          <%= f.submit "Upload CSV File", :class=>"btnEdit" %>
        </div>
      </fieldset>
<% end -%>
<div class="bottom_links">
  <%= link_to "Back to All Users",users_path,:class=>"more tipTip1",:title=>"Back to All Users" %>
</div>