<h3>Users | Verificatiion of Users</h3>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @users %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th>
        Photo
      </th>
      <th class="header">
        <%= sortable 'name' %>
      </th>
      <th>
        Email
      </th>
      <th>
        Mobile
      </th>
      <th>
        Division
      </th>
      <th>
        District
      </th>
      <th>
        Block
      </th>
      <th>
        Panchayat
      </th>
      <th>
        CSC Code
      </th>
      <th>
        VLE ID
      </th>
      <th>
        Role
      </th>
      <th>
        Created On
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <% i = 1 %>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if user.approved? %>
                <font color="green">
                  <b>A</b>
                </font>
            <% else %>
                <font color="red">
                  <b>P</b>
                </font>
            <% end %>
          </td>
          <td>
            <% if user.avatar.file? %>
                <%= image_tag user.avatar.url(:small) %>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.mobile_number %>
          </td>
          <% unless user.user_profile.nil? %>
              <td>
                <%= user.user_profile.division.name %>
              </td>
              <td>
                <%= user.user_profile.district.name %>
              </td>
              <td>
                <% if user.user_profile.block_id? %>
                    <%= user.user_profile.block.name %>
                <% else %>
                    -
                <% end %>
              </td>
              <td>
                <%= user.user_profile.panchayat %>
              </td>
              <td>
                <%= user.user_profile.csc_code %>
              </td>
               <td>
                <%= user.user_profile.vle_code %>
              </td>
          <% else %>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
          <% end %>
          <td>
            <% user.roles.each do |role| %>
                <% if role.name == 'district_manager' %>
                    DM
                <% elsif role.name == 'district_engineer' %>
                    DE
                <% else %>
                    <%= role.name.upcase %>
                <% end %>
            <% end %>
          </td>
          <td>
            <%= user.created_at.strftime('%d-%m-%Y') %>
          </td>
          <td>
            <%= link_to 'View', user %>|
            <%= link_to(user.approved? ? 'Block' : 'Approve', {:action=>'update_status', :id=>user}) %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
