<% for state in  @recent_states %>
<li class="" id="recent_state_<%= state.id%>">
    <dt>
        <%=link_to truncate(state.name,:length=>27),state_path(state),:class => "tipTip1",:title => "View State Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>