<div class="help_text">
  * List of All States.<br/>
</div>
  <div class="list">
      <table width="100%">
          <tr>
              <td align="right">
              <b>
              <i>per page</i>
              </b>
              <%= per_page %> | <%= page_entries_info @states,:entry_name => 'State' %>
              </td>
          </tr>
      </table>
      <table class="tablesorter" cellspacing="1">
          <thead>
              <tr>
                  <th>SNo</th>
                  <th class="header"><%= sortable 'name'%></th>
                  <th>Short Name</th>
                  <th>Description</th>
                  <th>Created By</th>
                  <th>Created On</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <% i=1%>
          <% @states.each do |state| %>
          <tr>
              <td><%= i%></td>
              <td><%= highlight(state.name,params[:search]) %></td>
              <td><%=state.short_code %></td>
              <td><%= state.description %></td>
              <td><%= @created_name %></td>
              <td><%= state.created_at.strftime('%d-%b-%Y')%></td>
              <td><%= link_to 'View', state, :class => "tipTip2",:title => "View State Details" %> |
              <%= link_to 'Edit', edit_state_path(state),:class => "tipTip2",:title => "Edit State Details" %>
              </td>
          </tr>
          <% i =  i + 1%>
          <% end %>
      </table>
      <div class="flickr_pagination1">
       <%= page_entries_info @states, :entry_name => 'State' %>   <%= will_paginate @states, :container => false %>
      </div>
  </div>
