<h3>States | Edit State</h3>
<div class="list">
  <div class="help_text">
    * Edit the below form for State.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Show', @state, :class=>"more tipTip2",:title => "Show State Details" %> &nbsp;
<%= link_to 'Back to States', states_path,:class=>"more tipTip1",:title => "Back to States" %>
</div>