<style type="text/css">
    .tablesorter {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

    .tablesorter td, .tablesorter th {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }

    .tablesorter thead tr, .tablesorter thead tr, .tablesorter tfoot tr {
        border: 1px solid #fff;
        font-size: 11px;
        height: 25px;
        padding: 4px;
    }

    .tablesorter tbody td {
        height: 25px;
        padding: 4px;
        vertical-align: middle;
    }
</style>
<h3 align="center">States Report </h3>
<br/>
<table class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <% @states.each do |state| %>
    <tr>
        <td><%= state.name %></td>
        <td><%=state.short_code %></td>
        <td><%= state.description %></td>
    </tr>
    <% end %>
</table>
