<h3>States | Manage States</h3>

	<%= link_to 'New State', new_state_path, :class=>'more tipTip2',:title => "Create New State" %>&nbsp;
	<%= link_to 'Export',{:action => "export"},:class=>'more tipTip1',:title => "Export all States as PDF file" %>
	<br/> <br/>


<div id="states">
  <%= render 'states' %>
</div>