
<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @divisions,:entry_name => 'Division' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th class="header">
                    <%= sortable 'name' %>
                </th>
                <th>
                    Short Name
                </th>
                <th>
                 State
                </th>
                <th>
                    Description
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @divisions.each do |division| %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <%= highlight(division.name,params[:search]) %>

                </td>
                <td>
                  <%= division.short_code %>
                </td>
                <td>
                    <%= division.state.name %>
                </td>
                <td>
                    <%= division.description %>
                </td>
                <td>
                    <%= @created_name %>
                </td>
                <td>
                    <%= division.created_at.strftime('%d-%b-%Y') %>
                </td>
                <td>
                    <%= link_to 'View', division,:class => "tipTip2",:title => "View Division Details" %>|
                    <%= link_to 'Edit', edit_division_path(division),:class=>"tipTip2",:title => "Edit Division Details" %>
                  </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="flickr_pagination1">
      <%= page_entries_info @divisinos, :entry_name => 'Division' %>  <%= will_paginate @divisions, :container => false %>
    </div>
</div>
