<div class="form-container">
	<%= form_for(@division) do |f| %>
	<p class="legend">
		<strong>Note:</strong>
		Required fields are marked with an asterisk (
		<em>*</em>)
	</p>
	<fieldset>
		<%= f.error_messages %>
		<div>
			<label for="state">
				Select State:
				<em>*</em>
			</label>
			<%= collection_select(:division, :state_id,@states, :id, :name,{:prompt=>'Select State'}) %>
			<script type="text/javascript">
					var division_state_id = new LiveValidation('division_state_id');
				division_state_id.add(Validate.Presence, {
					failureMessage: "Select State"
				})</script>
		</div>
		<div>
			<label for="name">
				Name:
				<em>*</em>
			</label>
			<%= f.text_field :name,:id=>"diviname",:class => "formTextBox tipTip",:title=>"Enter Division Name" %>
			<script type="text/javascript">
				var diviname = new LiveValidation('diviname');
				diviname.add(Validate.Presence)</script>
		</div>
		<div>
			<label for="description">
				Description
			</label>
			<%= f.text_area :description,:cols=>28,:rows=>5,:class=>"tipTip",:title=>"Enter Description" %>
		</div>
		<div class="actions">
			<%= f.submit :class=>'btnEdit' %>
		</div>
	</fieldset>
	<% end %>
</div>
