<% for division in  @recent_divisions %>
<li class="" id="recent_division_<%= division.id%>">
    <dt>
        <%=link_to truncate(division.name,:length=>27),division_path(division),:class=>"tipTip1",:title => "View Division Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>