<h3>Divisions | Edit Division</h3>
<div class="list">
  <div class="help_text">
    * Edit the below form for Division.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Show', @division, :class=>'more tipTip2',:title => "View Details of Division" %>
<%= link_to 'Back to Divisions', divisions_path, :class=>'more tipTip1',:title => "Back to Division Home" %>
</div>