<style type="text/css">
    .tablesorter {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

    .tablesorter td, .tablesorter th {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }

    .tablesorter thead tr, .tablesorter thead tr, .tablesorter tfoot tr {
        border: 1px solid #fff;
        font-size: 11px;
        height: 25px;
        padding: 4px;
    }

    .tablesorter tbody td {
        height: 25px;
        padding: 4px;
        vertical-align: middle;
    }
</style>
<h3 align="center">Divisions Report </h3>
<br/>
<table class="tablesorter">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Short Name
            </th>
            <th>
             State
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        <% @divisions.each do |division| %>
        <tr>
            <td>
                <%= division.name %>
            </td>
            <td>
              <%= division.short_code %>
            </td>
            <td>
                <%= division.state.name %>
            </td>
            <td>
                <%= division.description %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
