<h3>Divisions | Manage Divisions</h3>
<%= link_to 'New Division', new_division_path, :class=>"more tipTip2", :title => "Create New Division" %>
<%= link_to 'Export', {:action => "export"}, :class=>"more tipTip1", :title => "Export all Divisions as PDF File" %>
<br/><br/>
<div class="help_text">
  * List of All Divisions.<br/>
</div>

<div id="divisions">
  <%= render 'divisions' %>
</div>