<h3>Divisions | New Division Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for Division.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Back to Divisions', divisions_path, :class=>"more tipTip1",:title => "Back to All Divisions" %>
</div>