<h3>Divisions | View Division Details</h3>
<div class="formbox">
<div class="desc">Name : <%= @division.name %></div>
<div class="divider"></div>
<div class="desc">short Name : <%= @division.short_code %></div>
<div class="divider"></div>
<div class="desc">State : <%= @division.state.name %> </div>
<div class="divider"></div>
<div class="desc">Description : <%= @division.description %> </div>
<div class="divider"></div>
<div class="desc">Created By : <%= User.find(@division.created_by).name %> </div>
<div class="divider"></div>
<div class="desc">Created At : <%= @division.created_at.strftime('%d-%m-%Y') %> </div>
<div class="divider"></div>
</div>
<div class="bottom_links">
<%= link_to 'Edit', edit_division_path(@division), :class=>"more tipTip2",:title => "Edit Division Details" %>
<%= link_to 'Back to  Divisions', divisions_path, :class=>"more tipTip1" ,:title => "Back to All Divisions"%>
</div>