<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%= per_page %>| <%= page_entries_info @blocks,:entry_name => 'Block' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th class="header">
                    <%= sortable 'name' %>
                </th>
                <th>
                  Short Name
                </th>
                <th>
                    District
                </th>
                <th>
                    Division
                </th>
                <th>
                    State
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <% i=1 %>
        <% @blocks.each do |block| %>
        <tr>
            <td>
            <%= i %>
            <td>
                <%= highlight(block.name,params[:search]) %>
            </td>
            <td>
              <%= block.short_code %>
            </td>
            <td>
                <%= block.district.name %>
            </td>
            <td>
                <%= block.division.name %>
            </td>
            <td>
                <%= block.state.name %>
            </td>
            <td>
                <%= @created_name %>
            </td>
            <td>
                <%= block.created_at.strftime('%d-%b-%Y') %>
            </td>
            <td>
                <%= link_to 'View', block,:class=>"tipTip2",:title => "View Block Details" %>|
                <%= link_to 'Edit', edit_block_path(block),:class=>"tipTip2",:title => "Edit Block Details" %>
            </td>
        </tr>
        <% i = i + 1 %>
        <% end %>
    </table>
    <div class="flickr_pagination1">
       <%= page_entries_info @blocks, :entry_name => 'Block' %> <%= will_paginate @blocks, :container => false %>
    </div>
</div>
