<div class="form-container">
  <%= form_for(@block) do |f| %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (
        <em>*</em>)
      </p>
      <fieldset>

        <div>
          <label for="state">
            State:
            <em>*</em>
          </label>
          <%= collection_select(:block, :state_id, @states, :id, :name) %>
          <script type="text/javascript">
              var block_state_id = new LiveValidation('block_state_id');
              block_state_id.add(Validate.Presence, {
                  failureMessage: "Select State"
              })</script>
        </div>
        <div>
          <label for="state">
            Division:
            <em>*</em>
          </label>
          <%= collection_select(:block, :division_id, @divisions, :id, :name, {:prompt=>'Select Division'}) %>
          <script type="text/javascript">
              var block_division_id = new LiveValidation('block_division_id');
              block_division_id.add(Validate.Presence, {
                  failureMessage: "Select Division"
              })</script>
        </div>
        <div>
          <label for="state">
            District:
            <em>*</em>
          </label>
          <div id="districts">
            <%= collection_select(:block, :district_id, @districts, :id, :name, :prompt=>"Select a District") %>
            <%= error_message_on "block", "district_id" %>

          </div>
          <script type="text/javascript">
              var block_district_id = new LiveValidation('block_district_id');
              block_district_id.add(Validate.Presence, {
                  failureMessage: "Select District"
              })</script>
        </div>
        <div>
          <label for="name">
            Name:
            <em>*</em>
          </label>
          <%= f.text_field :name, :id=>"blname", :class => "formTextBox tipTip", :title=>"Enter Name of Block" %>
          <script type="text/javascript">
              var blname = new LiveValidation('blname');
              blname.add(Validate.Presence)</script>
        </div>
        <div>
          <label for="description">
            Description

          </label>
          <%= f.text_area :description, :rows => 5, :cols => 25, :class=>"tipTip", :title=>"Enter Description" %>
        </div>
        <div class="actions">
          <%= f.submit :class=>'btnEdit' %>
        </div>
      </fieldset>

  <% end %>
</div>
<script>
    jQuery(function($) {
        $('#block_division_id').bind('change', function() {
            var division_id = $('#block_division_id').val();
            $.get("/blocks/load_districts", {id: division_id},
                    function(data) {

                    });
            return false
        })

    });
</script>