<% for block in  @recent_blocks %>
<li class="" id="recent_block_<%= block.id%>">
    <dt>
        <%=link_to truncate(block.name,:length=>27),block_path(block),:class => "tipTip1",:title => "View Block Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>