<h3>Blocks | Edit Block</h3>
<div class="list">
  <div class="help_text">
    * Edit the below form for Block.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<div class="bottom-links">
<%= link_to 'View', @block, :class=>"more tipTip2",:title => "View Block Details" %>
<%= link_to 'Back to Blocks', blocks_path, :class=>"more tipTip1",:title => "Back to Blocks Home" %>
</div>
</div>