<h3>Blocks | Manage Blocks</h3>
<%= link_to 'New Block', new_block_path, :class=>"more tipTip2", :title => "Create New Block" %>
<%= link_to 'Export', {:action=>"export"}, :class=>"more tipTip1", :title => "Export All Blocks as PDF File" %>
<br/><br/>
<div class="help_text">
  * List of All Blocks.<br/>
</div>

<% if @blocks.blank? %>
    <h2>There are No Records in Database.</h2>
<% else %>
    <div id="blocks">
      <%= render 'blocks' %>
    </div>
<% end %>
