<h3>Blocks | New Block Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for Block.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Back to Blocks', blocks_path,:class=>"more tipTip1",:title => "Back to Blocks Home" %>
</div>