<h3>Blocks | View Block Details</h3>
<div class="formbox">
<div class="desc">Name : <%= @block.name %></div>
<div class="divider"></div>
  <div class="desc">Short Name : <%= @block.short_code %> </div>
<div class="divider"></div>
<div class="desc">District : <%= @block.district.name %> </div>
<div class="divider"></div>
<div class="desc">Division : <%= @block.division.name %> </div>
<div class="divider"></div>
<div class="desc">State : <%= @block.state.name %> </div>
<div class="divider"></div>
<div class="desc">Description : <%= @block.description %> </div>
<div class="divider"></div>
<div class="desc">Created By : <%= User.find(@block.created_by).name %> </div>
<div class="divider"></div>
<div class="desc">Created At : <%= @block.created_at.strftime('%d-%b-%Y') %> </div>
<div class="divider"></div>
</div>
<div class="bottom_links">
<%= link_to 'Edit', edit_block_path(@block),:class=>"more tipTip2",:title => "Edit Block Details" %>
<%= link_to 'Back to Blocks', blocks_path,:class=>"more tipTip1",:title => "Back to All Blocks" %>
</div>