<div class="form-container">
    <%= form_for(@ticket) do |f| %>
    <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
        <%= f.error_messages %>
        <div>
            <label for="name">
                Ticket Type <em>*</em>
            </label>
             <%= f.radio_button :ticket_type, 'Normal', :checked => true  %>Normal
			 <%= f.radio_button :ticket_type, 'Urgent'%>Urgent
<!--    			 <%= f.radio_button :ticket_type, 'Other'%>Other  -->
        </div>
        <div>
            <label for="description ">
                Problem Description <em>*</em>
            </label>
            <%= f.text_area :ticket_description ,:cols=>28,:rows=>5,:id=>"description",:class=>"tipTip",:title=>"Fill your Issue or Suggestions<br/>Ex: Printing is not working at PAN Applications" %>
			           <script type="text/javascript">
                var description = new LiveValidation('description', {
                    onlyOnSubmit: true
                });
                description.add(Validate.Presence)
            </script>
        </div>
        <div class="actions">
            <%= f.submit :class=>"btnEdit" %>
        </div>
    </fieldset>
    <% end %>
</div>
