<% for ticket in  @recent_tickets %>
<li class="" id="recent_ticket_<%= ticket.id%>">
    <dt>
        <%=link_to truncate(ticket.ticket_number,:length=>27),ticket_path(ticket),:class=>"tipTip1",:title => "View Ticket" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>