  <div class="list">
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @tickets, :entry_name => 'Ticket' %>
        </td>
      </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
      <thead>
      <tr>
        <th>
          SNo
        </th>
        <th class="header">
          <%= sortable 'ticket_number', "Ticket ID" %>
        </th>
        <th>
          Status
        </th>
        <th>
          Type
        </th>
        <th>
          Issue Description
        </th>
        <th>
          Open Date
        </th>
        <th>
          Solution
        </th>
        <th>
          Close Date
        </th>
        <% if has_role?(:vle) %>
        <% else %>
            <th>
              Created By
            </th>
            <th>
              VLE ID
            </th>
        <% end %>
        <th>
          Actions
        </th>
      </tr>
      </thead>
      <% i=1 %>
      <% @tickets.each do |ticket| %>
          <tr>
            <td>
              <%= i %>
            </td>
            <td>
              <%= highlight(ticket.ticket_number, params[:search]) %>
            </td>
            <td>
              <% if ticket.status == false %>
                  <font color='red'>
                    <b>Open</b>
                  </font>
              <% else %>
                  <font color='green'>
                    <b>Closed</b>
                  </font>
              <% end %>
            </td>
            <td>
              <% if ticket.ticket_type == "Normal" %>
                  <font color='blue'>
                    <b>Normal</b>
                  </font>
              <% elsif ticket.ticket_type == "Urgent" %>
                  <font color='purple'><b>Urgent</b></font>
              <% else %>
                  <font color='black'><b>Others</b></font>
              <% end %>

            </td>
            <td align="left"><%= truncate(ticket.ticket_description, :length => 20) %> </td>

            <td>
              <%= ticket.created_at.strftime('%d-%m-%Y') %>
            </td>
            <td align="left"><%= truncate(ticket.problem_solution, :length => 20) %> </td>
            <td>
              <% if ticket.close_date? %>
                  <%= ticket.close_date.strftime('%d-%m-%Y') %>
              <% else %>
                  ----
              <% end %>
            </td>
            <% if has_role?(:vle) %>
            <% else %>
                <td align="left">
                  <%= User.find(ticket.created_by).name %>
                </td>
                <td>
                  <%= UserProfile.find_by_user_id(ticket.user_id).vle_code %>
                </td>
            <% end %>
            <td>
              <%= link_to 'View', ticket, :class=>"tipTip2", :title => "View Ticket Details" %>
              <% if has_role?(:vle) %>
                  <%= link_to('| Close', {:action=>'update_status', :id=>ticket},:class=>"tipTip2",:title => "Close Ticket") unless ticket.status? %>
              <% else %>
                  <%= link_to '| Update', edit_ticket_path(ticket), :class=>"tipTip2", :title=>"Update the Ticket Status" unless ticket.status? %>
              <% end %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
    </table>
    <div class="flickr_pagination">
     <%= page_entries_info @tickets, :entry_name => 'Support Ticket' %> <%= will_paginate @tickets, :container => false %>
    </div>
  </div>