<h3>Tickets | Update Ticket</h3>
<div class="form-container">
 <fieldset>
        <div>
            <label for="name">
                Ticket Type :
            </label>
             <%= @ticket.ticket_type%>
			
        </div>
        <div>
            <label for="description ">
                Problem Description :
            </label>
           <%= @ticket.ticket_description%>
        </div>
		
		    <%= form_for(@ticket) do |f| %>
        <div>
            <label for="description ">
                Problem Solution <em>*</em>
            </label>
                      <%= f.text_area :problem_solution ,:cols=>28,:rows=>5,:id=>"description",:class=>"tipTip",:title=>"Provide the Solution for the Problem" %>
			           <script type="text/javascript">
                var description = new LiveValidation('description', {
                    onlyOnSubmit: true
                });
                description.add(Validate.Presence)
            </script>
        </div>
        <div class="actions">
            <%= f.submit :class=>"btnEdit" %>
        </div>
    </fieldset>
    <% end %>
</div>


<%= link_to 'View Ticket', @ticket, :class=>"more tipTip2",:title => "View Ticket Details" %>
<%= link_to 'Back to Tickets', tickets_path , :class=>"more tipTip1",:title => "Back to Tickets Home"%>
