<h3>Support Tickets | New Support Ticket</h3>
<div class="list">
  <div class="help_text">
   * This form is for Create support ticket.  <br>
   * Please fill your issues facing with application and support need from Admin using this form.
  </div>
<%= render 'form' %>
<%= link_to 'Back to Tickets', tickets_path, :class=>'more tipTip1',:title => "Back to Tickets" %>
</div>