<h3>Support Tickets | View Support Ticket Details</h3>
<div class="formbox">
  <div class="desc">Ticket Number : <%= @ticket.ticket_number %></div>
  <div class="divider"></div>
  <div class="desc">Ticket Type : <%= @ticket.ticket_type %></div>
  <div class="divider"></div>
  <div class="desc">Open Date : <%= @ticket.open_date %></div>
  <div class="divider"></div>
  <div class="desc">Description : <%= @ticket.ticket_description %> </div>
  <div class="divider"></div>
  <div class="desc">Status :
    <% if @ticket.status? %>
        <font color='green'>
          <b>Closed</b>
        </font>
    <% else %>
        <font color='red'>
          <b>Open</b>
        </font>
    <% end %>
  </div>
  <div class="divider"></div>
  <% unless @ticket.problem_solution? %>
  <% else %>
      <div class="desc">Solution : <%= @ticket.problem_solution %> </div>
      <div class="divider"></div>
      <div class="desc">Solution By
        :<%= User.find(:first, :conditions=>{:id=>@ticket.updated_by}).name %> </div>
      <div class="divider"></div>

      <div class="desc">Ticket Close Date : <%= @ticket.close_date %> </div>
      <div class="divider"></div>
  <% end %>
  <div class="desc">VLE ID
    :  <%= UserProfile.find_by_user_id(@ticket.user_id).vle_code %> </div>
  <div class="divider"></div>
  <div class="desc">VLE Name
    :  <%= User.find_by_id(@ticket.user_id).name %> </div>
  <div class="divider"></div>
  <br/>
  <!-- <%= link_to 'Edit', edit_ticket_path(@ticket) %> | -->
  <%= link_to 'Back to Tickets', tickets_path, :class=>'more tipTip1',:title => "Back to Tickets Home" %>
</div>