
<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @districts,:entry_name => 'District' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th class="header">
                    <%= sortable 'name' %>
                </th>
                <th>
                  Short Name
                </th>
                <th>
                    Division
                </th>
                <th>
                    State
                </th>
                <th>
                    Description
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <% i=1 %>
        <% @districts.each do |district| %>
        <tr>
            <td>
                <%= i %>
            </td>
            <td>
                <%= highlight(district.name,params[:search]) %>
            </td>
            <td>
              <%= district.short_code %>
            </td>
            <td>
                <%= district.division.name %>
            </td>
            <td>
                <%= district.state.name %>
            </td>
            <td>
                <%= district.description %>
            </td>
            <td>
                <%= @created_name %>
            </td>
            <td>
                <%= district.created_at.strftime('%d-%b-%Y') %>
            </td>
            <td>
                <%= link_to 'View', district,:class=>"tipTip2",:title => "View District Details" %>
               |<%= link_to 'Edit', edit_district_path(district),:class => "tipTip2",:title => "Edit District Deatils" %> <!--|<%= link_to 'Delete', district, :confirm => 'Do you want really want to delete this district?', :method => :delete %> -->
            </td>
        </tr>
        <% i =  i + 1 %>
        <% end %>
    </table>
    <div class="flickr_pagination1">
       <%= page_entries_info @districts, :entry_name => 'District' %> <%= will_paginate @districts, :container => false %>
    </div>
</div>
