<div class="form-container">
<%= form_for([@district],:html=>{:class=>'cmxform'}) do |f| %>
 	<p class="legend">
		<strong>Note:</strong>
		Required fields are marked with an asterisk (
		<em>*</em>)
	</p>
	<fieldset>
		<%= f.error_messages %>
		<div>
			<label for="state">
				Select State:
				<em>*</em>
			</label>
			<%= collection_select(:district, :state_id,@states, :id, :name,{:prompt=>'Select State'}) %>
			<script type="text/javascript">
					var district_state_id = new LiveValidation('district_state_id');
				district_state_id.add(Validate.Presence, {
					failureMessage: "Select State"
				})</script>
		</div>
		<div>
			<label for="state">
				Select Division:
				<em>*</em>
			</label>
			<%= collection_select(:district, :division_id,@divisions, :id, :name,{:prompt=>'Select Division'}) %>
			<script type="text/javascript">
					var district_division_id = new LiveValidation('district_division_id');
				district_division_id.add(Validate.Presence, {
					failureMessage: "Select Division"
				})</script>
		</div>
		<div>
			<label for="name">
				Name:
				<em>*</em>
			</label>
			<%= f.text_field :name,:id=>"disname",:class => "formTextBox tipTip",:title=>"Enter Name of the District" %>
			<script type="text/javascript">
				var disname = new LiveValidation('disname');
				disname.add(Validate.Presence)</script>
		</div>
      		<div>
			<label for="name">
				Short Name:
				<em>*</em>
			</label>
			<%= f.text_field :short_code,:id=>"sname",:class => "formTextBox tipTip",:title=>"Enter Short Name of District.<br/>Ex: CHA" %>
			<script type="text/javascript">
				var sname = new LiveValidation('sname');
                sname.add( Validate.Length, { is: 3 } );
				sname.add(Validate.Presence)</script> (Max.3 Characters)
		</div>
		<div>
			<label for="description">
				Description
				
			</label>
			<%= f.text_area :description,:cols=>28,:rows=>5,:class=>"tipTip",:title=>"Enter Description"%>
		</div>
		<div class="actions">
			<%= f.submit :class=>'btnEdit' %>
		</div>
	</fieldset>

<% end %>
</div>
