<% for district in  @recent_districts %>
<li class="" id="recent_district_<%= district.id%>">
    <dt>
        <%=link_to truncate(district.name,:length=>27),district_path(district),:class=>"tipTip1",:title => "View District Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>