<h3>Districts | Edit District</h3>
<div class="list">
  <div class="help_text">
    * Edit the below form for District.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'View', @district, :class=>'more tipTip1',:title => "View District Details" %> &nbsp;
<%= link_to 'Back to Districts', districts_path, :class=>"more tipTip1",:title => "Back to District Home" %>
</div>