<h3>Districts | Manage Districts</h3>
<%= link_to 'New District', new_district_path, :class=>"more tipTip2", :title => "Create New District" %>
<%= link_to 'Export', {:action => "export"}, :class=>"more tipTip1", :title => "Export all Districts as PDF file" %>
<br/><br/>
<div class="help_text">
  * List of All Districts.<br/>
</div>

<div id="districts">
  <%= render 'districts' %>
</div>