<h3>Districts | New District Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for District.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Back to Districts', districts_path, :class=>"more tipTip1",:title => "Back to Districts Home" %>
</div>