<h3>District | View District Details</h3>
<div class="formbox">
<div class="desc">Name : <%= @district.name %></div>
<div class="divider"></div>
 <div class="desc">Short Name : <%= @district.short_code %></div>
<div class="divider"></div>
<div class="desc">Division : <%= @district.division.name %> </div>
<div class="divider"></div>
<div class="desc">State : <%= @district.division.state.name %> </div>
<div class="divider"></div>
<div class="desc">Description : <%= @district.description %> </div>
<div class="divider"></div>
<div class="desc">Created By : <%= User.find(@district.created_by).name %> </div>
<div class="divider"></div>
<div class="desc">Created At : <%= @district.created_at.strftime('%d-%m-%Y') %> </div>
<div class="divider"></div>
</div>
<div class="bottom_links" >
<%= link_to 'Edit', edit_district_path(@district), :class=>"more tipTip2",:title => "Edit District Details" %> &nbsp;
<%= link_to 'Back to Districts', districts_path, :class=>"more tipTip1",:title => "Back to All Districts Home" %>
</div>