    <%= javascript_include_tag :ckeditor %>
<div class="form-container">
<%= form_for(@bulkmail) do |f| %>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
    <%= f.error_messages %>
    <div>
      <label for="state">
        Select Mail Option:<em>*</em>
      </label>
      <%= f.radio_button :mail_type, 'all', :checked => true, :onclick=>'updateForm(this.value);' %>
      All
      <%= f.radio_button :mail_type, 'district', :onclick=>'updateForm(this.value);' %>District Wise
    </div>
      <div id="transaction_fields"></div>

    <div>
      <label for="name">
        Subject
      </label>
      <%= f.text_field :subject, :onChange=>"capitalizeMe(this)", :class => "formTextBox" %>
    </div>
    <div>
      <label for="name">
        Message <em>*</em>
      </label>
        <br/>
        <%= f.cktext_area :message, :toolbar=>'Basic'%>
    </div>

    <div class="actions">
      <%= f.submit "Send Mail", :class=>"btnEdit"%>
    </div>
    </fieldset>
<% end %>
</div>
<script language="JavaScript">
    function updateForm(name) {
        var html = $.ajax({
            url: "/bulkmails/mail_mode?name=" + name,
            async: false
        }).responseText;
    }
</script>