        <div>
          <label for="name">
            Select District <em>*</em>
          </label>
          <%= select_tag :district_id, options_from_collection_for_select(District.order("name ASC"), :id, :name), {:prompt => 'Select District'} %>

        </div>