<h3>Mails | Manage Mails</h3>
<%= link_to 'New Mail', new_bulkmail_path, :class=>"more tipTip1", :title => "Compose New Mail Message" %>
<br/><br/>
<div class="help_text">
  * List of All Mail Messages.<br/>
</div>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @bulkmails, :entry_name => 'Mail' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th class="header">
        <%= sortable 'subject' %>
      </th>
      <th>
        Description
      </th>
      <th>
        Date
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @bulkmails.each do |bulkmail| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= bulkmail.subject %>

          </td>
          <td>
            <%= truncate(bulkmail.message, :length => 15, :separator => '...').html_safe %>
          </td>
          <td>
            <%= bulkmail.mail_date.strftime('%d-%m-%Y') %>
          </td>
          <td>
            <%= link_to 'View', bulkmail, :class=>"tipTip2", :title => "View Mail Content" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination">
    <%= page_entries_info @bulkmails, :entry_name => 'Mail' %><%= will_paginate @bulkmails, :container => false %>
  </div>
</div>

