<h3>Mails | View Mail Details</h3>
<div class="formbox">
  <div class="desc">Subject : <%= @bulkmail.subject %></div>
  <div class="divider"></div>
  <div class="desc">Mail Type : <%= @bulkmail.mail_type.capitalize %> </div>
  <div class="divider"></div>
  <% if @bulkmail.mail_type == "all" %>
  <% else %>
      <div class="desc">District : <%= @bulkmail.district.name %> </div>
      <div class="divider"></div>

  <% end %>
     <div class="desc">Message : <%= @bulkmail.message.html_safe %> </div>
<div class="divider"></div>
</div>
<br/>
<%= link_to 'Back to Mails', bulkmails_path, :class=>'more' %>