<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @deposits,:entry_name => 'Deposit' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th>
                    Status
                </th>
                <th class="header">
                    <%= sortable 'transaction_number' %>
                </th>
                <th>
                   Amount
                </th>
                <th>
                    Date
                </th>
              <%if has_role? (:vle)%>
              <%else%>
                <th>
                  VLE ID
                </th>
                <th>
                  VLE Name
                </th>
                <%end%>
                <th>
                    Deposited By
                </th>
                <th>
                    Mode
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @deposits.each do |deposit| %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <% if deposit.status == false %>
                    <font color='red'>
                        <b>P</b>
                    </font>
                    <%else %>
					<% if deposit.fundstatus == false%>
                    <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#CC0099"><b>ND</b></font>
					<%else%>
                   <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#ff5700"><b>D</b></font>
					<%end%>
                    <%end %>
		        </td>
                <td>
                    <%= highlight(deposit.transaction_number,params[:search]) %>
                </td>
                <td align="right">
                   &#x20B9; <%= deposit.amount %>
                </td>
                <td>
                    <%= deposit.transaction_date.strftime('%d-%m-%Y') %>
                </td>
              <%if has_role?(:vle)%>
              <%else%>
              <td>
                    <%= UserProfile.find_by_user_id(deposit.user_id).vle_code %>
              </td>
              <td align="left">
                 <%= User.find_by_id(deposit.user_id).name %>
              </td>
              <%end%>
                <td align="left">
                    <%= User.find_by_id(deposit.created_by).name %>
                </td>
                <td>
                    <%= deposit.transaction_mode %>
                </td>
                <td>
                    <%= link_to 'View', deposit, :class=>"tipTip2",:title => "View Transaction" %>
					<% if has_role? (:manager) %>
					<%= link_to(deposit.status? ? ' | Block' : ' | Approve', {:action=>'update_status',:id=>deposit},:class=>"tipTip2",:title => "Approve (or) Block Transaction")%>
					<%elsif has_role? (:admin)%>
					<%= link_to "| Add Funds",{:action=>'update_funds',:id=>deposit} if !deposit.fundstatus? and deposit.status? %>
					<%end%>
			   </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="flickr_pagination">
        <%= page_entries_info @deposits, :entry_name => 'Fund Deposit' %><%= will_paginate @deposits, :container => false %>
    </div>
</div>
