<div class="form-container">
  <%= form_for(@deposit, :html => {:multipart => true}) do |f| %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>) <br/>
        <strong>Note:</strong>
        आवश्यक क्षेत्र (<em>*</em>) के साथ चिह्नित हैं <br/>
      </p>
      <fieldset>
        <%= f.error_messages %>
        <div>
          <label for="name">
             Transaction Date (/पंजीकरण की तारीख):<em>*</em>
          </label>
          &nbsp;&nbsp;<%= f.text_field :transaction_date, :value=>Time.now.strftime('%d-%b-%Y'), :readonly=>"readonly", :class => "tipTip", :title=>"Transaction Date", :size=>20 %>
        </div>
        <div>
          <label for="name">
            Amount (रकम)<em>*</em>
          </label>
          <%= image_tag "rs.gif" %><%= f.text_field :amount, :id=>"tamount", :class => "tipTip", :title=>"Enter Deposit Amount. Ex:2000 (जमा राशि दर्ज करें)", :size=>20 %>
          <script type="text/javascript">
              var tamount = new LiveValidation('tamount');
              tamount.add(Validate.Presence);
              tamount.add(Validate.Numericality, {
                  onlyInteger: true
              });
          </script>
        </div>
        <div>
          <label for="name">
            Reference Number (संदर्भ संख्या ):
          </label>
          &nbsp;&nbsp;<%= f.text_field :reference_number, :id=>"tamount", :class => "tipTip", :title=>"Enter Deposit Reference Number. Ex:2525255 (जमा संदर्भ संख्या दर्ज करें)", :size=>20 %>
        </div>
        <div>
          <label for="state">
            Payment Mode (अदायगी का तरीका):<em>*</em>
          </label>
          &nbsp;&nbsp;
          <%= f.radio_button :transaction_mode, 'Cash', :checked => true, :onclick=>'updateForm(this.value);' %>Cash(नकद)
          <%= f.radio_button :transaction_mode, 'DD', :onclick=>'updateForm(this.value);' %>DD(डिमांड ड्राफ्ट)
          <%= f.radio_button :transaction_mode, 'Cheque', :onclick=>'updateForm(this.value);' %>Cheque(चेक)
        </div>
        <div id="transaction_fields"></div>
        <div>
          <label for="pin">
            Upload Receipt (रसीद अपलोड) :<em>*</em>
          </label>
          &nbsp;&nbsp;<%= f.file_field :proof, :id=>"idproof" %> <%= image_tag 'icot.gif', :class => "tipTip1", :title=>"Upload Transaction Receipt<br/>1. Scan copy Bank Deposit Receipt (बैंक जमा के स्कैन प्रतिलिपि)<br/>2. Screen shot of Online Transaction(ऑनलाइन प्राप्ति के स्क्रीनशॉट)<br/>3. Scan copy of DD/Cheque(डिमांड ड्राफ्ट या चेक के प्रति स्कैन)"%>
          <script type="text/javascript">
              var idproof = new LiveValidation('idproof', {
                  onlyOnSubmit: true
              });
              idproof.add(Validate.Presence)
          </script>
        </div>
        <div>
          <label for="name">
            Remarks (टिप्पणियाँ ):
          </label>
          &nbsp;&nbsp;<%= f.text_area :remarks, :cols=>28, :rows=>5,:class => "tipTip", :title=>"Add Remarks. Ex:Deposit for Insurance" %>
        </div>
        <div class="actions">
          <%= f.submit "Save Deposit/जमा", :class=>"btnEdit", :onClick=>"return confirmSubmit()" %>
        </div>
      </fieldset>
  <% end %>
</div>
<script language="JavaScript">
    function confirmSubmit() {
        var agree = confirm("Are you sure to save Deposit Transaction (क्या आप इस जमा बचाने करना चाहते हैं?)?");
        if (agree)
            return true;
        else
            return false;
    }

    function updateForm(name) {
        var html = $.ajax({
            url: "/deposits/transaction_mode?name=" + name,
            async: false
        }).responseText;

    }

</script>
