        <div>
            <label for="name">
                Bank Name <em>*</em>
            </label>
            &nbsp;&nbsp;<%= text_field_tag 'deposit[bank_name]','', :id=>"bankname", :onChange=>"capitalizeMe(this)",:class => "tipTip", :title=>"Name of the Bank. Ex: State Bank of India", :size=>20 %>
           <script type="text/javascript">
                var bankname = new LiveValidation('bankname', {
                    onlyOnSubmit: true
                });
                bankname.add(Validate.Presence)
            </script>
        </div>
 
        <div>
            <label for="name">
                Branch <em>*</em>
            </label>
            &nbsp;&nbsp;<%= text_field_tag 'deposit[branch]','', :id=>"bbranch", :onChange=>"capitalizeMe(this)",:class => "tipTip", :title=>"Name of the Branch. Ex:Patna", :size=>20%>
			          <script type="text/javascript">
                var bbranch = new LiveValidation('bbranch', {
                    onlyOnSubmit: true
                });
                bbranch.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="name">
                DD/Cheque Number<em>*</em>
            </label>
            &nbsp;&nbsp;<%= text_field_tag 'deposit[instrument_number]','', :id=>"inumber", :class => "tipTip", :title=>"Cheque/DD Number. Ex:123456", :size=>20 %>
			          <script type="text/javascript">
                var inumber = new LiveValidation('inumber', {
                    onlyOnSubmit: true
                });
                inumber.add(Validate.Presence)
            </script>
        </div>
        <div>
          <label for="name">
    Date<em>*</em>
  </label>
  &nbsp;&nbsp;<%= text_field_tag 'deposit[instrument_date]', Time.now.strftime('%d-%m-%Y'), :id=>"idate", :class => "tipTip", :title=>"Date", :size=>20 %>

</div>

     <script>
	          $(function() {
		          $( "#idate" ).datepicker({dateFormat:'dd-mm-yy', maxDate:'+1m',changeMonth: true,changeYear: true,minDate:'-1m',currentText: 'Now' });
	          });
      	</script>