<% for deposit in  @recent_deposits %>
<li class="" id="recent_deposit_<%= deposit.id%>">
    <dt>
        <%=link_to truncate(deposit.transaction_number,:length=>27),deposit_path(deposit),:class=>"tipTip1",:title => "View Transaction" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>