<h3>Fund | New Fund Deposit (फंड | नई निधि जमा)</h3>
<%= render :partial=>'common/funds' %>
<br/><br/>
<div class="list">
  <div class="help_text">
    * Fill the below form for Deposit Funds (फंड हस्तांतरण के लिए नीचे दिए गए फार्म भरें).
    <br/> <font color="#CC0000"><b>*</b></font>  Please check all entries before Save (सहेजें से पहले सभी प्रविष्टियों की जाँच करें).
    <br/><font color="#CC0000"><b>*</b></font> <font color="blue"> No further modification will not possible after submitting the form (फार्म जमा करने के बाद आगे कोई संशोधन
    संभव नहीं होगा).</font>
    <br/> * Add Remarks to the Transaction for future Reference (भविष्य में संदर्भ के लिए हस्तांतरण के लिए टिप्पणी जोड़ें).
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to Funds', deposits_path, :class=>"more tipTip1", :title => "Back to Funds" %>
</div>