<h3>Fund Deposit | View Fund Deposit Details</h3>
<% unless has_role? (:vle) %>
<% else %>
    <%= render :partial=>'common/funds' %>
<% end %>
<div class="formbox">
  <div class="desc">Transaction Number (चलाना संख्या) : <%= @deposit.transaction_number %></div>
  <div class="divider"></div>
  <div class="desc">Amount (रकम): <span class="WebRupee">Rs</span>. <%= number_with_precision(@deposit.amount, :precision=>2) %> </div>
  <div class="divider"></div>
  <div class="desc">Reference Number (संदर्भ संख्या) : <%= @deposit.reference_number %> </div>
  <div class="divider"></div>
  <div class="desc">Date (जमा की तिथि): <%= @deposit.transaction_date.strftime('%d-%m-%Y') %> </div>
  <div class="divider"></div>
  <div class="desc">Mode (जमा की विधि) : <%= @deposit.transaction_mode %> </div>
  <div class="divider"></div>
  <% if @deposit.transaction_mode == "Cash" %>

  <% else %>
      <div class="desc">Bank Name : <%= @deposit.bank_name %> </div>
      <div class="divider"></div>
      <div class="desc">Branch Name : <%= @deposit.branch %> </div>
      <div class="divider"></div>
      <div class="desc">DD/Cheque Number : <%= @deposit.instrument_number %> </div>
      <div class="divider"></div>
      <div class="desc">Date : <%= @deposit.instrument_date.strftime('%d-%m-%Y') %> </div>
      <div class="divider"></div>
  <% end %>
  <div class="desc">Receipt (रसीद) :
    <table class="tablesorter" cellspacing="1">
      <thead>
      <tr>
        <th>
          Transaction Receipt
        </th>
      </tr>
      </thead>
      <tr>
        <td>
          <% if @deposit.proof.file? %>
              <a href="<%= @deposit.proof.url %>" rel="facebox"><%= image_tag @deposit.proof.url(:small) %></a>
          <% else %>
              <%= image_tag "nophoto.jpg" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="divider"></div>
  <div class="desc">Remarks(टिप्पणियाँ)
    :  <%= @deposit.remarks %> </div>
  <div class="divider"></div>
  <div class="desc">VLE ID (VLE आईडी)
    :  <%= UserProfile.find_by_user_id(@deposit.user_id).vle_code %> </div>
  <div class="divider"></div>
  <div class="desc">VLE Name (VLE नाम)
    :  <%= User.find_by_id(@deposit.user_id).name %> </div>
  <div class="divider"></div>
</div>
<div class="bottom_links">
  <%= link_to 'Back to Deposits (वापस )', deposits_path, :class=>"more tipTip1", :title => "Back to Deposits" %>
</div>

