<h3>Funds | Manage Funds (फंड | फंड प्रबंधन)</h3>
<% unless has_role?(:vle) %>
<% else %>
    <%= link_to 'New Fund Deposit', new_deposit_path, :class=>"more tipTip1", :title => "Add Fund to Account" %>
    <%= render :partial=>'common/funds' %>
    <br/>
    <br/>
<% end %>
<div class="help_text">
  * List of All Suspense Fund Transactions (सभी कोष स्थानान्तरण की सूची)<br/>
  * <b>Status</b>: <font color="red"><b>P</b></font>: Deposit is not yet approved by Manager.
  <font color="green"><b>A</b></font>
  <font color="#CC0099"><b>ND</b></font>: Approved and Not Deposited by Admin.
  <font color="green"><b>A</b></font> <font color="#ff5700"><b>D</b></font>:Approved and Deposited to Account.
</div>

<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @deposits,:entry_name => 'Deposit' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th>
                    Status
                </th>
                <th class="header">
                    <%= sortable 'transaction_number' %>
                </th>
                <th>
                   Amount (<span class="WebRupee">Rs</span>)
                </th>
                <th>
                    Date
                </th>
              <%if has_role? (:vle)%>
              <%else%>
                <th>
                  VLE ID
                </th>
                <th>
                  VLE Name
                </th>
                <%end%>
                <th>
                    Deposited By
                </th>
                <th>
                    Mode
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @deposits.each do |deposit| %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <% if deposit.status == false %>
                    <font color='red'>
                        <b>P</b>
                    </font>
                    <%else %>
					<% if deposit.fundstatus == false%>
                    <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#CC0099"><b>ND</b></font>
					<%else%>
                   <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#ff5700"><b>D</b></font>
					<%end%>
                    <%end %>
		        </td>
                <td>
                    <%= highlight(deposit.transaction_number,params[:search]) %>
                </td>
                <td align="right">

                  <%= number_with_precision(deposit.amount, :precision=>2) %>
                </td>
                <td>
                    <%= deposit.transaction_date.strftime('%d-%m-%Y') %>
                </td>
              <%if has_role?(:vle)%>
              <%else%>
              <td>
                    <%= UserProfile.find_by_user_id(deposit.user_id).vle_code %>
              </td>
              <td align="left">
                 <%= User.find_by_id(deposit.user_id).name %>
              </td>
              <%end%>
                <td align="left">
                    <%= User.find_by_id(deposit.created_by).name %>
                </td>
                <td>
                    <%= deposit.transaction_mode %>
                </td>
                <td>
                    <%= link_to 'View', deposit, :class=>"tipTip2",:title => "View Transaction" %>
					<% if has_role? (:manager) %>
					<%= link_to(deposit.status? ? ' | Block' : ' | Approve', {:action=>'update_status',:id=>deposit},:class=>"tipTip2",:title => "Approve (or) Block Transaction")%>
                      | <%= link_to(deposit.suspense_status? ? 'Revert' : 'Suspense', {:action=>'suspense', :id=>deposit},:class=>"tipTip2",:title => "Approve (or) Block Transaction",:confirm => "Do want to revert the Transaction") %>

					<%end%>
			   </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="flickr_pagination">
        <%= page_entries_info @deposits, :entry_name => 'Fund Deposit' %><%= will_paginate @deposits, :container => false %>
    </div>
</div>

