<h3>Fund | Fund Deposit</h3>
<div class="help_text">
  * List of All Users<br/>
  * Actions: Add Funds - Add Funds to User Account.
</div>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @users %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>

      <th>
        Name
      </th>
      <th class="header">
        <%= sortable 'email' %>
      </th>
      <th>
        Mobile
      </th>
      <th>
        Division
      </th>
      <th>
        District
      </th>
      <th>
        Block
      </th>
      <th>
        Panchayat
      </th>
      <!--<th>-->
      <!--CSC Code-->
      <!--</th>-->
      <th>
        VLE ID
      </th>
      <th>
        Role
      </th>

      <th>
        Actions
      </th>
    </tr>
    </thead>
    <% i = 1 %>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.mobile_number %>
          </td>
          <% unless user.user_profile.nil? %>
              <td>
                <%= user.user_profile.division.name %>
              </td>
              <td>
                <%= user.user_profile.district.name %>
              </td>
              <td>
                <%= user.user_profile.block.name %>
              </td>
              <td>
                <%= user.user_profile.panchayat %>
              </td>
              <!--<td>-->
              <!--<%= user.user_profile.csc_code %>-->
              <!--</td>-->
              <td>
                <%= user.user_profile.vle_code %>
              </td>
          <% else %>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
          <% end %>
          <td>
            <% user.roles.each do |role| %>
                <% if role.name == 'district_manager' %>
                    <font color="#ff4500"><b>DM</b></font>
                <% elsif role.name == 'district_engineer' %>
                    <font color="#ff4500"><b>DE</b></font>
                <% elsif role.name == "vle" %>
                    <font color="#dc143c"><b>VLE</b></font>
                <% elsif role.name == "csp" %>
                    <font color="#a52a2a"><b>CSP</b></font>
                <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to 'View', user,:class=>"tipTip2",:title => "View User Details" %>
            <% if has_role?(:admin) %>
                <%= link_to '| Add Funds', {:action=>'upload', :id=>user.id},:class=>"tipTip2",:title => "Add Funds to VLE Account" %>
                <!-- <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %> -->
            <% elsif has_role?(:manager) %>
                | <%= link_to(user.approved? ? 'Block' : 'Approve', {:action=>'update_status', :id=>user}) %>
            <% end %>

          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
