<h3>Funds | Add Funds</h3>
<div class="help_text">
  * Fill the Form to Deposit Amount to User Account<br/>
  * Please Select Deposit Mode (Commission or General Deposit) <br/>
  * Please add remarks to the Transaction.<br/>
  * Check Data before save.
</div>
<div class="form-container">
    <%= form_for @deposit, :url=>{:action=>'fund_save'} do |f| %>
    <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
        <%= f.error_messages %>
        <div>
            <label for="application_number">
                Enter Amount for Deposit:<em>*</em>
            </label>
            &nbsp;&nbsp;&nbsp;<%= f.text_field :amount,:id=>"appnumber",:class => "formTextBox tipTip",:title=>"Enter Amount. Ex:10000" %>
            <script type="text/javascript">
                var appnumber = new LiveValidation('appnumber');
                appnumber.add(Validate.Presence)
            </script>
          <br/>

          <label for="state">
            Deposit Mode:<em>*</em>
          </label>
          &nbsp;&nbsp;
          <%= f.radio_button :transaction_mode, 'Commission', :checked => true %>Commission
          <%= f.radio_button :transaction_mode, 'Cash' %>Cash/DD/Cheque
           <br/>
          <label for="application_number">
              Enter Remarks for Deposit:<em>*</em>
          </label>
          &nbsp;&nbsp;&nbsp;<%= f.text_field :remarks,:id=>"remarks",:class => "formTextBox tipTip",:title=>"Commission for DLF" %>
          <script type="text/javascript">
              var remarks = new LiveValidation('remarks');
              remarks.add(Validate.Presence)
          </script>

        </div>
      <%= f.hidden_field :user_id,:value=>@user.id %>
        <div class="actions">
            <%= f.submit "Deposit Amount",:class=>'btnEdit',:onClick=>"return confirmSubmit()" %>
        </div>
    </fieldset>
    <% end %>
</div>
<script language="JavaScript">
    function confirmSubmit(){
        var agree = confirm("Are you sure to Deposit Amount to VLE Account....");
        if (agree) 
            return true;
        else 
            return false;

    }
</script>
