<% for role in  @recent_roles %>
<li class="" id="recent_role_<%= role.id%>">
    <dt>
        <%=link_to truncate(role.name,:length=>27),role_path(role),:class => "tipTip1",:title => "View Role Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>