
	<div class="list">
		<table width="100%">
			<tr>
				<td align="right">
				<b>
				<i>per page</i>
				</b>
				<%= per_page %> | <%= page_entries_info @roles,:entry_name => 'Role' %>
				</td>
			</tr>
		</table>
		<table class="tablesorter" cellspacing="1">
<thead>
			<tr>
				<th>SNo</th>
				<th class="header"><%= sortable 'name'%></th>
				<th>Description</th>
				<th>Created By</th>
				<th>Created On</th>
				<th>Actions</th>
			</tr>
</thead>
			<% i=1%>
			<% @roles.each do |role| %>
			<tr>
				<td><%= i%></td>
				<td><%= highlight(role.name,params[:search]) %></td>
				<td><%= role.description%></td>
				<td><%= @created_name %></td>
				<td><%= role.created_at.strftime('%d-%b-%Y')%></td>
				<td><%= link_to 'View', role,:class=>"tipTip2",:title => "View Role Details" %>
                  <!--<%= link_to 'Edit', edit_role_path(role) %>-->
			    </td>
			</tr>
			<% i =  i + 1%>
			<% end %>
		</table>
		<div class="flickr_pagination1">
			<%= page_entries_info @roles, :entry_name => 'Role' %> <%= will_paginate @roles, :container => false %>
		</div>
	</div>
