<h3>Roles | Manage Roles</h3>

	<%= link_to 'New Role', new_role_path, :class=>'more tipTip2',:title => "Create New Role" %>
	<%= link_to 'Export','#',:class=>'more tipTip1',:title => "Export All Roles as PDF File" %>
	<br/>
	<br />
  <div class="help_text">
    * List of All Roles.<br/>
  </div>


<div id="roles">
  <%= render 'roles' %>
</div>
