<h3>Roles | New Role Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for Role.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'Back to Roles', roles_path, :class=>"more tipTip1",:title => "Back to Roles Home" %>
</div>