<h3>Roles | View Role Details</h3>
<div class="formbox">
<div class="desc">Name : <%= @role.name %></div>
<div class="divider"></div>
<div class="desc">Description : <%= @role.description %> </div>
<div class="divider"></div>
<div class="desc">Created By : <%= User.find(@role.created_by).name %> </div>
<div class="divider"></div>
<div class="desc">Created At : <%= @role.created_at.strftime('%d-%m-%Y') %> </div>
<div class="divider"></div>
</div>
<div class="bottom_links">
<%= link_to 'Edit', edit_role_path(@role),:class=>"more tipTip2",:title => "Edit Role" %>
<%= link_to 'Back to  Roles', roles_path,:class=>"more tipTip1",:title => "Back to Roles Home" %>
</div>