<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @courses, :entry_name => 'Course' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <!--
                      <th>
                          Status
                      </th>
      -->
      <th class="header">
        <%= sortable 'name' %>
      </th>
      <th>
        University
      </th>
      <th>
        Duration
      </th>
      <th>
        Fee
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @courses.each do |course| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <!--               <td>
                  </td>-->
          <td align="left">
            <%= highlight(course.name, params[:search]) %>
          </td>
          <td>
            <%= course.university.name %>
          </td>
          <td>
            <%= course.duration %>
          </td>
          <td align="right">
            &#x20B9;<%= number_with_precision(course.fee, :precision => 2) %>
          </td>
          <td>
            <%= link_to 'View', course, :class=>"tipTip2", :title => "View Course Details" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination">
 <%= page_entries_info @courses, :entry_name => 'Course' %>   <%= will_paginate @courses, :container => false %>
  </div>
</div>