<div class="form-container">
	<%= form_for(@course) do |f| %>
	<p class="legend">
		<strong>Note:</strong>
		Required fields are marked with an asterisk (
		<em>*</em>)
	</p>
	<fieldset>
		<%= f.error_messages %>
		<div>
			<label for="name">
				Name:
				<em>*</em>
			</label>
			<%= f.text_field :name,:id=>"diviname",:class => "formTextBox tipTip",:title=>"Enter Course Name" %>
			<script type="text/javascript">
				var diviname = new LiveValidation('diviname');
				diviname.add(Validate.Presence)</script>
		</div>
      <div>
          <label for="name">
              University:
              <em>*</em>
          </label>
          <%= collection_select(:course, :university_id, University.all, :id, :name, {:prompt=>'Select University'}) %>
          <script type="text/javascript">
              var diviname1 = new LiveValidation('diviname1');
              diviname1.add(Validate.Presence)</script>
      </div>
      <div>
          <label for="name">
              Duration:
              <em>*</em>
          </label>
          <%= f.text_field :duration,:id=>"diviname2",:class => "formTextBox tipTip",:title=>"Enter Duration of the Course" %>
          <script type="text/javascript">
              var diviname2 = new LiveValidation('diviname2');
              diviname2.add(Validate.Presence)</script>
      </div>
      <div>
          <label for="name">
              Fee for Course:
              <em>*</em>
          </label>
          <%= f.text_field :fee,:id=>"tamount",:class => "formTextBox tipTip",:title=>"Enter Fee particulars for the Course" %>
           <script type="text/javascript">
              var tamount = new LiveValidation('tamount');
              tamount.add(Validate.Presence);
              tamount.add(Validate.Numericality, {
                  onlyInteger: true
              });
          </script>
      </div>

    	<div>
			<label for="description">
				Description
			</label>
			<%= f.text_area :description,:cols=>28,:rows=>5,:class=>"tipTip",:title=>"Enter Description" %>
		</div>
		<div class="actions">
			<%= f.submit :class=>'btnEdit' %>
		</div>
	</fieldset>
	<% end %>
</div>
