<% for course in  @recent_courses %>
<li class="" id="recent_course_<%= course.id%>">
    <dt>
        <%=link_to truncate(course.name,:length=>20),course_path(course),:class=>"tipTip1",:title => "View Course Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>