<h3>Education | Edit Course Details</h3>
<div class="list">
  <div class="help_text">
    * Edit the below form for Course Details.<br/>* Please check all entries before Save.
  </div>
<%= render 'form' %>
<%= link_to 'View', @course, :class=>'more tipTip1',:title => "View Course Details" %> &nbsp;
<%= link_to 'Back to Courses', courses_path, :class=>"more tipTip1",:title => "Back to Courses Home" %>
</div>