<h3>Eduction | Manage Courses</h3>
<% if has_role?(:admin) %>
    <%= link_to 'New Course', new_course_path, :class=>"tipTip1 more", :title => "New Course Registration" %>
    <%= link_to 'All Courses', courses_path, :class=>"tipTip1 more", :title => "List all Courses" %>
<% end %>
<br/>
<br/>
<div class="help_text">
  * List of All Courses Registred<br/>
</div>

<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @courses, :entry_name => 'Course' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <!--
                      <th>
                          Status
                      </th>
      -->
      <th class="header">
        <%= sortable 'name' %>
      </th>
      <th>
        University
      </th>
      <th>
        Duration
      </th>
      <th>
        Fee (<span class="WebRupee">Rs</span>)
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @courses.each do |course| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td align="left">
            <%= highlight(course.name, params[:search]) %>
          </td>
          <td align="left">
            <%= course.university.name %>
          </td>
          <td align="left">
            <%= course.duration %>
          </td>
          <td align="right">
          <%= number_with_precision(course.fee, :precision => 2) %>
          </td>
          <td>
            <%= link_to 'View', course, :class=>"tipTip2", :title => "View Course Details" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination">
 <%= page_entries_info @courses, :entry_name => 'Course' %>   <%= will_paginate @courses, :container => false %>
  </div>
</div>