<h3>Eduction | New Course Registration</h3>
<br/><br/>
<div class="list">
  <div class="help_text">
    * Fill the below form for Course Registration.<br/>* Please check all entries before Save.<br/>
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to Courses', courses_path, :class=>"more tipTip1",:title => "Back to Courses" %>
</div>