<h3>Education | View Course Details</h3>
<div class="formbox">
  <div class="desc">Name : <%= @course.name %></div>
  <div class="divider"></div>
  <div class="desc">University: <%= @course.university.name %></div>
  <div class="divider"></div>
  <div class="desc">Course Duration : <%= @course.duration %> </div>
  <div class="divider"></div>
  <div class="desc">Fee Particulars :<span class="WebRupee">Rs</span>. <%= @course.fee %> </div>
  <div class="divider"></div>
  <div class="desc">Description : <%= @course.description %> </div>
  <div class="divider"></div>
</div>
<div class="bottom_links">
  <!--<%= link_to 'Edit', edit_course_path(@course), :class=>"more tipTip2", :title => "Edit Course Details" if has_role?(:admin) %>-->

  <%= link_to 'Back to  Courses', courses_path, :class=>"more tipTip1", :title => "Back to All Courses" %>

</div>