<h3>Welcome to CSC - BIHAR (सीएससी - बिहार के लिए आपका स्वागत है)</h3>
<% if has_role?(:vle) %>
    <%= render :partial=>'common/funds' %>
    <div class="cr">&nbsp;</div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/insurances'">
          <td>Insurance Policies(बीमा पॉलिसियों)</td>
          <td align="right" width="30"><u><%= @insurances_user.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending (अपूर्ण)</td>
          <td align="right"><%= @insurances_user_pending.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @insurances_user_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Suspense()</td>
          <td class="border_top" align="right"><%= @insurances_user_suspense.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/pancards'">
          <td>PAN Applications</td>
          <td align="right" width="30"><u><%= @pans_user.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @pans_user.size - @pans_user_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @pans_user_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="cr">&nbsp;</div>

    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/deposits'">
          <td>Deposits(जमा)</td>
          <td align="right" width="30"><u><%= @deposits_user.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @deposits_user.size - @deposits_user_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @deposits_user_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
       <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/tickets'">
          <td>Support Tickets</td>
          <td align="right" width="30"><u><%= @tickets_user.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Closed Tickets</td>
          <td align="right"><%= @tickets_user_closed.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Open Tickets</td>
          <td class="border_top" align="right"><%= @tickets_user.size - @tickets_user_closed.size %></td>
        </tr>
        <tr class="hp_table_smalltitle odd">
           <td><span>Urgent</span></td>
           <td align="right"><%= @tickets_user_urgent.size %></td>
         </tr>
         <tr class="hp_table_smalltitle even">
           <td><span>Normal</span></td>
           <td align="right"><%= @tickets_user_normal.size %></td>
         </tr>
        </tbody>
      </table>
    </div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/deducations'">
          <td>Applications (Education)</td>
          <td align="right" width="30"><u><%= @apps_user.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @apps_user.size - @apps_user_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @apps_user_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>
<% if has_role?(:admin) or has_role?(:manager) %>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/users'">
          <td>Users</td>
          <td align="right" width="30"><u><%= @users.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @users.size - @users_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @users_approved.size %></td>
        </tr>
        <tr class="hp_table_smalltitle odd">
          <td><span>VLE</span></td>
          <td align="right"><%= @vle %></td>
        </tr>
        <tr class="hp_table_smalltitle even">
          <td><span>DLF Agents</span></td>
          <td align="right"><%= @dlf %></td>
        </tr>
        <tr class="hp_table_smalltitle odd">
          <td><span>District Managers</span></td>
          <td align="right"><%= @dm %></td>
        </tr>
        <tr class="hp_table_smalltitle even">
          <td><span>District Engineers</span></td>
          <td align="right"><%= @de %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/insurances'">
          <td>Insurance Policies</td>
          <td align="right" width="30"><u><%= @insurances.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @insurances_pending.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @insurances_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Suspense Transactions(उचंत)</td>
          <td class="border_top" align="right"><%= @insurances_suspense.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="cr">&nbsp;</div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/pancards'">
          <td>PAN Applications</td>
          <td align="right" width="30"><u><%= @pans.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @pans.size - @pans_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @pans_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/deposits'">
          <td>Deposits(जमा)</td>
          <td align="right" width="30"><u><%= @deposits.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @deposits.size - @deposits_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @deposits_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="cr">&nbsp;</div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/deducations'">
          <td>Applications (Education)</td>
          <td align="right" width="30"><u><%= @apps.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @apps.size - @apps_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @apps_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
<%end%>
<% if has_role?(:admin) or has_role?(:state_engineer)%>

   <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/tickets'">
          <td>Support Tickets</td>
          <td align="right" width="30"><u><%= @tickets.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Closed Tickets</td>
          <td align="right"><%= @tickets_closed.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Open Tickets</td>
          <td class="border_top" align="right"><%= @tickets.size - @tickets_closed.size %></td>
        </tr>
        <tr class="hp_table_smalltitle odd">
           <td><span>Urgent</span></td>
           <td align="right"><%= @tickets_urgent.size %></td>
         </tr>
         <tr class="hp_table_smalltitle even">
           <td><span>Normal</span></td>
           <td align="right"><%= @tickets_normal.size %></td>
         </tr>
        </tbody>
      </table>
    </div>
<% end %>
<% if has_role?(:district_manager) or has_role?(:district_engineer) %>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/users'">
          <td>Users</td>
          <td align="right" width="30"><u><%= @users_district.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @users_district.size - @users_district_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved</td>
          <td class="border_top" align="right"><%= @users_district_approved.size %></td>
        </tr>
        <tr class="hp_table_smalltitle odd">
          <td><span>VLE</span></td>
          <td align="right"><%= @vle_district %></td>
                 <tr class="hp_table_smalltitle even">
          <td><span>CSP</span></td>
          <td align="right"><%= @csp_district %></td>
        </tr>
        <tr class="hp_table_smalltitle odd">
          <td><span>District Managers</span></td>
          <td align="right"><%= @dm_district %></td>
        </tr>
        <tr class="hp_table_smalltitle even">
          <td><span>District Engineers</span></td>
          <td align="right"><%= @de_district %></td>
        </tr>
        </tr>
        </tbody>
      </table>
    </div>
        <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/insurances'">
          <td>Insurance Policies</td>
          <td align="right" width="30"><u><%= @insurances_district.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @insurances_district.size - @insurances_district_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved</td>
          <td class="border_top" align="right"><%= @insurances_district_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="cr">&nbsp;</div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/pancards'">
          <td>PAN Applications</td>
          <td align="right" width="30"><u><%= @pancards_district.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @pancards_district.size - @pancards_district_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved (अनुमोदित)</td>
          <td class="border_top" align="right"><%= @pancards_district_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hp_box">
       <table border="0" cellpadding="8" cellspacing="0" width="100%">
         <tbody>
         <tr class="hp_table_title" onclick="document.location.href='/tickets'">
           <td>Support Tickets</td>
           <td align="right" width="30"><u><%= @tickets_district.size %></u></td>
         </tr>
         <tr class="hp_table_subtitle">
           <td>Closed Tickets</td>
           <td align="right"><%= @tickets_district_closed.size %></td>
         </tr>
         <tr class="hp_table_subtitle">
           <td class="border_top">Open Tickets</td>
           <td class="border_top" align="right"><%= @tickets_district.size - @tickets_district_closed.size %></td>
         </tr>
         <tr class="hp_table_smalltitle odd">
            <td><span>Urgent</span></td>
            <td align="right"><%= @tickets_district_urgent.size %></td>
          </tr>
          <tr class="hp_table_smalltitle even">
            <td><span>Normal</span></td>
            <td align="right"><%= @tickets_district_normal.size %></td>
          </tr>
         </tbody>
       </table>
     </div>

<% end %>
<% if has_role?(:dlf_agent) %>
    <%= render :partial=>'common/funds' %>
    <div class="cr">&nbsp;</div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/insurances'">
          <td>Insurance Policies(बीमा पॉलिसियों)</td>
          <td align="right" width="30"><u><%= @insurances_user.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending (अपूर्ण)</td>
          <td align="right"><%= @insurances_user.size - @insurances_user_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @insurances_user_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hp_box">
      <table border="0" cellpadding="8" cellspacing="0" width="100%">
        <tbody>
        <tr class="hp_table_title" onclick="document.location.href='/deposits'">
          <td>Deposits(जमा)</td>
          <td align="right" width="30"><u><%= @deposits_user.size %></u></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td>Pending(अपूर्ण)</td>
          <td align="right"><%= @deposits_user.size - @deposits_user_approved.size %></td>
        </tr>
        <tr class="hp_table_subtitle">
          <td class="border_top">Approved(अनुमोदित)</td>
          <td class="border_top" align="right"><%= @deposits_user_approved.size %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>
