<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>CSC</title>
  <%= javascript_include_tag 'jquery-1.6.1', 'facebox', 'jquery-ui-1.8.13.custom.min','jquery.tipTip','application' %>
  <%= stylesheet_link_tag 'admin_screen', 'style', 'facebox', 'jquery-ui-1.8.13.custom','tipTip' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $('a[rel*=facebox]').facebox()
      })</script>
  <script type="text/javascript">
      $(document).bind('reveal.facebox', function() {
          $('#facebox').draggable();
      })
  </script>

</head>
<body>
<div class="tabless">

  <div style="position: relative; left: 0px; top: 0px;" class="standalone" id="standalone">
    <%= render :partial=>'/import_flash' %>
    <%= form_for @user_session, :url =>{:action => "create"}  do |f| %>
        <div class="title">
          Welcome to CSC-BIHAR <br/>सीएससी - बिहार के लिए आपका स्वागत है
        </div>
        <div class="section">
          <div class="label">
            Email (ई-मेल)  :
          </div>
          <%= f.text_field :email,:class => "tipTip", :title=>"Enter Valid Email Id.Ex:user@sarkcsc.in/मान्य ईमेल दर्ज करें" %>
          <div class="label">
            Password (पासवर्ड):
          </div>
          <%= f.password_field :password, :class => "tipTip", :title=>"Enter Valid Password.Ex:12345/मान्य पासवर्ड दर्ज करें" %>
        </div>
        <div style="margin-left: 12px;">
          <%= f.check_box :remember_me %><%= f.label :remember_me %> (मुझे याद रखें )
          <!--| <a href="#" class="link">Forgot Password</a>-->
        </div>
        <br>

        <div class="buttonbar">
          <%= f.submit "Login (साइन इन करें)" %> <%= link_to "Instructions (निर्देश)", {:controller => 'help', :action=>'instructions'}, :rel=>'facebox', :class=>'tipTip1 link',:title => "Instructions about the Application" %>
        </div>
    <% end %>
  </div>
</div>
<center>
  <div id="footer">
    ©     <%= Time.now.strftime('%Y') %>
<a href="http://vedavaag.com" target="_blank">Vedavaag</a> Systems Limited. This is site is optimized to Firefox, Google Chrome and IE8+ Versions. Powered by <a href="http://jasita.com">JASITA</a>
  </div>
</center>
</body>
</html>
