<div class="copyright_text">
    <div>
      ©     <%= Time.now.strftime('%Y') %>
  <a href="http://vedavaag.com" target="_blank">Vedavaag</a> Systems Limited. This is site is optimized to Firefox, Google Chrome and IE8+ Versions. Powered by <a href="http://jasita.com">JASITA</a>
    </div>
</div>
