<div class="inline">
  <div align="right" style="float: right;" class="inline">
    VLE ID:
    <font color="#a52a2a"><b>
    <%= UserProfile.find(:first, :conditions=>{:user_id=>current_user.id}).vle_code %>
    </b></font>
    <br/>
    Available Balance (उपलब्ध धनराशि):
    <% user_fund = UserProfile.find(:first, :conditions=>{:user_id=>current_user.id}).available_funds %>

    <% if user_fund <= 0 %>
        <font color="#ff0000;"><b><%= user_fund %></b></font>
    <% else %>
        <font color="#005800;"><b><%= user_fund %></b></font>
    <% end %>

  </div>
</div>
