<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <title>CSC</title>
  <%= stylesheet_link_tag 'style', 'admin_screen', 'live_validation', 'facebox', 'jquery-ui-1.8.13.custom', 'tipTip','font' %>
  <%= javascript_include_tag 'jquery-1.6.1', 'excanvas', 'livevalidation_standalone.compressed', 'jquery-ui-1.8.13.custom.min', 'rails', 'application', 'facebox', 'jquery.tipTip', 'jquery.cluetip.min' %>

  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
</head>
<body>
<div id="page_container">
  <div id="page_top">
    <a href="/generals"><%= image_tag("logo.png", :size => "300x40", :alt => "Home") %></a>

    <div id="top_menu">
      <div id="top_m">

        <ul class="top_menu">
          <li>
            Welcome, <%= current_user.name %> !
          </li>
          <li>
            <a href="/generals" class="tipTip2" title="Home">Home</a>
          </li>
          <li>
            <%= link_to 'Profile', {:controller=>'users', :action=>'profile', :id=>current_user.id}, :class=>"tipTip2", :title=>"Update Profile" %>
          </li>
<!--          <li>
            <a href="#" class="tipTip2" title="HINDI Translation">हिंदी</a> &lt;!&ndash; ?locale=hi &ndash;&gt;
          </li>-->

          <% if current_user.email == 'dlf@sarkcsc.in' %>
          <% else %>
              <% if has_role?(:admin) or has_role?(:district_manager) or has_role?(:district_engineer) or has_role?(:vle) %>
                  <li>
                    <%= link_to 'Support', tickets_path, :class=>"tipTip2", :title=>"Support" %>
                  </li>
              <% end %>
          <% end %>
          <li>

            <%= link_to 'Logoff', logout_path, :id=>"logoff", :class=>"tipTip2", :title=>"Logoff" %>
          </li>
        </ul>

      </div>
    </div>
  </div>
