<div id="page_menu">
<ul class="page_menu">
<% unless current_user.email == 'dlf@sarkcsc.in' %>
    <!-- ##########################  General Menu ###################### -->
    <% if has_role?(:super_admin) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;GENERAL&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <li>
              <%= link_to 'States', states_path,:class=>"tipTip1",:title=>"Manage States" %>
            </li>
            <li>
              <%= link_to 'Divisions', divisions_path,:class=>"tipTip1",:title=>"Manage Divisions" %>
            </li>
            <li>
              <%= link_to 'Districts', districts_path,:class=>"tipTip1",:title=>"Manage Districts" %>
            </li>
            <li>
              <%= link_to 'Blocks', blocks_path,:class=>"tipTip1",:title=>"Manage Blocks" %>
            </li>
          </ul>
        </li>
    <% end %>
    <!-- ##########################  End General Menu ###################### -->
    <!-- ##########################  User Management Menu ###################### -->
    <% if has_role?(:admin) or has_role?(:super_admin) or has_role?(:manager) or has_role?(:district_manager) or has_role?(:district_engineer) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;USERS&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:admin) or has_role?(:super_admin) or has_role?(:district_manager) or has_role?(:district_engineer) %>
                <li>
                  <%= link_to 'Manage Users', users_path, :title=>"Manage Existing Users", :class=>"tipTip1" %>
                </li>
            <% end %>
            <% if has_role?(:manager) %>
                <li>
                  <%= link_to 'Verify User Registration', users_path, :title=>"Verify Users", :class=>"tipTip1" %>
                </li>
            <% end %>
            <% if has_role?(:super_admin) %>
                <li>
                  <%= link_to 'Manage Roles', roles_path, :class=>"tipTip1",:title=>"Manage Roles" %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <!-- ##########################  End Insurance  Menu ###################### -->
    <!-- ##########################  Insurance Menu ###################### -->
    <% if has_role?(:vle) or has_role?(:admin) or has_role?(:manager) or has_role?(:district_manager) or has_role?(:district_engineer) or has_role?(:dlf_agent)%>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;INSURANCE (बीमा)&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:district_manager) or has_role?(:district_engineer) or has_role?(:admin) or has_role?(:vle) or has_role?(:dlf_agent) %>
                <li>
                  <%= link_to 'Insurance Transactions (सूचकांक)', insurances_path, :title=>"Manage All Insurance Transactions", :class=>"tipTip1" %>
                </li>
            <% end %>
            <% if has_role?(:vle) or has_role?(:dlf_agent)%>
                <li>
                  <%= link_to 'New Insurance Policy (नई बीमा)', new_insurance_path, :title=>"Create New Insurance Policy Application", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Renew Insurance Policy', {:controller=>'insurances', :action=>'renewpolicy'}, :title=>"Renew Insurance Policy", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Suspense Transactions', {:controller=>"insurances",:action=>:suspense_transactions}, :title=>"Suspense Insurance Transactions", :class=>"tipTip1" %>
                </li>

            <% end %>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'New Policy Registration', policynames_path, :title=>"Manage All Policy Registrations", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Suspense Transactions', {:controller=>"insurances",:action=>:suspense_transactions}, :title=>"Suspense Insurance Transactions", :class=>"tipTip1" %>
                </li>

            <% end %>
            <% if has_role?(:manager) %>
                <li>
                  <%= link_to 'Verify Insurance Transactions', insurances_path, :title=>"Verify Insurance Transactions", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Suspense Transactions', {:controller=>"insurances",:action=>:suspense_transactions}, :title=>"Suspense Insurance Transactions", :class=>"tipTip1" %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <!-- ##########################  End Insurance Menu ###################### -->

    <!-- ##########################  PAN Card Menu ###################### -->
    <% if has_role?(:vle) or has_role?(:admin) or has_role?(:manager) or has_role?(:district_manager) or has_role?(:district_engineer) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;PAN (पैन)&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'Manage PAN Applications', pancards_path, :title=>"Manage PAN Applications", :class=>"tipTip1" %>
                </li>
            <% end %>
            <% if has_role?(:vle) %>
                <li>
                  <%= link_to 'Manage PAN Applications', pancards_path, :title=>"Manage PAN Applications", :class=>"tipTip1" %>
                  <%= link_to 'Create PAN Application', new_pancard_path, :title=>"Create New PAN Application", :class=>"tipTip1" %>
                </li>
            <% end %>
            <% if has_role?(:manager) %>
                <li>
                  <%= link_to 'Verify PAN Applications', pancards_path, :title=>"Verify PAN Application", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Suspense PAN Transactions', {:controller=>:pancards, :action=>"suspense_transactions"}, :title=>"Verify PAN Application", :class=>"tipTip1" %>
                </li>
            <% end %>

          </ul>
        </li>
    <% end %>
    <!-- ############### End of PANCARD Menu ############### -->

    <!-- ##########################  Education Menu ###################### -->
    <% if has_role?(:vle) or has_role?(:admin) or has_role?(:manager) or has_role?(:district_manager) or has_role?(:district_engineer) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;EDUCATION (शिक्षा)&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'Manage Applications', deducations_path, :title=>"Manage Applications", :class=>"tipTip1" %>
                  <%= link_to 'Manage Courses',courses_path,:title=>"Manage Courses",:class=>"tipTip1" %>
                  <%= link_to "Manage Universities",universities_path,:class=>"tipTip1",:title=>"Manage Universities" %>
                </li>
            <% end %>
            <% if has_role?(:vle) %>
                <li>
                  <%= link_to 'Manage Applications', deducations_path, :title=>"Manage  Applications", :class=>"tipTip1" %>
                  <%= link_to 'Create Application', new_deducation_path, :title=>"Create New  Application", :class=>"tipTip1" %>
                  <%= link_to 'View Course List', courses_path, :class=>"tipTip1",:title=>"View Available Courses" %>
                </li>
            <% end %>
            <% if has_role?(:manager) %>
                <li>
                  <%= link_to 'Verify Applications', deducations_path, :title=>"Verify Application", :class=>"tipTip1" %>
                </li>
            <% end %>

          </ul>
        </li>
    <% end %>
    <!-- ############### End of Education Menu ############### -->

    <!-- ##########################  Funds Menu ###################### -->
    <% if has_role?(:vle) or has_role?(:admin) or has_role?(:manager) or has_role?(:dlf_agent)%>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;FUNDS (फंड)&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:manager) %>
                <li>
                  <%= link_to 'Verify Fund Deposits', deposits_path, :title=>"Verify Fund Deposits", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Suspense Fund Deposits', {:action=>:suspense_transactions}, :title=>"Suspense Fund Deposits", :class=>"tipTip1" %>
                </li>
            <% end %>
            <% if has_role?(:vle) or has_role?(:dlf_agent)%>
                <li>
                  <%= link_to 'Manage Funds', deposits_path, :title=>"Manage All Deposits", :class=>"tipTip1" %>
                  <%= link_to 'Deposit Funds', new_deposit_path, :title=>"Deposit Amount to Account", :class=>"tipTip1" %>
                  <%= link_to 'Suspense Fund Deposits', {:controller=>:deposits,:action=>:suspense_transactions}, :title=>"Suspense Fund Deposits", :class=>"tipTip1" %>

                </li>
            <% end %>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'Manage Funds', deposits_path, :title=>"Manage All Deposits", :class=>"tipTip1" %>
                  <!--<%= link_to 'Add Funds', {:controller=>'deposits', :action=>'upload_funds'}, :title=>"Add Funds to User Accounts", :class=>"tipTip1" %>-->
                  <%= link_to 'Suspense Fund Deposits', {:controller=>:deposits,:action=>:suspense_transactions}, :title=>"Suspense Fund Deposits", :class=>"tipTip1" %>

                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <!-- ############### End of Funds Menu ############### -->
    <!-- ##########################  Report Menu ###################### -->
    <% if has_role?(:admin) or has_role?(:manager) or has_role?(:vle) or has_role?(:dlf_agent)%>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;REPORTS&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:admin) or has_role?(:manager) %>
                <li>
                  <%= link_to 'User Report', {:controller=>'reports', :action =>'users'}, :title=>"User Reports", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'User Account Reports', {:controller=>'reports', :action =>'user_accounts'}, :title=>"User Account Reports", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Insurance Report', {:controller=>'reports', :action=>'insurances'}, :title=>"Insurance Transactions Report", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'PAN Report', {:controller=>'reports', :action=>'pancards'}, :title=>"PAN Applications Report", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Funds Report', {:controller=>'reports', :action=>'funds'}, :title=>"Fund/Deposit Transactions Report", :class=>"tipTip1" %>
                </li>
                <li>
                  <%= link_to 'Education Report', {:controller=>'reports', :action=>'educations'}, :title=>"Education Applications Report", :class=>"tipTip1" %>
                </li>

            <% end %>
            <% if has_role?(:vle) or has_role?(:dlf_agent) %>
                <li>
                   <%= link_to 'Account Statement', {:controller=>'reports', :action=>'account_statement'}, :title=>"Account Statement", :class=>"tipTip1" %>
                 </li>

            <%end %>
          </ul>
        </li>
    <% end %>

    <!-- ########################## End of Report Menu ############### -->
    <!-- ##########################  Mail Menu ###################### -->
    <% if has_role?(:admin) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;MAILS&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'Mange Mails', bulkmails_path, :title=>"Manage Mails", :class=>"tipTip1" %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <!-- ############### End of Mail Menu ############### -->
    <!-- ##########################  SMS Menu ###################### -->
    <% if has_role?(:admin) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;SMS&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'Mange SMS', shortmessages_path, :title=>"Manage SMS", :class=>"tipTip1" %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <!-- ############### End of SMS Menu ############### -->

    <!-- ##########################  Help Menu ###################### -->
<!--
    <% if has_role?(:vle) or has_role?(:admin) or has_role?(:manager) or has_role?(:district_manager) or has_role?(:district_engineer) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;HELP&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:vle) %>
                <li>
                  <%= link_to 'VLE Help', "#" %>
                </li>
            <% end %>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'Administration Help', "#" %>
                </li>
            <% end %>
            <% if has_role?(:manager) %>
                <li>
                  <%= link_to 'Manager Help', "#" %>
                </li>
            <% end %>
            <% if has_role?(:district_manager) or has_role?(:district_engineer) %>
                <li>
                  <%= link_to 'Manager Help', "#" %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
-->
    <!-- ############### End of Help Menu ############### -->

    <!-- ##########################  Downloads ###################### -->
    <% if has_role?(:vle) or has_role?(:admin) or has_role?(:manager) or has_role?(:super_admin) or has_role?(:district_manager) or has_role?(:district_engineer) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;DOWNLOADS/डाउनलोड&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <li>
              <%= link_to 'Downloads', downloads_path, :title=>"Manage Form Downloads", :class=>"tipTip1" %>
            </li>
          </ul>
        </li>
    <% end %>
    <!-- ############### End of Download Menu ############### -->
    <!-- ##########################  Support  Menu  for State Engineer ###################### -->
    <% if has_role?(:state_engineer) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;Support Tickets&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
                <li>
                  <%= link_to 'Manage Tickets', tickets_path, :title=>"Manage Tickets", :class=>"tipTip1" %>
                </li>
          </ul>
        </li>
    <% end %>
    <!-- ############### End of Support Menu for State Engineer ############### -->

    </ul>
    <!-- ################################################################# -->

<% else %>
    <!-- Else condition for Unless dlf@sarkcsc.in-->
    <% if has_role?(:admin) %>
        <li>
          <a href="#">
            <div class="menu-l">
              &nbsp;
            </div>
            <div class="menu-c">
              <span>&nbsp;&nbsp;Reports&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="menu-r">
              &nbsp;
            </div>
          </a>
          <ul>
            <% if has_role?(:admin) %>
                <li>
                  <%= link_to 'All Insurance Transactions', insurances_path %>
                </li>
                <li>
                  <%= link_to 'Insurance Reports', {:controller=>'reports', :action=>'insurances'} %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
<% end %>
<!-- End of Unless dlf@sarkcsc.in -->
</div>
