<div class="like" style="">
    <div class="margin">
        <h3>Search (खोज)</h3>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="searchbox">
            <%= form_tag(controller_name, :method => 'get') do %>
            <%= text_field_tag :search, params[:search],:size=>20, :class => "formTextBox tipTip" ,:title=>"Enter Search" %>
            <%= submit_tag 'Go', :disable_with=>'...'%>
            <% end %>
        </div>
    </div>
</div>
