<div class="form-container">
    <%= form_for(@university) do |f| %>
    <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
        <%= f.error_messages %>
        <div>
            <label for="name">
                Name <em>*</em>
            </label>
            <%= f.text_field :name, :id=>"statename", :onChange=>"capitalizeMe(this)",:class => "formTextBox tipTip",:title=>"Enter Name of the University" %>
            <script type="text/javascript">
                var statename = new LiveValidation('statename', {
                    onlyOnSubmit: true
                });
                statename.add(Validate.Presence)
            </script>
        </div>
        <div>
            <label for="description ">
                Description 
            </label>
            <%= f.text_area :description ,:cols=>28,:rows=>5,:class=>"tipTip",:title=>"Enter Description"%>
        </div>
        <div class="actions">
            <%= f.submit :class=>"btnEdit" %>
        </div>
    </fieldset>
    <% end %>
</div>
