<% for university in  @recent_universities %>
<li class="" id="recent_division_<%= university.id%>">
    <dt>
        <%=link_to truncate(university.name,:length=>27),university_path(university),:class=>"tipTip1",:title => "View University Details" %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>