<h3>Universities | Manage Universities</h3>
<%= link_to 'New University', new_university_path, :class=>"more tipTip2", :title => "Create New University" %>
<br/><br/>
<div class="help_text">
  * List of All Universities.<br/>
</div>

<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @universities,:entry_name => 'University' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th class="header">
                    <%= sortable 'name' %>
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @universities.each do |university| %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <%= highlight(university.name,params[:search]) %>

                </td>
                <td>
                    <%= university.description %>
                </td>
                <td>
                    <%= link_to 'View', university,:class => "tipTip2",:title => "View University Details" %>
                  </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="flickr_pagination">
        <%= page_entries_info @universities, :entry_name => 'University' %> <%= will_paginate @universities, :container => false %>
    </div>
</div>
