<h3>Universities | New University</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for University.<br/>* Please check all entries before Save.
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to Universities', universities_path, :class=>'more tipTip1',:title => "Back to Universities" %>
</div>