<h3>States | View State Details</h3>
<div class="formbox">
<div class="desc">Name : <%= @university.name %></div>
<div class="divider"></div>
<div class="desc">Description : <%= @university.description %> </div>
<div class="divider"></div>
</div>
<div class="bottom_links" >
<%= link_to 'Edit', edit_university_path(@university),:class=>"more tipTip2",:title => "Edit University Details" %>
<%= link_to 'Back to Universities', universities_path,:class=>"more tipTip1",:title => "Back to Universities"  %>
</div>


