<h3>Users | User Account Statement</h3>
<% if has_role?(:admin) or has_role?(:manager) %>
<div class="help_text">
 <table align="center">
      <tr >
        <td bgcolor="#C4DEF5" align="right"><b>VLE ID</b></td>
        <td bgcolor="#C4DEF5">:</td>
        <td bgcolor="#C4DEF5"><%= @user.user_profile.vle_code %></td>
      </tr>
   <tr >
     <td bgcolor="#C4DEF5" align="right"><b>VLE Name</b></td>
     <td bgcolor="#C4DEF5">:</td>
     <td bgcolor="#C4DEF5"><%= @user.name %></td>
   </tr>
   <tr >
     <td bgcolor="#C4DEF5" align="right"><b>VLE District/Block/Panchayat</b></td>
     <td bgcolor="#C4DEF5">:</td>
     <td bgcolor="#C4DEF5"><%= @user.user_profile.district.name + "|" + @user.user_profile.block.name + "|" + @user.user_profile.panchayat %></td>
   </tr>
   <tr >
     <td bgcolor="#C4DEF5" align="right"><b>Available Balance</b></td>
     <td bgcolor="#C4DEF5">:</td>
     <td bgcolor="#C4DEF5">
       <%= number_with_precision(@user.user_profile.available_funds, :precision=>2) %>
     </td>
   </tr>

 </table>
</div>
<% end %>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @transactions %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        Date
      </th>
      <th>Service</th>
      <th>
        Reference No
      </th>
      <th>
        Debit
      </th>
      <th>
        Credit
      </th>
    </tr>
    </thead>
    <% dr_total,cr_total=0,0 %>
    <% @transactions.each do |t| %>
        <tr>
          <td><%= t.transaction_date.strftime('%d-%m-%Y') %>
          </td>
          <td align="left"><%= t.service %></td>
          <td align="left">
            <% if t.transaction_mode == "Dr" %>
            <%= t.transaction_number %>
           <%else %>
            <%= t.transaction_number %> (
            <%= Deposit.find_by_transaction_number(t.transaction_number).transaction_mode %> )
           <%end %>
          </td>
          <% if t.transaction_mode == "Dr" %>
              <td align="right">
                <%= number_with_precision(t.amount, :precision=>2) %>
                <% dr_total += t.amount %>
              </td>
              <td align="right"></td>
          <% else %>
              <td align="right"></td>
              <td align="right">
                <%= number_with_precision(t.amount, :precision=>2) %>
                <% cr_total += t.amount %>
              </td>
          <% end %>
        </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td align="right"><b><%= number_with_precision(dr_total, :precision=>2) %></b></td>
      <td align="right"><b><%= number_with_precision(cr_total, :precision=>2) %></b></td>
    </tr>
  </table>
  <div class="apple_pagination">
    <%= page_entries_info @transactions, :entry_name => 'Transactions' %><%= will_paginate @transactions, :container => false %>
  </div>
</div>
