<h3>Reports | Education Report</h3>
<div class="help_text">
  * <b>EOD Report</b> - To download All Application of Current Day as CSV file<br/>
  * <b>EOD Collection Report</b> - To download All Application Collection of Current Day as PDF file<br/>
  * <b>Date Range Report</b> - To download All Applications between various Date Range<br/>
  * <b>Export All</b> - To download All Applications present in system as CSV file
</div>

<%= link_to "EOD Report", {:action=>'education_eodreport'}, :class=>'more tipTip2', :title => "Download EOD Report as CSV file" %>
<%= link_to "EOD Collection Report", {:action=>'education_eodpayment'}, :class => 'more tipTip2', :title => "Download EOD Collection Report as PDF file" %>
<%= link_to "Date Range Report", {:action => 'education_daterangereport'}, :class=>'more tipTip2', :title => "Download Date Rage Report" %>
<%= link_to "Export All", {:action => 'education_export'}, :class=>"more tipTip2", :title => "Download All Applications as CSV file" %>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @educations, :entry_name => 'Application' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th>
        Transaction ID
      </th>
      <th>
        Date
      <th>
        Amount
      </th>
      <th>
        VLE ID
      </th>
      <th>
        VLE Name
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @educations.each do |education| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if education.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>

          </td>
          <td>
            <%= education.transaction_id %>
          </td>
          <td>
            <%= education.created_at.strftime('%d-%m-%Y') %>
          </td>
          <td align="right">

            <%= number_with_precision(education.course.fee, :precision=>2) %>

          </td>
          <td>
            <%= UserProfile.find_by_user_id(education.user_id).vle_code %>
          </td>
          <td align="left">
            <%= User.find_by_id(education.user_id).name %>
          </td>
          <td>
            <%= link_to 'View', education, :class=>"tipTip2", :title => "View Transaction" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
   <%= page_entries_info @educations, :entry_name => 'Application' %> <%= will_paginate @educations, :container => false %>
  </div>
</div>
