<h3>Reports | Education EOD Report</h3>
<%= link_to "EOD Report Export", {:action=>'education_eodreport_export'}, :class => 'more' %>
<%= link_to "Report Home", {:action => 'educations'}, :class=> 'more' %>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @educations %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th>
        Transaction ID
      </th>
      <th>
        Date
      <th>
        Amount
      </th>
      <th>
        VLE ID
      </th>
      <th>
        VLE Name
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @educations.each do |education| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if education.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>
          <td>
            <%= education.transaction_id %>
          </td>
          <td>
            <%= education.created_at.strftime('%d-%m-%Y') %>
          </td>
          <td>
            <%= number_with_precision(education.course.fee, :precision=>2) %>
          </td>
          <td>
            <%= UserProfile.find_by_user_id(education.user_id).vle_code %>
          </td>
          <td>
            <%= User.find_by_id(education.user_id).name %>
          </td>

          <td>
            <%= link_to 'View', education %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
      <%= page_entries_info @educations, :entry_name => 'Application' %> <%= will_paginate @educations, :container => false %>
  </div>
</div>
