<style type="text/css">
    .tablesorter {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

    .tablesorter td, .tablesorter th {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }

    .tablesorter thead tr, .tablesorter thead tr, .tablesorter tfoot tr {
        border: 1px solid #fff;
        font-size: 11px;
        height: 25px;
        padding: 4px;
    }

    .tablesorter tbody td {
        height: 25px;
        padding: 4px;
        vertical-align: middle;
    }


</style>
<h3 align="center">Application Collection Report</h3>
<hr/>
<h4 align="left">Date: <%= @start_date %> to <%= @end_date %></h4>

<table class="tablesorter">
  <thead align="center">
  <tr>
    <th>
      SNo
    </th>
    <th>
      Status
    </th>
    <th>
      VLE ID
    </th>
    <th>
      VLE Name
    </th>

    <th>
      Transaction ID
    </th>
    <th>
      Transaction Date
    </th>

    <th>
      Amount
    </th>

  </tr>
  </thead>
  <tbody>
  <% i, total_amount = 1, 0 %>
  <% @educations.each do |education| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <% if education.status == false %>

              Pending

          <% else %>
Approved
          <% end %>

        </td>
        <td>
          <%= UserProfile.find_by_user_id(education.user_id).vle_code %>
        </td>
        <td>
          <%= User.find_by_id(education.user_id).name %>
        </td>
        <td>
          <%= education.transaction_id %>
        </td>
        <td>
          <%= education.transaction_date.strftime("%d-%m-%Y") %>
        </td>

        <td align="right">
          <%= number_with_precision(education.course.fee, :precision=>2) %>
          <% total_amount += education.course.fee %>
        </td>
      </tr>
      <% i = i + 1 %>
  <% end %>
  <tr>
    <td colspan="6" align="right">
      Total Amount (Rs.):
    </td>
    <td align="right"><%= total_amount %>
      <%= number_with_precision(total_amount, :precision=>2) %>

    </td>
  </tr>
  </tbody>
</table>

