<h3>Reports | Education Report (Date Range)</h3>
<div class="help_text">
  * <b>Export Date Report</b> - To download All Applications between various Date range as CSV file<br/>
  * <b>Export Date Collection Report</b> - To download All Applications between various Date range as
  PDF file<br/>
  * <b>Report Home</b> - Back to Deposit Report home
</div>
<%= link_to 'Export Date Report', {:action=>'education_daterangexport', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2", :title => "Download Applications as CSV file" %>
<%= link_to 'Export Date Collection Report', {:action=>'education_datepayment', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2", :title => "Download Application Collection PDF file" %>
<%= link_to 'Report Home', {:action=>'educations'}, :class=>'more tipTip1', :title => "Back to Education Report Home" %>
<br/>
<br/>
<%= form_tag do -%>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
      Select Start Date
      : <%= text_field_tag 'start_date', @start_date ? @start_date :Time.now.strftime('%d-%m-%Y'), :class=>"tipTip", :title=>"Select Start Date" %>
      Select End Date
      : <%= text_field_tag 'end_date', @end_date ? @end_date :Time.now.strftime('%d-%m-%Y'), :class=>"tipTip", :title=>"Select End Date" %>
      <%= submit_tag 'Get Applications' %>
    </fieldset>
<% end -%>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @educations, :entry_name => 'Applicaitons' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th>
        Transaction ID
      </th>
      <th>
        Date
      <th>
        Amount
      </th>
      <th>
        VLE ID
      </th>
      <th>
        VLE Name
      </th>

      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @educations.each do |education| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if education.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>
          <td>
            <%= education.transaction_id %>
          </td>
          <td>
            <%= education.transaction_date.strftime('%d-%m-%Y') %>
          </td>
          <td align="right">
            <%= education.course.fee %>
          </td>
          <td>
            <%= UserProfile.find_by_user_id(education.user_id).vle_code %>
          </td>
          <td align="left">
            <%= User.find_by_id(education.user_id).name %>
          </td>

          <td>
            <%= link_to 'View', education, :class=>"tipTip2", :title => "View Transaction" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
     <%= page_entries_info @educations, :entry_name => 'Application' %> <%= will_paginate @educations, :container => false %>
  </div>
</div>
<script>
    $(function() {
        $("#start_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
        $("#end_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
    });
</script>
