<h3>Reports | Funds Report</h3>
<div class="help_text">
  * <b>EOD Report</b> -  To download All Deposit transactions of Current Day as CSV file<br/>
  * <b>EOD Collection Report</b> -  To download All Deposit transactions Collection of Current Days as PDF file<br/>
  * <b>Date Range Report</b> -  To download All Deposit transactions between various Date Range<br/>
  * <b>Export All</b> - To download All Deposit transactions present in system as CSV file
</div>

<%= link_to "EOD Report", {:action=>'fund_eodreport'},:class=>'more tipTip2',:title => "Download EOD Report as CSV file"%>
<%= link_to "EOD Collection Report",{:action=>'fund_eodpayment'},:class => 'more tipTip2',:title => "Download EOD Collection Report as PDF file"  %>
<%= link_to "Date Range Report", {:action => 'fund_daterangereport'},:class=>'more tipTip2',:title => "Download Date Rage Report"%>
<%= link_to "Export All" ,{:action => 'fund_export'}, :class=>"more tipTip2",:title => "Download All Deposit transactions as CSV file" %>
<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @deposits,:entry_name => 'Deposit' %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th>
                    Status
                </th>
                <th>
                    Transaction ID
                </th>
				<th>
					Date
                <th>
                    Amount
                </th>
                <th>
                    VLE ID
                </th>
                <th>
                  VLE Name
                </th>
                <th>
                    Deposited By
                </th>
                <th>
                    Mode
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @deposits.each do |deposit| %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <% if deposit.status == false %>
                    <font color='red'>
                        <b>P</b>
                    </font>
                    <%else %>
					<% if deposit.fundstatus == false%>
                    <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#CC0099"><b>ND</b></font>
					<%else%>
                   <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#ff5700"><b>D</b></font>
					<%end%>
                    <%end %>
		        </td>
                <td>
                    <%= deposit.transaction_number %>
                </td>
                <td>
                    <%= deposit.transaction_date.strftime('%d-%m-%Y') %>
                </td>
                <td align="right">
                   <%= number_with_precision(deposit.amount, :precision=>2) %>
                </td>
                <td>
                      <%= UserProfile.find_by_user_id(deposit.user_id).vle_code %>
                </td>
                <td align="left">
                   <%= User.find_by_id(deposit.user_id).name %>
                </td>
                <td align="left">
                    <%= User.find_by_id(deposit.created_by).name %>
                </td>
                <td>
                    <%= deposit.transaction_mode %>
                </td>
                <td>
                    <%= link_to 'View', deposit,:class=>"tipTip2",:title => "View Transaction" %>
			   </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="apple_pagination">
       <%= page_entries_info @deposits, :entry_name => 'Fund Deposit' %> <%= will_paginate @deposits, :container => false %>
    </div>
</div>
