<style type="text/css">
    .tablesorter {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

    .tablesorter td, .tablesorter th {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }

    .tablesorter thead tr, .tablesorter thead tr, .tablesorter tfoot tr {
        border: 1px solid #fff;
        font-size: 11px;
        height: 25px;
        padding: 4px;
    }

    .tablesorter tbody td {
        height: 25px;
        padding: 4px;
        vertical-align: middle;
    }


</style>
<h3 align="center">Depost Transaction Collection Report (EOD)</h3>
<hr/>
<h4 align="left">Date: <%= Date.today.strftime("%d-%m-%Y") %></h4>

<table class="tablesorter">
  <thead align="center">
  <tr>
    <th>
      SNo
    </th>
    <th>
      Status
    </th>
    <th>
      VLE ID
    </th>
    <th>
      VLE Name
    </th>

    <th>
      Transaction ID
    </th>
    <th>
      Payment Mode
    </th>
    <th>
      Deposited By
    </th>
    <th>
      Amount
    </th>

  </tr>
  </thead>
  <tbody>
  <% i, total_amount = 1, 0 %>
  <% @deposits.each do |deposit| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <% if deposit.status == false %>
              P
          <% else %>
              <% if deposit.fundstatus == false %>
                  A&nbsp;ND
              <% else %>
                  A&nbsp;D
              <% end %>
          <% end %>

        </td>
        <td>
          <%= UserProfile.find_by_user_id(deposit.user_id).vle_code %>
        </td>
        <td>
          <%= User.find_by_id(deposit.user_id).name %>
        </td>
        <td>
          <%= deposit.transaction_number %>
        </td>
        <td>
          <%= deposit.transaction_mode %>
        </td>
        <td>
          <%= User.find_by_id(deposit.created_by).name %>
        </td>
        <td align="right">
          <%= number_with_precision(deposit.amount, :precision=>2) %>

          <% total_amount += deposit.amount.to_f %>
        </td>
      </tr>
      <% i = i + 1 %>
  <% end %>
  <tr>
    <td colspan="7" align="right">
      Total Amount (Rs.):
    </td>
    <td align="right">
      <%= number_with_precision(total_amount, :precision=>2) %>

    </td>
  </tr>
  </tbody>
</table>

