<h3>Reports | Funds EOD Report</h3>
<%= link_to "EOD Report Export", {:action=>'fund_eodreport_export'},:class => 'more'%>
<%= link_to "Report Home", {:action => 'funds'}, :class=> 'more' %>
<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @deposits %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
                <th>
                    Status
                </th>
                <th>
                    Transaction ID
                </th>
				<th>
					Date
                <th>
                    Amount
                </th>
                <th>
                    VLE ID
                </th>
                <th>
                  VLE Name
                </th>
                <th>
                    Deposited By
                </th>
                <th>
                    Mode
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @deposits.each do |deposit| %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <% if deposit.status == false %>
                    <font color='red'>
                        <b>P</b>
                    </font>
                    <%else %>
					<% if deposit.fundstatus == false%>
                    <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#CC0099"><b>ND</b></font>
					<%else%>
                   <font color='green'>
                        <b>A</b>
                    </font>
					<font color="#ff5700"><b>D</b></font>
					<%end%>
                    <%end %>
		        </td>
                <td>
                    <%= deposit.transaction_number %>
                </td>
                <td>
                    <%= deposit.transaction_date.strftime('%d-%m-%Y') %>
                </td>
                <td>
                  <%= number_with_precision(deposit.amount, :precision=>2) %>
                </td>
                <td>
                      <%= UserProfile.find_by_user_id(deposit.user_id).vle_code %>
                </td>
                <td>
                   <%= User.find_by_id(deposit.user_id).name %>
                </td>
                <td>
                    <%= User.find_by_id(deposit.created_by).name %>
                </td>
                <td>
                    <%= deposit.transaction_mode %>
                </td>
                <td>
                    <%= link_to 'View', deposit %>
			   </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="apple_pagination">
       <%= page_entries_info @deposits, :entry_name => 'Fund Deposit' %> <%= will_paginate @deposits, :container => false %>
    </div>
</div>
