<h3>Reports | Funds Report (Date Range)</h3>
<div class="help_text">
  * <b>Export Date Report</b> - To download All Deposit transactions between various Date range as CSV file<br/>
  * <b>Export Date Collection Report</b> - To download All Deposit transaction Collection between various Date range as
  PDF file<br/>
  * <b>Report Home</b> - Back to Deposit Report home
</div>
<%= link_to 'Export Date Report', {:action=>'fund_daterangexport', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2", :title => "Download the Deposit Transaction as CSV file" %>
<%= link_to 'Export Date Collection Report', {:action=>'fund_datepayment', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2", :title => "Download the Deposit collection as PDF file" %>
<%= link_to 'Report Home', {:action=>'funds'}, :class=>'more tipTip1', :title => "Back to Deposit Report Home" %>
<br/>
<br/>
<%= form_tag do -%>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
      Select Start Date
      : <%= text_field_tag 'start_date', @start_date ? @start_date :Time.now.strftime('%d-%m-%Y'), :class=>"tipTip", :title=>"Select Start Date" %>
      Select End Date
      : <%= text_field_tag 'end_date', @end_date ? @end_date :Time.now.strftime('%d-%m-%Y'), :class=>"tipTip", :title=>"Select End Date" %>
      <%= submit_tag 'Get Deposit Transactions' %>
    </fieldset>
<% end -%>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @deposits,:entry_name => 'Deposit' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th>
        Transaction ID
      </th>
      <th>
        Date
      <th>
        Amount
      </th>
      <th>
        VLE ID
      </th>
      <th>
        VLE Name
      </th>
      <th>
        Deposited By
      </th>
      <th>
        Mode
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @deposits.each do |deposit| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if deposit.status == false %>
                <font color='red'>
                  <b>P</b>
                </font>
            <% else %>
                <% if deposit.fundstatus == false %>
                    <font color='green'>
                      <b>A</b>
                    </font>
                    <font color="#CC0099"><b>ND</b></font>
                <% else %>
                    <font color='green'>
                      <b>A</b>
                    </font>
                    <font color="#ff5700"><b>D</b></font>
                <% end %>
            <% end %>
          </td>
          <td>
            <%= deposit.transaction_number %>
          </td>
          <td>
            <%= deposit.transaction_date.strftime('%d-%m-%Y') %>
          </td>
          <td align="right">

            <%= number_with_precision(deposit.amount, :precision=>2) %>

          </td>
          <td>
            <%= UserProfile.find_by_user_id(deposit.user_id).vle_code %>
          </td>
          <td align="left">
            <%= User.find_by_id(deposit.user_id).name %>
          </td>
          <td align="left">
            <%= User.find_by_id(deposit.created_by).name %>
          </td>
          <td>
            <%= deposit.transaction_mode %>
          </td>
          <td>
            <%= link_to 'View', deposit,:class=>"tipTip2",:title => "View Transaction" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <%= page_entries_info @deposits, :entry_name => 'Fund Deposit' %> <%= will_paginate @deposits, :container => false %>
  </div>
</div>
<script>
    $(function() {
        $("#start_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
        $("#end_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
    });
</script>
