<h3>Insurances | Insurance Reports</h3>
<div class="help_text">
  * <b>Export Date Report</b> -  To download All Insurance transactions between various Date range as CSV file<br/>
  * <b>Export Date Collection Report</b> -  To download All Insurance transactions Collection between various Date range as PDF file<br/>
  * <b>Report Home</b> - Back to Insurance Transactions Report home
</div>


    <%= link_to 'Export Suspense Report', {:action=>'insu_suspense_export', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2",:title => "Download the transactions as CSV file" %>
    <%= link_to 'Export Suspense Collection Report', {:action=>'insu_suspense_collection', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2",:title => "Download the transaction collection as PDF file" %>
    <%= link_to 'Report Home', {:action=>'insurances'}, :class=>'more tipTip1',:title => "Back to Insurance Report Home" %>

<br/>
<br/>
<%= form_tag do -%>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
    Select Start Date<em>*</em> : <%= text_field_tag 'start_date', @start_date ? @start_date :Time.now.strftime('%d-%m-%Y'),:class=>"tipTip",:title=>"Select Start Date" %>
    Select End Date<em>*</em> : <%= text_field_tag 'end_date', @end_date ? @end_date :Time.now.strftime('%d-%m-%Y'),:class=>"tipTip",:title=>"Select End Date" %>
    <%= submit_tag 'Get Transactions' %>
    </fieldset>
<% end -%>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @insurances,:entry_name => 'Policy' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th class="header">
        Transaction ID
      </th>
      <th>
        Transaction Date
      </th>
      <th>
        Type
      </th>
      <th>
        Policy Name
      </th>
      <th>
        Insured Name
      </th>
      <th>
        Sum Assured
      </th>
      <th>
        Premium Paid
      </th>

      <th>
        VLE ID
      </th>
      <th>
        VLE Name
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @insurances.each do |insurance| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if insurance.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>

          <td>
            <%= insurance.transaction_id %>
          </td>
          <td>
            <%= insurance.transaction_date.strftime('%d-%m-%Y') %>
          </td>
          <td>
            <% if insurance.policy_type == "New" %>
                <font color="green"><b>N</b></font>
            <% else %>
                <font color="#8a2be2"><b>R</b></font>
            <% end %>
          </td>
          <td align="left">
            <%= truncate(insurance.policyname.name, :length=>10) %>
          </td>
          <td align="left">
            <%= truncate(insurance.insured_holder, :length=>10) %>
          </td>
          <td align="right">
             <%= number_with_precision(insurance.sum_assured, :precision=>2) %>
          </td>
          <td align="right">
            <%= number_with_precision(insurance.collected_premium, :precision=>2) %>
          </td>

          <td>
            <%= UserProfile.find_by_user_id(insurance.user_id).vle_code %>
          </td>
          <td align="left">
            <%= User.find_by_id(insurance.user_id).name %>
          </td>
          <td>
            <%= link_to 'View', insurance,:class=>"tipTip2",:title => "View Transaction" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <%= page_entries_info @insurances, :entry_name => 'Policy' %> <%= will_paginate @insurances, :container => false %>
  </div>
</div>
<script>
    $(function() {
        $("#start_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
        $("#end_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
    });
</script>