<style type="text/css">
    .tablesorter {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

    .tablesorter td, .tablesorter th {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }

    .tablesorter thead tr, .tablesorter thead tr, .tablesorter tfoot tr {
        border: 1px solid #fff;
        font-size: 11px;
        height: 25px;
        padding: 4px;
    }

    .tablesorter tbody td {
        height: 25px;
        padding: 4px;
        vertical-align: middle;
    }
</style>
<h3 align="center">Insurance Transaction Collection Report (EOD)</h3>
<hr/>
<h4 align="left">Date: <%= Date.today.strftime("%d-%m-%Y") %></h4>
<table class="tablesorter">
  <thead align="center">
  <tr>
    <th>
      SNo
    </th>
    <th>
      Status
    </th>
    <th>
      VLE ID
    </th>
    <th>
      VLE Name
    </th>

    <th>
      Transaction ID
    </th>
    <th>
      Type
    </th>
    <th>
      Holder Name
    </th>
    <th>
      Sum Assured
    </th>
    <th>
      Premium (Rs.)
    </th>
  </tr>
  </thead>
  <tbody>
  <% i,total_amount = 1,0 %>
  <% @insurances.each do |insurance| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <% if insurance.status == false %>
              P
          <% else %>
              A
          <% end %>
        </td>
        <td>
          <%= UserProfile.find_by_user_id(insurance.user_id).vle_code %>
        </td>
        <td>
          <%= User.find_by_id(insurance.user_id).name %>
        </td>
        <td>
          <%= insurance.transaction_id %>
        </td>
        <td>
          <%= insurance.policy_type %>
        </td>
        <td>
          <%= insurance.insured_holder %>
        </td>
        <td align="right">
          <%= number_with_precision(insurance.sum_assured, :precision=>2) %>
        </td>
        <td align="right">
          <%= number_with_precision(insurance.collected_premium, :precision=>2) %>
          <% total_amount += insurance.collected_premium.to_f %>
        </td>
      </tr>
      <% i = i + 1 %>
  <% end %>
  <tr>
    <td colspan="8" align="right">
      Total Amount (Rs.):
    </td>
    <td align="right">
       <%= number_with_precision(total_amount, :precision=>2) %>
    </td>
  </tr>
  </tbody>
</table>

