<h3>Insurances | Insurance Reports</h3>
<div class="help_text">
  * <b>EOD Report</b> - To download All Insurance transactions of Current Day as CSV file<br/>
  * <b>EOD Collection Report</b> - To download All Insurance transactions Collection of Current Days as PDF file<br/>
  * <b>Date Range Report</b> - To download All Insurance transactions between various Date Range<br/>
  * <b>Export All</b> - To download All Insurance transactions present in system as CSV file
</div>
<% if has_role?(:admin) or has_role?(:manager) %>
    <%= link_to 'EOD Report', {:action=>'insurance_eodreport'}, :class=>'more tipTip2', :title => "Download EOD Report as CSV file" %>
    <%= link_to 'EOD Collection Report', {:action=>'insurance_eodpayment'}, :class => 'more tipTip2', :title => "Download EOD Collection Report as PDF file" %>
    <%= link_to 'Date Range Report', {:action=>'insurance_daterangereport'}, :class=>'more tipTip2', :title => "Download Date Rage Report" %>
    <%= link_to 'Suspense Transactions', {:action=>:ins_suspense_transactions}, :class=>"more tipTip2", :title => "Download All Suspense Insurance Transactions" %>
    <%= link_to 'Export All', {:action=>'insurance_export'}, :class=>"more tipTip2", :title => "Download All Insurance Transactions as CSV file" %>
<% end %>
<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @insurances, :entry_name => 'Policy' %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        SNo
      </th>
      <th>
        Status
      </th>
      <th>
        Transaction ID
      </th>
      <th>
        Transaction Date
      </th>
      <th>
        Type
      </th>
      <th>
        Policy Name
      </th>
      <th>
        Insured Name
      </th>
      <th>
        Sum Assured
      </th>
      <th>
        Premium Paid
      </th>
      <th>
        VLE ID
      </th>
      <th>
        VLE Name
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @insurances.each do |insurance| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <% if insurance.status == false %>
                <font color='red'><b>P</b></font>
            <% else %>
                <font color='green'><b>A</b></font>
            <% end %>
          </td>
          <td>
            <%= insurance.transaction_id %>
          </td>
          <td>
            <%= insurance.transaction_date.strftime('%d-%m-%Y') %>
          </td>
          <td>
            <% if insurance.policy_type == "New" %>
                <font color="green"><b>N</b></font>
            <% else %>
                <font color="#8a2be2"><b>R</b></font>
            <% end %>
          </td>
          <td align="left">
            <%= truncate(insurance.policyname.name, :length=>10) %>
          </td>
          <td align="left">
            <%= truncate(insurance.insured_holder.titleize, :length=>10) %>
          </td>
          <td align="right">
            <%= number_with_precision(insurance.sum_assured, :precision=>2) %>
          </td>
          <td align="right">
            <%= number_with_precision(insurance.collected_premium, :precision=>2) %>
          </td>
          <td>
            <%= UserProfile.find_by_user_id(insurance.user_id).vle_code %>
          </td>
          <td align="left">
            <%= User.find_by_id(insurance.user_id).name %>
          </td>
          <td>
            <%= link_to 'View', insurance, :class=>"tipTip2", :title => "View Transaction" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <%= page_entries_info @insurances, :entry_name => 'Policy' %>  <%= will_paginate @insurances, :container => false %>
  </div>
</div>
