<h3>Insurances | Insurance Reports</h3>
<%= link_to "Export EOD Report", {:action=>'insurance_eodreport_export'},:class=>'more'%>
<%= link_to "Insurance Report Home", {:action=>'insurances'},:class=>'more'%>
<div class="list">
    <table width="100%">
        <tr>
            <td align="right">
                <b><i>per page</i></b>
                <%=per_page %>| <%= page_entries_info @insurances %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>
                    SNo
                </th>
				<th>
                    Status
                </th>
                <th class="header">
                    Transaction ID
                </th>
                <th>
                    Transaction Date
                </th>
                <th>
                    Type
                </th>
                <th>
                    Policy Name
                </th>
                <th>
                    Insured Name
                </th>
                <th>
                    Sum Assured
                </th>
                <th>
                    Premium Paid
                </th>
                <th>
                    VLE ID
                </th>
                <th>
                    VLE Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @insurances.each do |insurance| %>
            <tr>
                <td>
                    <%= i %>
                </td>
               <td>
                    <% if insurance.status == false %>
						<font color='red'><b>P</b></font>
					<%else%>
						<font color='green'><b>A</b></font>
					<%end%>
                </td>

                <td>
                    <%= insurance.transaction_id %>
                </td>
                <td>
                    <%= insurance.transaction_date.strftime('%d-%m-%Y') %>
                </td>
                <td>
                    <%= insurance.policy_type %>
                </td>
                <td>
                    <%= truncate(insurance.policyname.name, :length=>10) %>
                </td>
                <td>
                    <%= truncate(insurance.insured_holder,:length=>10) %>
                </td>
                <td align="right">
                   <%= number_with_precision(insurance.sum_assured, :precision=>2) %>
                </td>
                <td align="right">
                     <%= number_with_precision(insurance.collected_premium, :precision=>2) %>
                </td>

       <td>
          <%= UserProfile.find_by_user_id(insurance.user_id).vle_code %>
        </td>
        <td>
          <%= User.find_by_id(insurance.user_id).name %>
        </td>
                <td>
                    <%= link_to 'View', insurance %>
                </td>
            </tr>
            <% i =  i + 1 %>
            <% end %>
        </tbody>
    </table>
    <div class="apple_pagination">
        <%= page_entries_info @insurances, :entry_name => 'Policy' %><%= will_paginate @insurances, :container => false %>
    </div>
</div>
