<style type="text/css">
    .tablesorter {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

    .tablesorter td, .tablesorter th {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }

    .tablesorter thead tr, .tablesorter thead tr, .tablesorter tfoot tr {
        border: 1px solid #fff;
        font-size: 11px;
        height: 25px;
        padding: 4px;
    }

    .tablesorter tbody td {
        height: 25px;
        padding: 4px;
        vertical-align: middle;
    }
</style>
<h3 align="center">PAN Transaction Collection Report (EOD)</h3>
<hr/>
<h4 align="left">Date: <%= Date.today.strftime("%d-%m-%Y") %></h4>
<table class="tablesorter">
  <thead align="center">
  <tr>
    <th>
      SNo
    </th>
    <th>
      Status
    </th>
    <th>
      VLE ID
    </th>
    <th>
      VLE Name
    </th>

    <th>
      Transaction ID
    </th>
    <th>
      Name
    </th>
     <th>
      Amount
    </th>
  </tr>
  </thead>
  <tbody>
  <% i,total_amount = 1,0 %>
  <% @pancards.each do |pancard| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <% if pancard.status == false %>
              P
          <% else %>
              A
          <% end %>
        </td>
        <td>
          <%= UserProfile.find_by_user_id(pancard.user_id).vle_code %>
        </td>
        <td>
          <%= User.find_by_id(pancard.user_id).name %>
        </td>
        <td>
          <%= pancard.panapplication_number%>
        </td>
        <td>
          <%= pancard.first_name.titleize + pancard.middle_name.titleize + pancard.last_name.titleize %>
        </td>

        <td align="right">
          <%= number_with_precision(pancard.amount, :precision=>2) %>
          <% total_amount += pancard.amount.to_f %>
        </td>
      </tr>
      <% i = i + 1 %>
  <% end %>
  <tr>
    <td colspan="6" align="right">
      Total Amount (Rs.):
    </td>
    <td align="right">
      <%= number_with_precision(total_amount, :precision=>2) %>

    </td>
  </tr>
  </tbody>
</table>

