<h3>Reports | PAN Application Report</h3>
<div class="help_text">
  * <b>Export Date Report</b> -  To download All PAN Applications between various Date range as CSV file<br/>
  * <b>Export Date Collection Report</b> -  To download All PAN Application Collection between various Date range as PDF file<br/>
  * <b>Report Home</b> - Back to PAN Application Report home
</div>


    <%= link_to 'Export Date Report', {:action=>'pancard_daterangexport', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2",:title => "Download the Applications as CSV file" %>
    <%= link_to 'Export Date Collection Report', {:action=>'pancard_datepayment', :start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>"more tipTip2",:title => "Download the Applications collection as PDF file" %>
    <%= link_to 'PAN Report Home', {:action=>'pancards'}, :class=>'more tipTip1',:title => "Back to PAN Application Report Home" %>
<br/>
<br/>
<div id="div">
  <%= form_tag do -%>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
      </p>
      <fieldset>
      Select Start Date : <%= text_field_tag 'start_date', @start_date ? @start_date :Time.now.strftime('%d-%m-%Y'),:class=>"tipTip",:title=>"Select Start Date" %>
      Select End Date : <%= text_field_tag 'end_date', @end_date ? @end_date :Time.now.strftime('%d-%m-%Y'),:class=>"tipTip",:title=>"Select End Date" %>
      <%= submit_tag 'Get Applications' %>
      </fieldset>
  <% end -%>
  <div class="list">
    <table width="100%">
      <tr>
        <td align="right">
          <b>
            <i>per page</i>
          </b>
          <%= per_page %> | <%= page_entries_info @pancards, :entry_name => 'Application' %>
        </td>
      </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Status</th>
        <th>Application Number</th>
        <th>Transaction Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th>VLE ID</th>
        <th>VLE Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <% i=1 %>
      <% @pancards.each do |pancard| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if pancard.status == false %>
                  <font color='red'><b>P</b></font>
              <% else %>
                  <font color='green'><b>A</b></font>
              <% end %>
            </td>
            <td><%= pancard.panapplication_number %></td>
            <td><%= pancard.transaction_date.strftime('%d-%m-%Y') %></td>
            <td align="left"><%= pancard.first_name.titleize %>&nbsp;<%= pancard.middle_name.titleize %>&nbsp;<%= pancard.last_name.titleize %></td>
            <td align="right"><%= number_with_precision(pancard.amount, :precision=>2) %></td>
            <td>
              <%= UserProfile.find_by_user_id(pancard.user_id).vle_code %>
            </td>
            <td align="left">
              <%= User.find_by_id(pancard.user_id).name %>
            </td>
            <td><%= link_to 'View', pancard,:class=>"View Application" %>
          </tr>
          <% i = i + 1 %>
      <% end %>
    </table>
    <div class="apple_pagination">
      <%= page_entries_info @pancards, :entry_name => 'PAN Application' %><%= will_paginate @pancards, :container => false %>
    </div>
  </div>
</div>
<script>
    $(function() {
        $("#start_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
        $("#end_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
    });
</script>