<h3>Reports | PAN Application Report</h3>
    <%= link_to 'EOD Report Export', {:action=>'pancard_eodreport_export'}, :class=>'more' %>
    <%= link_to 'PAN Report Home', {:action=>'pancards'}, :class=>"more" %>

<div id="div">
  <div class="list">
    <table width="100%">
      <tr>
        <td align="right">
          <b>
            <i>per page</i>
          </b>
          <%= per_page %> | <%= page_entries_info @pancards, :entry_name => 'Application' %>
        </td>
      </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Status</th>
        <th>Application Number</th>
        <th>Transaction Date</th>
        <th>Name</th>
        <th>VLE ID</th>
        <th>VLE Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <% i=1 %>
      <% @pancards.each do |pancard| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if pancard.status == false %>
                  <font color='red'><b>P</b></font>
              <% else %>
                  <font color='green'><b>A</b></font>
              <% end %>
            </td>
            <td><%= pancard.panapplication_number %></td>
            <td><%= pancard.transaction_date.strftime('%d-%m-%Y') %></td>
            <td><%= pancard.first_name.titleize %> <%= pancard.middle_name.titleize %> <%= pancard.last_name.titleize %></td>
            <td>
              <%= UserProfile.find_by_user_id(pancard.user_id).vle_code %>
            </td>
            <td>
              <%= User.find_by_id(pancard.user_id).name %>
            </td>
            <td><%= link_to 'View', pancard %>
          </tr>
          <% i = i + 1 %>
      <% end %>
    </table>
    <div class="apple_pagination">
      <%= page_entries_info @pancards, :entry_name => 'PAN Application' %><%= will_paginate @pancards, :container => false %>
    </div>
  </div>
</div>