<h3>Reports | PAN Application Report</h3>
<div class="help_text">
  * <b>EOD Report</b> -  To download All PAN applications of Current Day as CSV file<br/>
  * <b>EOD Collection Report</b> -  To download All PAN applications Collection of Current Days as PDF file<br/>
  * <b>Date Range Report</b> -  To download All PAN applications between various Date Range<br/>
  * <b>Export All</b> - To download All PAN applications present in system as CSV file
</div>
<% if has_role?(:admin) or has_role?(:manager)%>
<%= link_to 'EOD Report', {:action=>'pancard_eodreport'},:class=>'more tipTip2',:title => "Download EOD Report as CSV file"%>
<%= link_to 'EOD Collection Report',{:action=>'pancard_eodpayment'},:class => 'more tipTip2',:title => "Download EOD Collection Report as PDF file"%>
<%= link_to 'Date Range Report', {:action=>'pancard_daterangereport'},:class=>'more tipTip2',:title => "Download Date Rage Report"%>
<%= link_to 'Export All', {:action=>'pancard_export'}, :class=>"more tipTip2",:title => "Download All PAN Applications as CSV file" %>
<%end%>
<div id="div">
  <div class="list">
    <table width="100%">
      <tr>
        <td align="right">
          <b>
            <i>per page</i>
          </b>
          <%= per_page %> | <%= page_entries_info @pancards, :entry_name => 'Application' %>
        </td>
      </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Status</th>
        <th>Application Number</th>
        <th>Transaction Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th>VLE ID</th>
        <th>VLE Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <% i=1 %>
      <% @pancards.each do |pancard| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if pancard.status == false %>
                  <font color='red'><b>P</b></font>
              <% else %>
                  <font color='green'><b>A</b></font>
              <% end %>
            </td>
            <td><%= pancard.panapplication_number %></td>
            <td><%= pancard.transaction_date.strftime('%d-%m-%Y') %></td>
            <td align="left"><%= pancard.first_name.titleize %> <%= pancard.middle_name.titleize %> <%= pancard.last_name.titleize %></td>
            <td align="right">
              <%= number_with_precision(pancard.amount, :precision=>2) %>
            </td>
            <td>
              <%= UserProfile.find_by_user_id(pancard.user_id).vle_code %>
            </td>
            <td align="left">
              <%= User.find_by_id(pancard.user_id).name %>
            </td>
            <td><%= link_to 'View', pancard,:class=>"tipTip2",:title => "View Transaction" %>
          </tr>
          <% i = i + 1 %>
      <% end %>
    </table>
    <div class="apple_pagination">
      <%= page_entries_info @pancards, :entry_name => 'PAN Application' %><%= will_paginate @pancards, :container => false %>
    </div>
  </div>
</div>