<h3>Users | Users Report</h3>
<div class="help_text">
  * Please Select the Start Date and End Date to get Log Details</br>
  * <b>Export Log Details </b> - To download the Users who logged the System for Start and End Dates.
</div>
<%= link_to 'Export Log Report', {:action => "user_log_export",:start_date=> @start_date ? @start_date :'', :end_date => @end_date ? @end_date :''}, :class=>'more tipTip1',:title => "Download All User Report as CSV file" %>
<%= link_to "User Report Home", {:action=>"users"}, :class=>'more tipTip2',:title => "Download User Log Report" %>
<%= form_tag do -%>
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
    Select Start Date<em>*</em> : <%= text_field_tag 'start_date', @start_date ? @start_date :'',:class=>"tipTip",:title=>"Select Start Date" %>
    Select End Date<em>*</em> : <%= text_field_tag 'end_date', @end_date ? @end_date :'',:class=>"tipTip",:title=>"Select End Date" %>
    <%= submit_tag 'Get Log Details' %>
    </fieldset>
<% end -%>

<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @users %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        S#
      </th>
      <th>
        Status
      </th>

      <th>
        Photo
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Mobile
      </th>
      <th>
        Division
      </th>
      <th>
        District
      </th>
      <th>
        Block
      </th>
      <th>
        Panchayat
      </th>
      <!--<th>-->
        <!--CSC Code-->
      <!--</th>-->
      <th>
        VLE ID
      </th>
      <th>
        Role
      </th>
      <!--<th>-->
        <!--Actions-->
      <!--</th>-->
    </tr>
    </thead>
    <% i = 1 %>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= model_status user %>
          </td>
          <td>
            <% if user.avatar.file? %>
                <%= image_tag user.avatar.url(:small) %>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <%= link_to user.name,user,:class=>"tipTip1 link",:title => "View User Details" %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.mobile_number %>
          </td>
          <% unless user.user_profile.nil? %>
              <td>
                <%= user.user_profile.division.name %>
              </td>
              <td>
                <%= user.user_profile.district.name %>
              </td>
              <td>
                <% if user.user_profile.block_id? %>
                    <%= user.user_profile.block.name %>
                <% else %>
                    -
                <% end %>
              </td>
              <td>
                <% if user.user_profile.panchayat? %>
                    <%= user.user_profile.panchayat %>
                <% else %>
                    -
                <% end %>
              </td>
              <!--<td>-->
                <!--<%= user.user_profile.csc_code %>-->
              <!--</td>-->
              <td>
                <%= user.user_profile.vle_code %>
              </td>
          <% else %>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
          <% end %>
          <td>
           <% user.roles.each do |role| %>
                <% if role.name == 'district_manager' %>
                    <font color="#ff4500"><b>DM</b></font>
                <% elsif role.name == 'district_engineer' %>
                    <font color="#ff4500"><b>DE</b></font>
                <% elsif role.name == "vle" %>
                    <font color="#dc143c"><b>VLE</b></font>
                <% elsif role.name == "csp" %>
                    <font color="#a52a2a"><b>CSP</b></font>
                <% end %>
            <% end %>
          </td>
          <!--<td>-->
            <!--<%= link_to 'View', user,:class=>"tipTip2",:title => "View User Details" %>-->
          <!--</td>-->
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  <div class="apple_pagination">
    <%= page_entries_info @users, :entry_name => 'User' %><%= will_paginate @users, :container => false %>
  </div>
</div>
<script>
    $(function() {
        $("#start_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
        $("#end_date").datepicker({dateFormat:'dd-mm-yy', maxDate:0 });
    });
</script>
