<h3>Users | User Account Report</h3>
<div class="help_text">
  * <b>All Users Account Report</b> -  All Users Account Report<br/>
</div>

<div class="list">
  <table width="100%">
    <tr>
      <td align="right">
        <b><i>per page</i></b>
        <%= per_page %>| <%= page_entries_info @users %>
      </td>
    </tr>
  </table>
  <table class="tablesorter" cellspacing="1">
    <thead>
    <tr>
      <th>
        S#
      </th>
      <th>
        Status
      </th>

      <th>
        Photo
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Mobile
      </th>
      <th>
        Division
      </th>
      <th>
        District
      </th>
      <th>
        Block
      </th>
      <th>
        Panchayat
      </th>
      <!--<th>-->
        <!--CSC Code-->
      <!--</th>-->
      <th>
        VLE ID
      </th>
      <th>
        Role
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <% i = 1 %>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= model_status user %>
          </td>
          <td>
            <% if user.avatar.file? %>
                <%= image_tag user.avatar.url(:small) %>
            <% else %>
                <%= image_tag "nophoto.jpg" %>
            <% end %>
          </td>
          <td>
            <%= link_to user.name,user,:class=>"tipTip1 link",:title => "View User Details" %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.mobile_number %>
          </td>
          <% unless user.user_profile.nil? %>
              <td>
                <%= user.user_profile.division.name %>
              </td>
              <td>
                <%= user.user_profile.district.name %>
              </td>
              <td>
                <% if user.user_profile.block_id? %>
                    <%= user.user_profile.block.name %>
                <% else %>
                    -
                <% end %>
              </td>
              <td>
                <% if user.user_profile.panchayat? %>
                    <%= user.user_profile.panchayat %>
                <% else %>
                    -
                <% end %>
              </td>
              <!--<td>-->
                <!--<%= user.user_profile.csc_code %>-->
              <!--</td>-->
              <td>
                <%= user.user_profile.vle_code %>
              </td>
          <% else %>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
              <td>
                --
              </td>
          <% end %>
          <td>
           <% user.roles.each do |role| %>
                <% if role.name == 'district_manager' %>
                    <font color="#ff4500"><b>DM</b></font>
                <% elsif role.name == 'district_engineer' %>
                    <font color="#ff4500"><b>DE</b></font>
                <% elsif role.name == "vle" %>
                    <font color="#dc143c"><b>VLE</b></font>
                <% elsif role.name == "csp" %>
                    <font color="#a52a2a"><b>CSP</b></font>
                <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to 'View Statement', {:action=>:account_statement,:id=>user.id},:class=>"tipTip2",:title => "View VLE Account Statement" %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  <div class="apple_pagination">
    <%= page_entries_info @users, :entry_name => 'User' %><%= will_paginate @users, :container => false %>
  </div>
</div>
