<h3>Users | District Wise User Report</h3>
<div class="help_text">
  * Select the District to download the District Report
</div>
<div class="form-container">
  <%= form_tag(:action=>'user_district_export') do %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
      </p>
      <fieldset>
        <div>
          <label for="name">
            Select District <em>*</em>
          </label>
          <%= select_tag :district_id, options_from_collection_for_select(District.order("name ASC"), :id, :name), {:prompt => 'Select Person'} %>
          <%= submit_tag 'Download', :class=>"btnEdit" %>
        </div>
      </fieldset>
  <% end %>
</div>
<div class="bottom_links">
  <%= link_to "Back to Users Report",:back,:class =>"tipTip1 more",:title => "Back to Users Report" %>
</div>
